@charset "UTF-8";

/*フッター
---------------------------------------------------------------------------*/
#footer {
	clear: both;
	height:200px;/*追加分*/
	position:absolute;/*追加分*/
	bottom:0;/*追加分*/
	padding: 20px 0px 0px 0px;
	width: 100%;
	text-align: center;	/*文字をセンタリング*/
	color: #ffffff;		/*文字色*/
	background: #968575;	/*背景色*/
}
#footer a {
	text-decoration: none;
	color: #FFFFFF;	/*文字色*/
}


.push {
  height: 200px;
}

/*フッターテーブル
---------------------------------------------------------------------------*/
.tafooter {
	margin: 0 auto;
	width: 1000px;	/*テーブル幅*/
}
.tafooter, .tafooter td, .ta1 th{
	line-height: 2;
}


/*フッター注意書き
---------------------------------------------------------------------------*/
.prfut{ 
	margin:30px;
	color: #ffffff;		/*文字色*/
	font-size: 10px;
}



/*ログイン画面用のフッター
---------------------------------------------------------------------------*/

.tafooterloginpage {
	clear: both;
	height:100px;/*追加分*/
	padding: 20px 0px 0px 0px;
	width: 100%;
	text-align: center;	/*文字をセンタリング*/
	color: #ffffff;		/*文字色*/
	background: #968575;	/*背景色*/
}


/*下部アイコン------------*/

#bottom_icon {
	clear: both;
	width: 100%;
	text-align: right;
}

/*ページ上部へ------------*/


#pagetop {
	clear: both;
    	position: fixed;
    	bottom: 20px;
    	right: 20px;
    	font-size: 50px;

	z-index: 50;
}
#pagetop a {
    background: #978475;
    text-decoration: none;
    color: #fff;
    width: 50px;
    padding: 0px 0px;
    text-align: center;
    display: block;
    border-radius: 50%;
}
#pagetop a:hover {
    text-decoration: none;
    color: #e80f57;
}


/*フッターログイン画面用デザイン------------*/

#footerloginpage{
	height:50px;/*追加分*/
	position:absolute;/*追加分*/
	bottom:0;/*追加分*/
	padding: 20px 0px 20px 0px;
	width: 100%;
	text-align: center;	/*文字をセンタリング*/
	color: #ffffff;		/*文字色*/
	background: #000;	/*背景色*/
	opacity: 0.4; 
}

#footerloginpage a {
	text-decoration: none;
	color: #FFFFFF;	/*文字色*/
}