

/*クチコミ一覧
---------------------------------------------------------------------------*/

.kutikomiristwaku{/*クチコミリスト全体の外枠*/
margin: 0px 0px 0px 0px;
}



/*口コミ一覧ページヘッダー
-----------------------*/
.kutikomihed {
font-size: 11px;
color: #000000;
margin: 0px 0px 20px 0px;
padding: 10px 0px 10px 0px;
}

.kutikomihednaka{
font-size: 12px;
background-color: #ffffff;  /* 背景色 */
margin: 0px 0px 10px 0px;
padding: 0px 0px 0px 0px;
background: url(/kanto/voice/img/kutikomilistline.gif) no-repeat bottom;
}

.kutikomikazu{/*口コミ数字*/
color: #ff3a7b;
font-size: 17px;
}

.kutikomihedsita{/*注意書き*/
font-size: 11px;
color: #6E6E6E;
margin: 0px 0px 0px 0px;
padding: 0px 0px 10px 0px;
background: url(/kanto/voice/img/kutikomilistline.gif) no-repeat bottom;
}


/*検索ボックス,口コミソートエリア
---------------------------------------------------------------------------*/

.kutikomisearchwaku{/*外枠-*/
margin: 5px 0px 10px 0px;
padding: 0px 0px 0px 0px;
}

.kutikomisearchkleft{/*左ボックス-*/
float: left;
margin: 0px 0px 5px 0px;
padding: 18px 0px 0px 0px;
color: #413324;
}

ul.kutikomisout li{/*左ボックスのliタグ横並び-*/
display: inline;
margin-right: 2px;
}

.kutikomisearchright{/*右ボックス-*/
margin: 10px 0px 5px 0px;
padding: 0px 0px 0px 0px;
float: right;}


.cria{/*センター-*/
clear:both;
}

/*検索ボックス
---------------------------------------------------------------------------*/

.kutikomisearch{
    margin:10px 0 0 0 ;
}

form{
    width:280px;
    margin:0 auto;
}
.search {
    width:150px;
    padding:6px 15px 6px 38px;
    margin:3px;
    background: url('/kanto/voice/img/search.png') no-repeat 0px 3px;
}

.rounded {
    border-radius:5px;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
}
input[type=text]{
    color:#424242;
}

input[type=button], input[type=button]:hover {
    position:relative;
    left:-16px;
    border:1px solid #d64e80;
    background: #e8b2c7; /* Old browsers */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e4f1f9', endColorstr='#d5e7f3',GradientType=0 ); /* IE6-9 */
    color:#ffffff;
    cursor: pointer;
}


.light{ margin:0px 0px 10px 0px;
	border-right: 1px solid #a2a2a2;	/*右側の線の幅、線種、色*/
	border-bottom: 1px solid #a2a2a2;	/*下側の線の幅、線種、色*/
	border-left: 1px solid #a2a2a2;		/*左側の線の幅、線種、色*/
	background: #FFFFFF;	/*背景色*/
	padding: 8px;	/*ボックス内の余白*/}

.llight input[type=text]{
    border:1px solid #d0d0d0;
    background-color:#fcfcfc;
}


/*口コミデザインは他css。ここでは点数の高さだけ調整
---------------------------------------------------------------------------*/

.rightbox .contents .item ul.shopinfo .vote img{/*高さ調整*/
vertical-align: -3px;
}



/*右再検索部分※サーチ結果店舗リストページをベースに変更
-----------------------*/

#lesearch{/*右再検索外枠*/
border-bottom:1px dotted #a2a2a2;
border-left:1px dotted  #a2a2a2;
border-right:1px dotted  #a2a2a2;
padding: 0px 0px 8px 0px;
}

.lesearchtext li{/*リスト部分*/
padding: 5px 0px 0px 20px;
}

.boxline{/*仕切りライン---*/
margin: 5px 0px 5px 0px;
padding: 0px 0px 0px 0px;
text-align: center;
}

.lesearchbotan{/*サーチボタン---*/
margin: 30px 0px 0px 0px;
padding: 0px 0px 0px 0px;
text-align: center;
}


.lesearchtext li .listspc{
margin-left: 5px;
}



.endbtn {/*サーチボタンデザイン---*/
	-moz-box-shadow: 0px 1px 0px 0px #f0f7fa;
	-webkit-box-shadow: 0px 1px 0px 0px #f0f7fa;
	box-shadow: 0px 1px 0px 0px #f0f7fa;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #62bfee), color-stop(1, #32adea));
	background:-moz-linear-gradient(top, #62bfee 5%, #32adea 100%);
	background:-webkit-linear-gradient(top, #62bfee 5%, #32adea 100%);
	background:-o-linear-gradient(top, #62bfee 5%, #32adea 100%);
	background:-ms-linear-gradient(top, #62bfee 5%, #32adea 100%);
	background:linear-gradient(to bottom, #62bfee 5%, #32adea 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#62bfee', endColorstr='#32adea',GradientType=0);
	background-color:#62bfee;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	border-radius:4px;
	border:1px solid #1598d9;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-size:14px;
	padding:10px 28px;
	text-decoration:none;
 	-webkit-box-shadow:inset 0px 0.5px 1px 0.5px #AED5E9;
 	-moz-box-shadow:inset 0px 0.5px 1px 0.5px #AED5E9;
 	box-shadow:inset 0px 0.5px 1px 0.5px #AED5E9;
}
.endbtn:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #32adea), color-stop(1, #62bfee));
	background:-moz-linear-gradient(top, #32adea 5%, #62bfee 100%);
	background:-webkit-linear-gradient(top, #32adea 5%, #62bfee 100%);
	background:-o-linear-gradient(top, #32adea 5%, #62bfee 100%);
	background:-ms-linear-gradient(top, #32adea 5%, #62bfee 100%);
	background:linear-gradient(to bottom, #32adea 5%, #62bfee 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#32adea', endColorstr='#62bfee',GradientType=0);
	background-color:#32adea;
}
.endbtn:active {
	position:relative;
	top:1px;
}

/*再検索サブタイトル
-----------------------*/

.lesearchtitle{/*タイトル---*/
padding: 0px 0px 0px 16px;}


/*チェックボックス
-----------------------*/
input[type=checkbox] {
    width: 18px;
    height: 18px;
    vertical-align: middle;
}
input[type=radio] {
    width: 18px;
    height: 18px;
    vertical-align: middle;
}


/*250×250のバナー
-----------------------*/
.pr250{/*バナー---*/
text-align: center;
padding: 40px 0px 0px 0px;
}





/*1,2,3,4のデザイン-------------------------
*/
#paginate{
border:1px dotted #a2a2a2;
}

#nextcaunt ul{
list-style: none;
margin: 10px 0px 10px 0px;
padding: 0px 0px 10px 0px;
}

#nextcaunt li{ 
display: inline; 
padding: 0; 
margin: 0; 
float: left;
}

#nextcaunt li a{
display: block; 
border: 1px solid #DDD;
background-color: #EEE;
padding: 3px;
text-decoration: none;
color: #333;
width: 38px; 
margin: 1px 10px 0 0;
text-align: center;
font-size: 14px;
}

#nextcaunt li a:hover{
background-color: #e80f57;
color: #fff;
}

/*1,2,3,4のデザイン-------------------------*/



/* 1234デザインの下枠*/

.ander{
margin: 0px 0px 30px 0px;
padding: 0px 0px 20px 0px;
}
