
.kutikomipagenation{/*ページネーション*/
	height: 40px;
	margin: 30px 0px 20px 0px;
	padding: 0px 20px 20px 20px;
	border-top: 1px solid #f1eae2;
	border-bottom: 1px solid #f1eae2;

}


.fa {/*アイコン*/
	margin: 0px 5px 0px 5px;
}

#kutikomipagenationbotan ul{ /*口コミ次ボタン*/
	position: relative;
	left: 50%;
	float:left;
	margin: 0; 
	padding: 0; 
	list-style: none; 
}

#kutikomipagenationbotan li{ 
	padding: 0; 
	margin: 0; 
	position: relative;
	left: -50%;
	float:left;
}

#kutikomipagenationbotan li a{
	display: block; 
	text-decoration: none;
	width: 190px; 
	height: 30px;
	margin: 10px 6px 0px 6px;
	padding: 6px 0px 0px 0px;
	text-align: center;
        border:1px solid #d7dada; -webkit-border-radius: 3px; 
	-moz-border-radius: 3px;
	border-radius: 3px;
	font-size:13px;
	text-decoration:none; display:inline-block;
	text-shadow: -1px -1px 0 rgba(255,255,255,0.3); color: #424242;
        background-color: #f4f5f5; background-image: -webkit-gradient(linear, left top, left bottom, from(#f4f5f5), to(#dfdddd));
        background-image: -webkit-linear-gradient(top, #f4f5f5, #dfdddd);
        background-image: -moz-linear-gradient(top, #f4f5f5, #dfdddd);
        background-image: -ms-linear-gradient(top, #f4f5f5, #dfdddd);
        background-image: -o-linear-gradient(top, #f4f5f5, #dfdddd);
        background-image: linear-gradient(to bottom, #f4f5f5, #dfdddd);
	filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#f4f5f5, endColorstr=#dfdddd);
	color: #6E6E6E;
}

#kutikomipagenationbotan li a:hover{
	display: block; 
	text-decoration: underline;
	color: #e80f57;

}


/*-----------口コミ全文のデザイン-----------------*/


#balloon-1-bottom {/*--口コミ上段外枠--*/
	margin: -8px 0px 0px 0px;
	padding-bottom: 15px;
	border-top: 1px solid #E5E5E5;
    border-left: 1px solid #E5E5E5;
	border-right: 1px solid #E5E5E5;
	border-radius: 2px;
}



.kutikomizoomupleft1{/*--口コミ上段左 ユーザープロフィール画像--*/
	margin: 0px 0px 0px 75px;
	padding: 15px 0px 0px 0px;
	float:left; 
}

.kutikomizoomupleft1 img{
	border-radius: 50% ;
}

.usernameeria{/*ユーザープロフィール名前*/
	line-height: 17px;
	margin: 25px 0px 0px 5px;
	float:left; 
	font-size:15px;
	color: #2F1D0A;
}

.oltoukousuu{/*ユーザーのエリアと投稿数*/
	font-size:11px;
}

.kutikomizoomupright1{/*口コミ上段　右*/
	float:right; 
}

.kutikomirankicon{/*--信憑性--*/
	margin: 0px 30px 0px 0px;
	padding: 20px 0px 0px 0px;
	color: #6E6E6E;
	text-align: right;
}


.kutikomizoomupcenterbottom{/*--この口コミは※と判断されました--*/
	text-align: right;
	border: 1px #D4D4D4;
}

.clear{
	clear:both;
}




.kutikomizoomup-bottom {/*--吹き出しデザインと口コミ下部分--*/
	color: #19283C;
	position: relative;
	display: inline-block;
	padding: 0 15px;
	width: 648px;
	border-radius: 2px;
	border-top: 1px solid #E5E5E5;;
    border-left: 1px solid #E5E5E5;
	border-right: 1px solid #E5E5E5;
	border-bottom: 2px solid #E5E5E5;
	z-index: 0;
}
.kutikomizoomup-bottom:before {
	content: "";
	position: absolute;
	top: -8px; left: 50%;
	margin-left: -9px;
	display: block;
	width: 0px;
	height: 0px;
	border-style: solid;
	border-width: 0 9px 9px 9px;
	border-color: transparent transparent #fff transparent;
	z-index: 0;
}
.kutikomizoomup-bottom:after {
	content: "";
	position: absolute;
	top: -11px; left: 50%;
	margin-left: -10px;
	display: block;
	width: 0px;
	height: 0px;
	border-style: solid;
	border-width: 0 10px 10px 10px;
	border-color: transparent transparent #D4D4D4 transparent;
	z-index: -1;
}




.kutikomizoomupleft2{/*--口コミ下段左--*/
	float:left; 
}

.kutikomizoomupright2{/*--口コミ下段右--*/
	float:right; 
	margin: 60px 20px 0px 0px;
}


.kutikomizoomuptitel{/*--口コミタイトル--*/
	color: #5F5B51;
	margin: 20px 0px 0px 30px;
	font-size:16px;
	font-weight: bold;
}

.kutikomizoomtime{/*投稿時間*/
	color: #6E6E6E;
}


.userhosi{/*--口コミ投稿用の★--*/
	margin: 0px 0px 0px 30px;
}

.userhosi img{/*--★と点数の高さ--*/
	vertical-align: -2px;
}

.userscor{/*--口コミ点数--*/
	margin: 0px 0px 0px 5px;
	color: #e80f57;
	font-size: 17px;
	font-weight:bold;
}

.userhiyouka{/*--一言評価--*/
	margin: 0px 0px 0px 5px;
	color: #6E6E6E;
	font-size: 12px
}

.kutikomizoomupcenter{/*--口コミ※注意書き--*/
	clear:both; 
	color: #6E6E6E;
	font-size: 12px;
	line-height: 16px;
	margin: 10px 30px 20px 30px;
}

.kutikomizoomupnakawaku{/*--口コミ本文中枠--*/
	margin: 30px 15px 0px 15px;
}

.kutikomizoomupkoumokuwaku{/*--口コミ本文の各項目枠--*/
	border: 1px solid #F7BE81;
	padding: 0px 0px 0px 2px;
	width: 260px;
	border-radius: 3px;
}
.kutikomizoomupkoumokuwakul{/*--口コミ本文の各項目枠エル--*/
	border: 1px solid #F7BE81;
	padding: 0px 0px 0px 2px;
	width: 285px;
	border-radius: 3px;
}

.kutikomizoomupkoumokutitle{/*--口コミ本文の各項目タイトル--*/
	margin: 10px 0px 5px 5px;
	color: #E3821A;
	font-size: 13px;
}


.kutikomizoomupkoumokuhonbun{/*--口コミ本文の各項目本文--*/
	margin: 6px 5px 20px 5px;
	line-height: 20px;
	font-size: 14px;
	color:#413324;
}


.kutikomizoomupbottmwaku{/*--口コミ本文下--*/
	color: #000;
	font-size: 13px;
	border-top: 1px dotted #F7BE81;
	height: 60px;
	margin: 10px 0px 0px 0px;
}


.kutikomizoomupbottmwaku a{/*--口コミ本文下--*/
	margin: 10px 0px 0px 30px;
}


/*-----------------------------------------------参考ボタン---------------------*/

.fa-heart{/*--アイコンボタンハート--*/
	color: #e80f57;
	margin: 0px 3px 0px 0px;
}


.kutikomizoomupbottmwakuleft{/*--下の左--*/
	float:left;
	margin: 18px 0px 0px 0px;
}

.kutikomizoomupbottmwakuleft a{/*--下の左色--*/
	color: #6E6E6E;
	text-decoration: underline;
}


.kutikomizoomupbottmwakuright{/*--下の右--*/
	float:right;
	font-size:12px;
	margin: 18px 30px 0px 0px;
}

.kutikomizoomupbottmwakuright a{
	color: #6E6E6E;
}


.kutikomizoomupbottmwakucen{/*--下のセンター--*/
	clear:both;
	font-size:16px;
}




.prvoicebottom{/*--広告--*/
	margin:40px auto;
	text-align: center; 
}


