
.toukouwaku{/*フォーム外枠*/
width: 100%;
padding: 0px 0px 0px 0px;   
margin: 50px 0px 0px 0px;
}


.toukouhed{/*口コミフォームヘッド*/
border: 2px solid #e80f57;
border-radius: 2px;
text-align: center;
padding: 10px 10px 10px 10px;
margin: 10px 0 30px 0;

font-size: 13px;
font-weight: bold;
}


.toukoutixyuui{/*注意書き*/
border: 2px solid #f1eae2;
border-radius: 3px;
padding: 10px 10px 10px 10px;   
margin: 30px 0px 20px 0px;
}
.redtext{/*注意書き*/
color: #FF0000;
}

.kutikomitaitle{/*タブメニュー項目タイトル*/
	text-align: center;
}


.postblok{
	margin-top: 80px;
}


/*ナビメニュー
---------------------------------------------------------------------------*/
#postingmenu ul{ 
	margin: 0; 
	padding: 0; 
	list-style: none; 
}
#postingmenu li{ 
	display: inline; 
	padding: 0; 
	margin: 0; 
	float: left;
}

#postingmenu li a{
	display: block; 
	border-right: 1px solid #fff;/* 縦線 */
	background: #030203;/* ボタン背景カラー */
	background-image: -webkit-linear-gradient(top, #030203, #3b3837);
	background-image: -moz-linear-gradient(top, #030203, #3b3837);
	background-image: -ms-linear-gradient(top, #030203, #3b3837);
	background-image: -o-linear-gradient(top, #030203, #3b3837);
	background-image: linear-gradient(to bottom, #030203, #3b3837);
	padding: 5px 10px;
	text-decoration: none;
	color: #fff;
	width: 319px;
	text-align: center;
	vertical-align: middle;
	font-size: 13px;
}


#postingmenu li a:hover{
	background: #e80f57;/* ピンク */
}



#postingmenu li .activ{
	display: block; 
	border-right: 1px solid #fff;/* 縦線 */
	background: #e80f57;/* ピンク */
	padding: 5px 10px;
	text-decoration: none;
	color: #fff;
	width: 319px;
	text-align: center;
	vertical-align: middle;
	font-size: 13px;
}


/*仕切り線
--------------------*/
.sikiri{ 
height:0; 
border:0; 
border-top:1px solid #ccc; 
border-bottom:1px solid #fff; 
width: 80%;
} 



.kutikomifrom{/*口コミフォーム外枠*/

	margin: 20px auto;
	padding: 0 40px;
	border-top: 1px solid #E5E5E5;;
    border-left: 1px solid #E5E5E5;
	border-right: 1px solid #E5E5E5;
	border-bottom: 2px solid #E5E5E5;
	border-radius: 2px;
}


/*ドロップアップロード
--------------------*/
#dropto {
	background: #FFC;
	border: 2px dashed #CCC;
	height: 400px;
	line-height:200px;
	text-align: center;
	color: #CCC;
	 border-radius: 4px;
}
#dropto.over { background: lightgreen; }
#progress { width: 100%; }
#percent { background: #55d49b; margin: 20px 0; width: 0; height: 10px; }



/*ドロップアップロードアイコンカメラサイズ
--------------------*/
.upcamera{
Font-size: 22px;
font-weight: bold;
}


.dropicon{
	Font-size: 150px;
	font-weight: bold;
	color: #E4E4E4;
}

.title .redcount{
	color: #e80f57;
}