﻿@charset "UTF-8";




/*トップページコンテンツ「口コミ更新情報」ブロック
---------------------------------------------------------------------------*/
#main .kutikomi {
	margin: 0px 0px 0px 0px;
	padding: 5px 0px 10px 0px;
	overflow: auto;
	height: 390px;
	width: 678px;
	border:1px solid #D9D8D8;
	box-shadow:rgba(122, 122, 122, 0.0588235) 0px 0px 6px 3px;
	-webkit-box-shadow:rgba(122, 122, 122, 0.0588235) 0px 0px 6px 3px;
	-moz-box-shadow:rgba(122, 122, 122, 0.0588235) 0px 0px 6px 3px;
	-moz-border-radius: 2px;    
   	-webkit-border-radius: 2px; 
   	border-radius: 2px;
}


.kutikomibox {/*1口コミに対するボックス*/
	padding: 5px;	/*ボックス内の余白*/
	font-size: 11px;	/*文字サイズ*/
	line-height: 1.2;	/*行間*/
	width: 650px;	/*ボックス幅*/
	overflow: hidden;
}

.plofimg {/*左ボックス、会員画像と名前*/
	margin: 5px 0px 0px 0px;
	float: left;
	width: 90px;	
	text-align: center;
}

.plofimg img{
	border-radius: 50% ;
}

.usernamehavar{/*口コミサムネイルのユーザーネーム*/
	color: #2F1D0A;
}

.usernamehavar:hover{
	color: #e80f57;
}

.usernamehavar img{
	border-radius: 50% ;
}


.shopkutikomiranks{/*信憑性あり!(赤)*/
	text-align: center;
	color: #DE170F;
	border: #DE170F 1px solid;
	border-radius:2px;
	margin: 15px 0px 0px 0px;
	padding: 1px 0px 1px 0px;
	width: 85px;	
}
.shopkutikomiranka{/*信憑性少しあり(オレンジ)*/
	text-align: center;
	color: #FF8410;
	border: #FF8410 1px solid;
	border-radius:2px;
	margin: 15px 0px 0px 0px;
	padding: 1px 0px 1px 0px;
	width: 85px;
}
.shopkutikomirankb{/*信憑性イマイチ(緑)*/
	text-align: center;
	color: #67AB9F;
	border: #67AB9F 1px solid;
	border-radius:2px;
	margin: 15px 0px 0px 0px;
	padding: 1px 0px 1px 0px;
	width: 85px;
}
.shopkutikomirankc{/*信憑性なし(青)*/
	text-align: center;
	color: #286BCC;
	border: #286BCC 1px solid;
	border-radius:2px;
	margin: 15px 0px 0px 0px;
	padding: 1px 0px 1px 0px;;
	width: 85px;
}
.shopkutikomirankd{/*判定出来ず(灰色)*/
	text-align: center;
	color: #666666;
	border: #666666 1px solid;
	border-radius:2px;
	margin: 15px 0px 0px 0px;
	padding: 1px 0px 1px 0px;
	width: 85px;
}

/*口コミ吹き出し*/
.shopkutikomi {/*右ボックス、口コミ店とタイトル*/
	float: right;
	font-size: 12px;	/*文字サイズ*/
	width: 510px;	
	margin: 0px 0px 0px 5px;
	display:inline-block;/*ここから吹き出しデザイン*/
	position: relative;
	padding:20px;
	border-radius:3px;
	border: 2px solid #f1eae2;
}


.shopkutikomi:after {
 	position: absolute;
 	content: " ";
 	height: 0;
 	width: 0;
}

.shopkutikomi-left:after {
 	right: 100%;
	 top: 50%;
 	border:10px solid transparent;
 	border-right:10px solid #f1eae2;
 	margin-top: -55px;
}
/*ここまで吹き出しデザイン*/

/*マウスオーバー*/

.shopkutikomi:hover {
	border: 2px solid #e80f57;
}
.shopkutikomi:hover:after {
	border-right:10px solid #e80f57;
}


.kutikomibox p{
	padding: 0px;
}

.kutikomibox p.img a img {
	margin: 0px 0px 0px 5px;
	border: 1px solid #958574;	/*画像の枠線の幅、線種、色*/
}

.kutikomibox p.img a:hover img {
	border: 1px solid #958574;	/*マウスオン時の枠線の幅、線種、色*/
}


.indexsterpink{/*評価*/
	margin: 6px 0px 0px 0px;
	color: #ff3a7b;
	font-size: 15px;
	font-weight:bold;
}

.indexsterpink img{/*高さ調整*/
	vertical-align: text-top;
}


.indexsikiri{/*店名との仕切り線*/
    border: 0;
    height: 1px;
　　background: #fff;
    background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.20), rgba(0,0,0,0));
    background-image:    -moz-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.20), rgba(0,0,0,0));
    background-image:     -ms-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.20), rgba(0,0,0,0));
    background-image:      -o-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.20), rgba(0,0,0,0));
    width: 300px;
    text-align:left;
    margin-left:0px;
}

.kutikomirisutoshop{/*ショップ名*/
	margin: 0px 0px 0px 0px;
	font-size: 12px;
}

.kutikomirisutoshop a{/*ショップ名*/
	text-decoration: none;
}

span.workareakutikomi{/*地域業種*/
	font-size: 11px;
	color: #6E6E6E;
	margin: 0px 0px 0px 5px;
}

.kutikomititleindex {/*口コミタイトル*/
	margin: 6px 0px 0px 0px;
	font-size: 14px;
	font-weight:bold;
}

.kutikomititleindex a{/*口コミタイトル色*/
	color: #5F5B51;
}

.time{/*投稿時間*/
	color: #6E6E6E;
	text-align: right;
	font-size: 11px;
}


.kutikomiristhonbun{/*口コミ文*/
	margin: 10px 0px 0px 0px;
	color:#8B8B8B;
	font-size: 12px;
	line-height: 15px
}


.nextkutikomis{/*続きを見る*/
	margin: 8px 0px 0px 0px;
	text-decoration: underline;
}







  /*----------------------------------見出し----------------------------------------*/
.tabtextsaiz{
	font-size:14px;}


.mycatch{/*見出し*/
margin: 40px 0px 30px 0px;
font-size: 13px;	/*文字サイズ*/
font-weight:bold;
line-height: 30px;
color: #FFFFFF;	/*文字色*/
background: url(/kanto/common/img/title_bg.gif) no-repeat center;	/*背景画像の読み込み*/
width: 648px;
padding-left: 30px;
clear: both;
border: 1px solid #968575;
}
