/*
 *  Remodal - v1.1.0
 *  Responsive, lightweight, fast, synchronized with CSS animations, fully customizable modal window plugin with declarative configuration and hash tracking.
 *  http://vodkabears.github.io/remodal/
 *
 *  Made by Ilya Makarov
 *  Under MIT License
 */

/* ==========================================================================
   Remodal's necessary styles
   ========================================================================== */

/* Hide scroll bar */

html.remodal-is-locked {
  overflow: hidden;

  -ms-touch-action: none;
  touch-action: none;
}

/* Anti FOUC */

.remodal,
[data-remodal-id] {
  display: none;
}

/* Necessary styles of the overlay */

.remodal-overlay {
  position: fixed;
  z-index: 9999;
  top: -5000px;
  right: -5000px;
  bottom: -5000px;
  left: -5000px;

  display: none;
}

/* Necessary styles of the wrapper */

.remodal-wrapper {
  position: fixed;
  z-index: 10000;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: none;
  overflow: auto;
  text-align: center;

  -webkit-overflow-scrolling: touch;
}

.remodal-wrapper:after {
  display: inline-block;
  height: 100%;
  margin-left: -0.05em;
  content: "";
}

/* Fix iPad, iPhone glitches */

.remodal-overlay,
.remodal-wrapper {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

/* Necessary styles of the modal dialog */

.remodal {
  position: relative;

  outline: none;

  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

.remodal-is-initialized {
  /* Disable Anti-FOUC */
  display: inline-block;
}



/*検索ボックス
---------------------------------------------------------------------------*/

#modaltitle {
	font-size:14px;
}

::-webkit-input-placeholder {
	text-align:center;
}

:-moz-placeholder { /* Firefox 18- */
	text-align:center;
}

::-moz-placeholder {  /* Firefox 19+ */
   text-align:center;
}

:-ms-input-placeholder {
	text-align:center;
}

.modallight{ /*検索ボックス*/
	margin:0px 0px 10px 0px;
	border-top: 1px solid #d0d0d0;
	border-right: 1px solid #d0d0d0;
	border-bottom: 1px solid #d0d0d0;
	border-left: 1px solid #d0d0d0;
	background: #FFFFFF;	/*背景色*/
	padding: 8px 8px 8px 14px;	/*ボックス内の余白*/
}

form, input {
  margin: 0; /* マージンをリセット */
}
form {
  position: relative; /* 基準位置とする */
} 
input[type="modalsearch"] {
        background-color: #f1eae2;
        border: 0;
        height: 30px;
        width: 290px;
        padding: 0 10px; 
  	box-sizing: content-box; /* 幅にパディングを含めない */
	border: 2px solid #f1eae2;
	border-radius:2px;
	color:#413324;
	font-size: 14px;
} 


input[type="search"]:focus {
  background:rgba(251,215,162,0); /* 背景色を半透明に */
	border: 2px solid #E2DCD4;
}


::-webkit-input-placeholder {color: #BDBDBD} 
/*Firefox 19以降*/ 
::-moz-placeholder  {color: #BDBDBD} 
/*Firefox 18以前*/ 
:-moz-placeholder   {color: #BDBDBD} 
/*Windows IE*/ 
:-ms-input-placeholder  {color: #BDBDBD}  
