/*
 * Swiper - Mobile Touch Slider CSS
 * http://www.idangero.us/sliders/swiper
 *
 * Vladimir Kharlampidi, The iDangero.us
 * http://www.idangero.us/
 * 
 * Copyright 2012-2013, Vladimir Kharlampidi
 * The iDangero.us
 * http://www.idangero.us
 *
 * Licensed under GPL & MIT
 *
*/

/* ===============================================================
Basic Swiper Styles 
================================================================*/

.swiper-container, .swiper-container .swiper-slide {
	height: 160px;
	margin: auto;
	position:relative;
}

.swiper-container {
	margin:0 auto;
	position:relative;
	overflow:hidden;
	-webkit-backface-visibility:hidden;
	-moz-backface-visibility:hidden;
	-ms-backface-visibility:hidden;
	-o-backface-visibility:hidden;
	backface-visibility:hidden;
	/* Fix of Webkit flickering */
	z-index:1;
}
.swiper-wrapper {
	position:relative;
	width:100%;
	-webkit-transition-property:-webkit-transform, left, top;
	-webkit-transition-duration:0s;
	-webkit-transform:translate3d(0px,0,0);
	-webkit-transition-timing-function:ease;
	
	-moz-transition-property:-moz-transform, left, top;
	-moz-transition-duration:0s;
	-moz-transform:translate3d(0px,0,0);
	-moz-transition-timing-function:ease;
	
	-o-transition-property:-o-transform, left, top;
	-o-transition-duration:0s;
	-o-transform:translate3d(0px,0,0);
	-o-transition-timing-function:ease;
	-o-transform:translate(0px,0px);
	
	-ms-transition-property:-ms-transform, left, top;
	-ms-transition-duration:0s;
	-ms-transform:translate3d(0px,0,0);
	-ms-transition-timing-function:ease;
	
	transition-property:transform, left, top;
	transition-duration:0s;
	transform:translate3d(0px,0,0);
	transition-timing-function:ease;

	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
}
.swiper-free-mode > .swiper-wrapper {
	-webkit-transition-timing-function: ease-out;
	-moz-transition-timing-function: ease-out;
	-ms-transition-timing-function: ease-out;
	-o-transition-timing-function: ease-out;
	transition-timing-function: ease-out;
	margin: 0 auto;
}
.swiper-slide {
	position:relative;
	float: left;
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
}

/* IE10 Windows Phone 8 Fixes */
.swiper-wp8-horizontal {
	-ms-touch-action: pan-y;
}
.swiper-wp8-vertical {
	-ms-touch-action: pan-x;
}


/* ===============================================================
Pagination Styles
================================================================*/

.device{
	overflow:hidden;
	width:100%;
}


.pagination {
	overflow: hidden;
	text-align: center;
	width: 62.5%;
	margin: auto;
	line-height: 38px;
	background: -moz-linear-gradient(top,  #fefefe 0%, #fefefe 52%, #f1f1f1 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fefefe), color-stop(52%,#fefefe), color-stop(100%,#f1f1f1)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #fefefe 0%,#fefefe 52%,#f1f1f1 100%); /* Chrome10+,Safari5.1+ */
	background: linear-gradient(to bottom,  #fefefe 0%,#fefefe 52%,#f1f1f1 100%); /* W3C */
}

.index .pagination{
	float: left;
}

.job .pagination{
	padding: 10px 0;
}

.swiper-pagination-switch {
	/* Stylize pagination button: */	
	display: inline-block;
	width: 10px;
	height: 10px;
	border-radius: 10px;
	background: #ddd;
	margin: 0 3px;
	cursor: pointer;

}


.swiper-active-switch {
	/* Specific active button style: */	
	background-color:#82705F;		
}
.swiper-visible-switch {
	/* Specific visible button style: */	
	
}

.arrow-left{
	float:left;
}

.arrow-right{
	float:right;
}

.job .arrow-left{
	position: absolute;
	bottom: 0;
}

.job .arrow-right{
	position: absolute;
	bottom: 0;
	right: 0;
}

.arrow-right,
.arrow-left{
	position: relative;	
	display:block;
	width:18.75%;
	height:38px;
	background: -moz-linear-gradient(top,  #fe8faf 0%, #f56a93 49%, #f15d81 50%, #f08aaf 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fe8faf), color-stop(49%,#f56a93), color-stop(50%,#f15d81), color-stop(100%,#f08aaf)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #fe8faf 0%,#f56a93 49%,#f15d81 50%,#f08aaf 100%); /* Chrome10+,Safari5.1+ */
	background: linear-gradient(to bottom,  #fe8faf 0%,#f56a93 49%,#f15d81 50%,#f08aaf 100%); /* W3C */
}

.arrow-right:before,
.arrow-right:after {
	position: absolute;
	top: 50%;
	left: 50%;
	display: block;
	content: '';
	width: 12px;
	height: 3px;
	background-color: #fff;
	border-radius: 4px;
}

.arrow-right:before {
	margin-top: -4px;
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
}
.arrow-right:after {
	margin-top: 3px;
	-webkit-transform: rotate(-45deg);
	transform: rotate(-45deg);
}

.arrow-left:before,
.arrow-left:after {
	position: absolute;
	top: 50%;
	right: 50%;
	display: block;
	content: '';
	width: 12px;
	height: 3px;
	background-color: #fff;
	border-radius: 4px;
}

.arrow-left:before {
	margin-top: -4px;
	-webkit-transform: rotate(-45deg);
	transform: rotate(-45deg);
}
.arrow-left:after {
	margin-top: 3px;
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
}


/* ===============================================================
ランキング
================================================================*/

.swiper2{
	overflow:hidden;
	position:relative;
	height:220px;
	padding-top:3px;
}

.arrow-right2{
	position:absolute;
	right:3.125%;
	top:3px;	
	display:block;	
	width:15px;
	border:solid 1px #DDCBBD;
	background: -moz-linear-gradient(top,  #ffffff 0%, #ffffff 73%, #f4efec 96%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(73%,#ffffff), color-stop(96%,#f4efec)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #ffffff 0%,#ffffff 73%,#f4efec 96%); /* Chrome10+,Safari5.1+ */
	background: linear-gradient(to bottom,  #ffffff 0%,#ffffff 73%,#f4efec 96%); /* W3C */
}

.arrow-right2:before,
.arrow-right2:after {
	position: absolute;
	top: 50%;
	left: 2px;
	display: block;
	content: '';
	width: 12px;
	height: 3px;
	background-color: #F35A81;
	border-radius: 4px;
}

.arrow-right2:before {
	margin-top: -4px;
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
}
.arrow-right2:after {
	margin-top: 3px;
	-webkit-transform: rotate(-45deg);
	transform: rotate(-45deg);
}

.index #indexRank .rankInner{
	position:relative;
	overflow:hidden;
	margin:auto;
	padding:0 8% 0 3.125%;
}

.index #indexRank p{
	margin-right:5px;
	margin-bottom:5px;
}

.index #indexRank  h2{
	margin-bottom:10px;
}

.index #indexRank dl{
	padding-top:3px;
}

index #indexRank dd img{
	width:1rem;
	vertical-align:baseline;
}

.index #indexRank dt{
	margin-bottom:5px;
	color:#624028;	
	font-size:1.2rem;
}

.index #indexRank dd:-first-of-type{
	font-size:1rem;
	color:#6D6D6D;
}

.index #indexRank dd{
	margin-bottom:5px;
}

.index #indexRank dd img{
	width:15px;
}

.index #indexRank  .boxStar .starNum{
	display:block;
	padding-left:0;
	padding-right:5px;
	font-size:1.4rem;
	color:#F15F84;
	text-align:right;
}

.index #indexRank  .boxStar .starNum span{
	font-size:1.1rem;
	color:#633F26;
}

.index #indexRank .order{
	position:absolute;
	right:5px;
	top:-3px;
}

.index #indexRank .rankNum{
	width: 25px;
	height: 27.5px;
}


