@charset "UTF-8";
/* CSS Document */
.selectWrap {
  overflow: hidden;
}
.selectWrap select {
  width: 130%;
  border: none;
}

/*-----------------------------------------------------

basebox

------------------------------------------------------*/
.baseBox {
  overflow: hidden;
  width: 100%;
  padding: 10px 3.125%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.baseBox .boxImg {
  float: left;
}
.baseBox .boxImg figcaption {
  padding-top: 5px;
  text-align: center;
}
.baseBox .boxImg figcaption span {
  color: #F75F85;
}
.baseBox .boxCnt {
  float: right;
}
.baseBox .boxCnt p {
  margin-bottom: 5px;
}
.baseBox .boxBorder {
  padding-bottom: 5px;
  border-bottom: #E0C9B3 solid 1px;
}
.baseBox .boxLink {
  overflow: hidden;
  display: block;
  padding-top: 5px;
  padding-right: 20px;
  background: url("../images/common/boxLink.png") no-repeat right center;
  -webkit-background-size: 10px 17px;
  background-size: 10px 17px;
  -webkit-touch-callout: none;
  -webkit-tap-highlight-color: rgba(76, 158, 217, 0.5);
}


.boxLink02 {
  -webkit-tap-highlight-color: rgba(76, 158, 217, 0.5);
}




.baseBox figcaption,
.baseBox p {
  font-size: 1.3rem;
}

/*-----------------------------------------------------
basebox ランキング
------------------------------------------------------*/
.rankSection .baseBox .boxImg {
  position: relative;
}
.rankSection .baseBox .boxImg:before {
  content: "";
  position: absolute;
  top: -5px;
  left: 0;
  display: block;
  width: 25px;
  height: 27.5px;
  background-position: left top;
  background-repeat: no-repeat;
  -webkit-background-size: 25px 26px;
  background-size: 25px 26px;
}
.rankSection .baseBox:nth-child(1) .boxImg:before {
  background-image: url("../images/common/rank01.png");
}
.rankSection .baseBox:nth-child(2) .boxImg:before {
  background-image: url("../images/common/rank02.png");
}
.rankSection .baseBox:nth-child(3) .boxImg:before {
  background-image: url("../images/common/rank03.png");
}
.rankSection .baseBox:nth-child(4) .boxImg:before {
  background-image: url("../images/common/rank04.png");
}
.rankSection .baseBox:nth-child(5) .boxImg:before {
  background-image: url("../images/common/rank05.png");
}
.rankSection .baseBox:nth-child(6) .boxImg:before {
  background-image: url("../images/common/rank06.png");
}
.rankSection .baseBox:nth-child(7) .boxImg:before {
  background-image: url("../images/common/rank07.png");
}
.rankSection .baseBox:nth-child(8) .boxImg:before {
  background-image: url("../images/common/rank08.png");
}
.rankSection .baseBox:nth-child(9) .boxImg:before {
  background-image: url("../images/common/rank09.png");
}
.rankSection .baseBox:nth-child(10) .boxImg:before {
  background-image: url("../images/common/rank010.png");
}
.rankSection .baseBox:nth-child(11) .boxImg:before {
  background-image: url("../images/common/rank011.png");
}

/*-----------------------------------------------------
basebox左右バランス
------------------------------------------------------*/
.i20 .baseBox .boxImg {
  width: 20%;
}
.i20 .baseBox .boxCnt {
  width: 78%;
}

.i30 .baseBox .boxImg {
  width: 30%;
}
.i30 .baseBox .boxCnt {
  width: 65%;
}

.i32 .baseBox .boxImg {
  width: 32%;
}
.i32 .baseBox .boxCnt {
  width: 63%;
}

.i38 .baseBox .boxImg {
  width: 38%;
}
.i38 .baseBox .boxCnt {
  width: 57%;
}

/*-----------------------------------------------------
basebox背景色
------------------------------------------------------*/
.baseColor {
  border-top: solid 1px #F1E0D3;
  border-bottom: solid 1px #F1E0D3;
  background: -webkit-linear-gradient(top, #fff 1%, #FAF4EF 100%);
  background: linear-gradient(to bottom, #fff 1%, #FAF4EF 100%);
}

.higherOrder {
  background-color: #FEFAE6;
  border-bottom: #FAE486 solid 1px;
}

/*-----------------------------------------------------
basebox内コンテンツ
------------------------------------------------------*/
/*評価星*/
.boxStar {
  width: 100%;
}
.boxStar .starNum {
  padding-left: 0.3em;
  color: #e80f57;
  font-size: 2rem;
  font-weight: bold;
}
.boxStar .starNum span {
  font-size: 1rem;
  color: #857260;
}
.boxStar img {
  position: relative;
  top: -0.5em;
  width: 1.5em;
  vertical-align: middle;
}

/*噴出し*/
.hukidashi {
  position: relative;
  min-height: 7em;
  background: url("../images/common/hukidashi02.png") repeat-y left top;
  -webkit-background-size: 100%;
  background-size: 100%;
}
.hukidashi .hukidashiInner {
  position: relative;
  z-index: 1;
  width: 15em;
  margin: auto;
  padding: 10px;
}

.hukidashi:before {
  top: 0;
  left: 0;
  padding-top: 11.5%;
  background: url("../images/common/hukidashi01.png") no-repeat left top;
}

.hukidashi:after {
  bottom: 0;
  left: 0;
  padding-bottom: 5.74%;
  background: url("../images/common/hukidashi03.png") no-repeat left bottom;
}

.hukidashi:before,
.hukidashi:after {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  -webkit-background-size: 100%;
  background-size: 100%;
}

.boxBtn {
  clear: both;
  overflow: hidden;
}
.boxBtn li:nth-child(odd) {
  float: left;
}
.boxBtn li:nth-child(even) {
  float: right;
}
.boxBtn li {
  width: 48%;
}

.baseBox .date {
  text-align: right;
}

.commName {
  color: #A99A8C;
  text-align: center;
  font-size: 1.1rem;
}

.commNum {
  color: #6c6c6c;
}
.commNum span {
  color: #F25D83;
}

.catch {
  color: #5f5b51;
}

.readTxt {
  margin-bottom: 10px;
  text-align: center;
  color: #5F5951;
}

/*信憑性*/
.credibility {
  width: 9.5em;
  text-align: center;
  padding: 3px;
  font-size: 1.1rem;
  font-weight: bold;
}

.credibility01 {
  background-color: #FBD9D5;
  color: #FF0000;
}

.credibility02 {
  background-color: #FBE4CD;
  color: #FF7F00;
}

.credibility03 {
  background-color: #E9EBCD;
  color: #698C00;
}

.credibility04 {
  background-color: #D6E4E8;
  color: #0085B2;
}

.credibility05 {
  background-color: #E4E0DB;
  color: #666666;
}

/*-----------------------------------------------------
フリーワード検索フィールド
------------------------------------------------------*/
.searchWrap {
  background: #FAF4EF;
}

.searchField {
  overflow: hidden;
  padding: 10px 3.125%;
}
.searchField input[type="text"] {
  float: left;
  display: block;
  width: 70%;
  height: 30px;
  line-height: 30px;
  border: #F0E9E1 solid 2px;
  -webkit-border-radius: 20px;
  border-radius: 20px;
  color: #84725F;
  padding-left: 1em;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.searchField input[type="submit"] {
  float: right;
  width: 28%;
  height: 30px;
  background: url("../images/search/searchBtnM.png") no-repeat;
  -webkit-background-size: contain;
  -o-background-size: contain;
  background-size: contain;
  border: none;
}
.searchField input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.searchField ::-webkit-input-placeholder {
  color: #84725F;
  font-size: 1.1rem;
  opacity: 1;
}
.searchField ::-moz-placeholder {
  color: #84725F;
  font-size: 1.1rem;
  opacity: 1;
}

/*-----------------------------------------------------
バナースペース
------------------------------------------------------*/
.bnrSpace {
  width: 100%;
  padding-left: 3.125%;
  padding-right: 3.125%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin-bottom: 15px;
}

/*-----------------------------------------------------
qa
------------------------------------------------------*/
.qaList dt {
  margin-bottom: 10px;
  padding: 8px 3.125%;
  background: -webkit-linear-gradient(top, #9A8574 0%, #7B6A5A 100%);
  background: linear-gradient(to bottom, #9A8574 0%, #7B6A5A 100%);
  color: #fff;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
  font-weight: bold;
}
.qaList dd {
  margin-bottom: 20px;
  padding: 0 3.125%;
}

/*-----------------------------------------------------
リスト
------------------------------------------------------*/
.baseNav {
  overflow: hidden;
  width: 100%;
}
.baseNav li {
  padding: 1px;
  background: #FFF;
  border: #F5E9DD solid 1px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.baseNav li a, .baseNav li label {
  background: -webkit-linear-gradient(top, #ffffff 0%, #faf4ef 100%);
  background: linear-gradient(to bottom, #ffffff 0%, #faf4ef 100%);
  display: block;
  padding: 15px 3.125%;
  font-size: 1.4rem;
  color: #857260;
}
.baseNav li input[type="checkbox"] {
  margin-right: 10px;
  vertical-align: middle;
}
.baseNav li .allCheck2,
.baseNav li .allCheck {
  font-size: 1.9rem;
  font-weight: bold;
}
.baseNav li .recoLink {
  background: -webkit-linear-gradient(top, #fff 0%, #F9D8E3 100%);
  background: linear-gradient(to bottom, #fff 0%, #F9D8E3 100%);
  color: #F36489;
  font-weight: bold;
}
.baseNav li .recoLink img {
  width: 51px;
  height: 16px;
  vertical-align: top;
  margin-left: 10px;
}

.navHarf li {
  float: left;
  width: 50%;
}

.rankNav {
  overflow: hidden;
  margin-bottom: 10px;
  padding-bottom: 10px;
  width: 100%;
  padding-left: 3.125%;
  padding-right: 3.125%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.rankNav li {
  float: left;
  width: 33%;
  border-top: #F1E0D2 solid 1px;
  border-right: #F1E0D2 solid 1px;
  border-bottom: #F1E0D2 solid 1px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background: -webkit-linear-gradient(top, #ffffff 0%, #faf4ef 100%);
  background: linear-gradient(to bottom, #ffffff 0%, #faf4ef 100%);
  text-align: center;
}
.rankNav li span, .rankNav li a {
  display: block;
  padding: 5%;
  font-size: 1.2rem;
  color: #7D6C59;
  line-height: 1.2em;
  font-weight: bold;
  text-shadow: 2px 2px 1px #fff;
}
.rankNav li a:before,
.rankNav li span:before {
  content: "";
  display: block;
  width: 32px;
  height: 25px;
  margin: 0 auto 5px auto;
  background: url("../images/common/icoCrown.png") no-repeat center top;
  -webkit-background-size: 32px 25px;
  -o-background-size: 32px 25px;
  background-size: 32px 25px;
}
.rankNav li:first-child {
  border-left: #F1E0D2 solid 1px;
}
.rankNav .current {
  border: #B1933D solid 1px;
  background: -webkit-linear-gradient(top, #EBDDB8 0%, #DAC17E 20%, #AB8C3C 80%, #AD934B 95%);
  background: linear-gradient(to bottom, #EBDDB8 0%, #DAC17E 20%, #AB8C3C 80%, #AD934B 95%);
}
.rankNav .current a,
.rankNav .current span {
  position: relative;
  color: #fff;
  text-shadow: 2px 2px 1px #A28737;
}
.rankNav .current a:before,
.rankNav .current span:before {
  background: url("../images/common/icoCrownW.png") no-repeat center top;
  -webkit-background-size: 32px 25px;
  -o-background-size: 32px 25px;
  background-size: 32px 25px;
}
.rankNav .current a:after,
.rankNav .current span:after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: -10px;
  display: block;
  width: 19px;
  height: 10px;
  margin: auto;
  background: url("../images/common/rankNav.png") no-repeat center bottom;
  -webkit-background-size: 19px 10px;
  -o-background-size: 19px 10px;
  background-size: 19px 10px;
}
.rankNav li:first-child.current {
  border-left: #B1933D  solid 1px;
}

.arrowLink li a, .arrowLink li label {
  position: relative;
}
.arrowLink li a:after, .arrowLink li label:after {
  content: "";
  position: absolute;
  top: 50%;
  right: 3.125%;
  display: block;
  width: 8px;
  height: 13px;
  margin-top: -6.5px;
  background: url("../images/common/arrow.png") no-repeat right center;
  -webkit-background-size: 8px 13px;
  -o-background-size: 8px 13px;
  background-size: 8px 13px;
}
.arrowLink li .recoLink:after {
  background-image: url("../images/common/boxLink.png");
}

.arrowLink2 li a, .arrowLink2 li label {
  position: relative;
}
.arrowLink2 li a:after {
  content: "";
  position: absolute;
  top: 50%;
  right: 3.125%;
  display: block;
  width: 8px;
  height: 13px;
  margin-top: -6.5px;
  background: url("../images/common/boxLink.png") no-repeat right center;
  -webkit-background-size: 8px 13px;
  -o-background-size: 8px 13px;
  background-size: 8px 13px;
}

/*-----------------------------------------------------
ドリルリスト
------------------------------------------------------*/
.drill {
  overflow: hidden;
  padding: 0 3.125% 5px 3.125%;
}
.drill li:nth-child(odd) {
  float: left;
}
.drill li:nth-child(even) {
  float: right;
}
.drill p {
  margin-bottom: 5px;
  color: #84725F;
  font-size: 1.1rem;
}
.drill li {
  width: 45%;
  border: #D4D4D4 solid 1px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  box-shadow: 0 1px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 1px rgba(0, 0, 0, 0.2);
}
.drill ul {
  position: relative;
}
.drill ul:after {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  margin: 11px 0 0 -6px;
  display: block;
  width: 12.5px;
  height: 12.5px;
  background: url("../images/blog/icoPlus.png") no-repeat left center;
  -webkit-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.drill select {
  width: 100%;
  padding: 5px 10px;
  border: none;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  color: #F7557F;
  font-size: 1.7rem;
  font-weight: bold;
  background: -webkit-linear-gradient(top, #fff 0%, #f8f8f8 60%, #e8e8e8 100%);
  background: linear-gradient(to bottom, #fff 0%, #f8f8f8 60%, #e8e8e8 100%);
}

/*-----------------------------------------------------
tab
------------------------------------------------------*/
.tabBase {
  display: table;
  width: 100%;
  border-bottom: 3px solid #F283AA;
}
.tabBase li {
  padding: 10px;
  vertical-align: middle;
  text-align: center;
  font-size: 1.2rem;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background: -webkit-linear-gradient(top, #ffffff 0%, #faf4ef 100%);
  background: linear-gradient(to bottom, #ffffff 0%, #faf4ef 100%);
  border-right: #F5E9DC solid 1px;
  border-top: #F5E9DC solid 1px;
  -webkit-border-radius: 5px 5px 0 0;
  border-radius: 5px 5px 0 0;
}
.tabBase li.current {
  background: -webkit-linear-gradient(top, #FE8FAF 1%, #F56A93 50%, #F16084 51%, #F08AAF 100%);
  background: linear-gradient(to bottom, #FE8FAF 1%, #F56A93 50%, #F16084 51%, #F08AAF 100%);
  color: #FFF;
}
.tabBase li:first-child {
  border-left: 1px solid #f5e9dc;
}

.tab4 li {
  display: table-cell;
  width: 25%;
}

.tab3 li {
  display: table-cell;
  width: 33.3%;
}

/*-----------------------------------------------------
pager
------------------------------------------------------*/
.pager p {
  margin-bottom: 5px;
  padding-left: 3.125%;
  color: #7A6A57;
}
.pager ol {
  overflow: hidden;
}
.pager ol li:nth-child(odd) {
  float: left;
}
.pager ol li:nth-child(even) {
  float: right;
}
.pager ol li {
  width: 50%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background: -webkit-linear-gradient(top, #ffffff 0%, #faf4ef 100%);
  background: linear-gradient(to bottom, #ffffff 0%, #faf4ef 100%);
  border: #F5E9DD solid 1px;
}
.pager ol li a {
  position: relative;
  display: block;
  padding: 15px 3.125%;
  text-align: center;
  font-weight: bold;
  font-size: 1.7rem;
  color: #85725F;
}
.pager ol li a:after {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  margin-top: -8.5px;
  width: 10px;
  height: 17px;
  background-repeat: no-repeat;
  -webkit-background-size: 10px 17px;
  -o-background-size: 10px 17px;
  background-size: 10px 17px;
  background-image: url("../images/common/pagerArrow.png");
}
.pager ol li:nth-child(1) a:after {
  left: 6%;
}
.pager ol li:nth-child(2) a:after {
  right: 6%;
  -moz-transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
}

.pager02 ol {
  display: table;
  width: 100%;
  background: -webkit-linear-gradient(#FE8FAF 0%, #F56A93 50%, #F15D81 51%, #F08AAF 100%);
  background: linear-gradient(#FE8FAF 0%, #F56A93 50%, #F15D81 51%, #F08AAF 100%);
}
.pager02 li {
  display: table-cell;
  width: 50%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.pager02 li a {
  display: block;
  padding: 10px;
  text-align: center;
}
.pager02 li:nth-child(1) {
  border-right: #CA5376 1px solid;
}
.pager02 li:nth-child(2) img {
  -moz-transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
}

.pager03 ol {
  display: table;
  width: 100%;
}
.pager03 ol li {
  display: table-cell;
  width: 33.3%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background: -webkit-linear-gradient(top, #ffffff 0%, #faf4ef 100%);
  background: linear-gradient(to bottom, #ffffff 0%, #faf4ef 100%);
  border: #F5E9DD solid 1px;
}
.pager03 ol li a {
  position: relative;
  display: block;
  padding: 15px 6%;
  text-align: center;
  font-weight: bold;
  font-size: 1.2rem;
  color: #85725F;
}
.pager03 ol li:not(:nth-child(2)) a:after {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  margin-top: -8.5px;
  width: 10px;
  height: 17px;
  background-repeat: no-repeat;
  -webkit-background-size: 10px 17px;
  -o-background-size: 10px 17px;
  background-size: 10px 17px;
  background-image: url("../images/common/pagerArrow.png");
}
.pager03 ol li:nth-child(1) a:after {
  left: 6%;
}
.pager03 ol li:nth-child(3) a:after {
  right: 6%;
  -moz-transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
}

.pager05 ol {
  display: table;
  width: 100%;
  margin: 20px 0;
  background: -webkit-linear-gradient(top, #9A8574 1%, #7B6A5A 80%);
  background: linear-gradient(to bottom, #9A8574 1%, #7B6A5A 80%);
}
.pager05 ol li {
  display: table-cell;
  width: 16.67%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background: -webkit-linear-gradient(top, #ffffff 0%, #faf4ef 100%);
  background: linear-gradient(to bottom, #ffffff 0%, #faf4ef 100%);
  border-top: 1px solid #F5E9DD;
  border-bottom: #F5E9DD solid 1px;
  border-right: #F5E9DD solid 1px;
  text-align: center;
}
.pager05 ol li a {
  display: block;
  padding: 10px 0;
  font-weight: bold;
  font-size: 1.7rem;
  color: #85725F;
}
.pager05 ol li:nth-child(2) {
  border-left: #F5E9DD solid 1px;
}
.pager05 ol li:nth-child(1),
.pager05 ol li:nth-child(6) {
  background: -webkit-linear-gradient(top, #9A8574 1%, #7B6A5A 80%);
  background: linear-gradient(to bottom, #9A8574 1%, #7B6A5A 80%);
}
.pager05 ol li:nth-child(1) a,
.pager05 ol li:nth-child(6) a {
  color: #fff;
}

/*-----------------------------------------------------
ttl
------------------------------------------------------*/
.catTtl {
  padding: 10px;
  color: #fff;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
  background: url("../images/common/catTtlBack.png") no-repeat left center;
  -webkit-background-size: cover;
  background-size: cover;
}
.catTtl span {
  padding-left: 35px;
  background: url("../images/common/catTtl.png") no-repeat left center;
  -webkit-background-size: 30px 34px;
  background-size: 30px 34px;
  font-size: 1.7rem;
  font-weight: bold;
}

.searchTtl {
  background: -webkit-linear-gradient(top, #bababa 0%, #a5a5a5 50%, #9c9c9c 51%, #bababa 100%);
  background: linear-gradient(to bottom, #bababa 0%, #a5a5a5 50%, #9c9c9c 51%, #bababa 100%);
}
.searchTtl span {
  display: block;
  padding: 5px 27px;
  color: #fff;
  font-weight: bold;
  background-repeat: no-repeat;
  background-position: 5px center;
  -webkit-background-size: 17px;
  -o-background-size: 17px;
  background-size: 17px;
  font-size: 1.4rem;
}

.areaTtl span {
  background-image: url("../images/common/areaTtl.png");
}

.typeTtl span {
  background-image: url("../images/common/typeTtl.png");
}

.recoTtl span {
  background-image: url("../images/common/recoTtl.png");
}

/*-----------------------------------------------------
btn
------------------------------------------------------*/
.more {
  display: block;
  padding: 15px;
  text-align: center;
  color: #705F53;
}
.more span {
  padding-right: 2em;
  background: url("../images/common/boxLink.png") no-repeat right center;
  -webkit-background-size: 7px 13px;
  -o-background-size: 7px 13px;
  background-size: 7px 13px;
  font-size: 1.7rem;
  font-weight: bold;
}

.searchBtn input {
  display: block;
  width: 52.3%;
  height: 0;
  padding-top: 10%;
  margin: 0 auto 20px auto;
  background: url("../images/search/searchBtn.png") no-repeat;
  -webkit-background-size: contain;
  background-size: contain;
  border: none;
}

.commonBtn {
  border: #DDCBBD solid 1px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  text-align: center;
  color: #7D6C59;
  background: -webkit-linear-gradient(top, #fff 0, #fff 70%, #F4EFEC 95%);
  background: linear-gradient(to bottom, #fff 0, #fff 70%, #F4EFEC 95%);
}

.contactButton {
  overflow: hidden;
}
.contactButton li {
  display: table;
  height: 40px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.contactButton li a {
  -webkit-border-radius: 8px;
  border-radius: 8px;
  display: table-cell;
  vertical-align: middle;
  color: #403324;
  text-align: center;
}
.contactButton .reference {
  float: left;
  width: 64%;
}
.contactButton .reference a {
  border: #DD929B 2px solid;
  background: -webkit-linear-gradient(top, #FFFDFE 0%, #FFF5F9 50%, #FEE6F1 100%);
  background: linear-gradient(to bottom, #FFFDFE 0%, #FFF5F9 50%, #FEE6F1 100%);
  color: #403324;
}
.contactButton .reference span {
  padding: 0 5px 0 17px;
  color: #F25D83;
  background: url("../images/voice/icoHart.png") no-repeat left center;
  -webkit-background-size: 12px 10.5px;
  -o-background-size: 12px 10.5px;
  background-size: 12px 10.5px;
}
.contactButton .report {
  float: right;
  width: 33%;
}
.contactButton .report a {
  border: 1px solid #DDCBBD;
  background: -webkit-linear-gradient(top, #FFFFFF 0%, #FFFFFF 70%, #F4EFEC 100%);
  background: linear-gradient(to bottom, #FFFFFF 0%, #FFFFFF 70%, #F4EFEC 100%);
}
.contactButton .report a span {
  padding-left: 15px;
  color: #403324;
  background: url("../images/voice/icoReport.jpg") no-repeat left center;
  -webkit-background-size: 10px;
  -o-background-size: 10px;
  background-size: 10px;
}

/*-----------------------------------------------------
float設定
------------------------------------------------------*/
.fLeft {
  float: left;
}

.fRight {
  float: right;
}

.clear {
  clear: both;
}

.boxWrap {
  overflow: hidden;
}

/*-----------------------------------------------------
margin,padding設定
------------------------------------------------------*/
.mb05 {
  margin-bottom: 5px;
}

.mb10 {
  margin-bottom: 10px;
}

.mb15 {
  margin-bottom: 15px;
}

.mb20 {
  margin-bottom: 20px;
}

.mb25 {
  margin-bottom: 25px;
}

.mb30 {
  margin-bottom: 30px;
}

.mb35 {
  margin-bottom: 35px;
}

.mb40 {
  margin-bottom: 40px;
}

.mb45 {
  margin-bottom: 45px;
}

.mb50 {
  margin-bottom: 50px;
}

.mb55 {
  margin-bottom: 55px;
}

.mb60 {
  margin-bottom: 60px;
}

.mb65 {
  margin-bottom: 65px;
}

.mb70 {
  margin-bottom: 70px;
}

.mb75 {
  margin-bottom: 75px;
}

.mb80 {
  margin-bottom: 80px;
}

.mb85 {
  margin-bottom: 85px;
}

.mb90 {
  margin-bottom: 90px;
}

.mb95 {
  margin-bottom: 95px;
}

.ml10 {
  margin-left: 10px;
}

.ml15 {
  margin-left: 15px;
}

.ml20 {
  margin-left: 20px;
}

.ml25 {
  margin-left: 25px;
}

.mr10 {
  margin-right: 10px;
}

.mr15 {
  margin-right: 15px;
}

.mr20 {
  margin-right: 20px;
}

.mr25 {
  margin-right: 25px;
}

.pb10 {
  padding-bottom: 10px;
}

.pb15 {
  padding-bottom: 15px;
}

.pb20 {
  padding-bottom: 20px;
}

.pb25 {
  padding-bottom: 25px;
}

.pb30 {
  padding-bottom: 30px;
}

.pb35 {
  padding-bottom: 35px;
}

.pb40 {
  padding-bottom: 40px;
}

.pb45 {
  padding-bottom: 45px;
}

.pb50 {
  padding-bottom: 50px;
}

/*-----------------------------------------------------
テキスト周り
------------------------------------------------------*/
.bold {
  font-weight: bold;
}

.under {
  text-decoration: underline;
}

.tLeft {
  text-align: left;
}

.tCenter {
  text-align: center;
}

.tRight {
  text-align: right;
}

/*-----------------------------------------------------
文字色
------------------------------------------------------*/
.shopName {
  color: #624028;
}

.userName {
  color: #A9998C;
}

.areaName {
  color: #6e6e6e;
}

.blogTtl {
  color: #5f5b51;
}

.date {
  color: #6e6e6e;
}

/*-----------------------------------------------------
背景色
------------------------------------------------------*/
.backYellow {
  background: #FEFAE6;
}
