@charset "UTF-8";
.selectWrap {
  overflow: hidden;
}
.selectWrap select {
  width: 130%;
  border: none;
}

/*-----------------------------------------------------

loginページ

------------------------------------------------------*/
.login:before {
  content: "";
  display: block;
  position: fixed;
  z-index: -1;
  width: 100%;
  height: 100%;
  background: url("../images/login/back.jpg") no-repeat center top;
  -webkit-background-size: cover;
  background-size: cover;
  -webkit-filter: blur(4px);
  filter: blur(4px);
}

#loginHead {
  position: relative;
  width: 100%;
  padding: 15px 3.125%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background: -webkit-linear-gradient(top, #9A8574 0%, #7B6A5A 80%);
  background: linear-gradient(to bottom, #9A8574 0%, #7B6A5A 80%);
}
#loginHead h1 {
  color: #fff;
  font-size: 2.4rem;
  text-align: center;
  font-weight: bold;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
}
#loginHead .btnHome a {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 8em;
  height: 1em;
  margin: auto;
  padding: 6px 0;
  display: block;
  color: #FFF;
  line-height: 1em;
  font-size: 1.1rem;
  font-weight: bold;
  text-align: center;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  background: -webkit-linear-gradient(top, #FFBF65 0%, #FFA424 40%, #FF9500 100%);
  background: linear-gradient(to bottom, #FFBF65 0%, #FFA424 40%, #FF9500 100%);
}

#loginCnt {
  width: 100%;
  padding: 20px 11%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
#loginCnt ul:first-of-type {
  margin-bottom: 30px;
}
#loginCnt ul:last-of-type {
  margin-bottom: 15px;
}
#loginCnt li {
  margin-bottom: 10px;
}
#loginCnt input[type="email"], #loginCnt input[type="password"] {
  display: block;
  width: 100%;
  padding: 15px;
  border: 1px solid #bbb;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  color: #777;
  text-indent: 1em;
  opacity: 1;
}
#loginCnt ::-webkit-input-placeholder,
#loginCnt ::-moz-placeholder {
  color: #777;
  text-indent: 1em;
  opacity: 1;
}
#loginCnt input[type="submit"] {
  width: 100%;
  padding: 20px;
  border: none;
  color: #FFF;
  background: -webkit-linear-gradient(top, #FFC05D 0%, #FF9700 100%);
  background: linear-gradient(to bottom, #FFC05D 0%, #FF9700 100%);
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  font-weight: bold;
  font-size: 1.7rem;
}
#loginCnt .fb {
  background: -webkit-linear-gradient(top, #0065BC 0%, #00387C 100%);
  background: linear-gradient(to bottom, #0065BC 0%, #00387C 100%);
}
#loginCnt .tw {
  background: -webkit-linear-gradient(top, #00BEED 0%, #0085B9 100%);
  background: linear-gradient(to bottom, #00BEED 0%, #0085B9 100%);
}
#loginCnt .yahoo {
  background: -webkit-linear-gradient(top, #CC0016 0%, #940004 100%);
  background: linear-gradient(to bottom, #CC0016 0%, #940004 100%);
}
#loginCnt .outside li {
  -webkit-border-radius: 8px;
  border-radius: 8px;
}
#loginCnt .outside a {
  display: block;
  padding: 15px 0 15px 10%;
  color: #FFF;
  font-size: 1.2rem;
  font-weight: bold;
}

#loginFoot {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 25px 0;
  background: rgba(0, 0, 0, 0.7);
}
#loginFoot ul {
  display: table;
  width: 80%;
  margin: auto;
}
#loginFoot ul li {
  display: table-cell;
  width: 50%;
  text-align: center;
}
#loginFoot ul li a {
  color: #FFF;
  line-height: 20px;
  font-size: 1.2rem;
  background-repeat: no-repeat;
  background-position: left center;
}
#loginFoot ul li:nth-child(1) a {
  padding-left: 21px;
  background-image: url("../images/login/icoCaution.png");
  -webkit-background-size: 16px 13.5px;
  background-size: 16px 13.5px;
}
#loginFoot ul li:nth-child(2) a {
  padding-left: 25.5px;
  background-image: url("../images/login/icoEntry.png");
  -webkit-background-size: 20.5px 13.5px;
  background-size: 20.5px 13.5px;
}

/*-----------------------------------------------------
index
------------------------------------------------------*/
.index .topics ul {
  overflow: hidden;
  margin-bottom: 15px;
  padding: 10px 3.125%;
  background: #FAF4EF;
  border-bottom: #F5E9DE solid 1px;
}
.index .topics ul li {
  width: 50%;
  border-top: #F5E9DE solid 1px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background: #FFF;
  color: #857260;
  font-size: 1.2rem;
}
.index .topics ul li a {
  display: block;
  padding: 10px;
}
.index .topics ul li span {
  position: relative;
  display: block;
}
.index .topics ul li span:after {
  content: "";
  position: absolute;
  right: 0;
  top: 50%;
  display: block;
  width: 18px;
  height: 23px;
  margin: -11.5px auto auto auto;
  background: url("../images/common/topicsBtn.png") no-repeat right center;
  -webkit-background-size: 18px 23px;
  -o-background-size: 18px 23px;
  background-size: 18px 23px;
}
.index .topics ul li img {
  margin-bottom: 5px;
}
.index .topics ul li:nth-child(odd) {
  clear: both;
  float: left;
  border-left: #F5E9DE solid 1px;
}
.index .topics ul li:nth-child(even) {
  float: right;
  border-left: #F5E9DE solid 1px;
  border-right: #F5E9DE solid 1px;
}
.index .movie .movieBody {
  padding: 10px 3.125% 0 3.125%;
}
.index .movie .movieTop {
  margin-bottom: 10px;
}
.index .movie .movieTop p {
  margin-bottom: 5px;
  text-align: center;
  font-weight: bold;
}
.index .movie .shopName {
  text-align: center;
}
.index .movie .date {
  font-weight: bold;
}
.index .movie ul {
  border-bottom: 1px solid #F5E9DF;
  overflow: hidden;
}
.index .movie ul li:nth-child(odd) {
  float: left;
}
.index .movie ul li:nth-child(even) {
  float: right;
}
.index .movie ul li {
  width: 48%;
  margin-bottom: 10px;
}
.index .searchBox ul {
  margin-bottom: 15px;
}
.index .info {
  border-bottom: #F5E9DF solid 1px;
}
.index .info h2 {
  padding: 5px 3.125%;
  background: -webkit-linear-gradient(top, #9A8574 1%, #7B6A5A 80%);
  background: linear-gradient(to bottom, #9A8574 1%, #7B6A5A 80%);
  color: #fff;
  font-weight: bold;
  font-size: 1.4rem;
}
.index .info ul li {
  display: table;
  width: 100%;
  background: -webkit-linear-gradient(top, #ffffff 0%, #faf4ef 100%);
  background: linear-gradient(to bottom, #ffffff 0%, #faf4ef 100%);
  border-bottom: #F5E9DF solid 1px;
}
.index .info ul li a {
  display: table-cell;
  padding: 10px 3.125%;
  vertical-align: middle;
}
.index .info ul li a:nth-child(1) {
  width: 7em;
  text-decoration: underline;
  color: #F7557F;
  font-size: 1.2rem;
}
.index .info ul li a:nth-child(2) {
  font-size: 1.4rem;
  color: #85725F;
}
.index .baseBox {
  font-size: 1.2rem;
}
.index .baseBox .date {
  clear: both;
  padding-top: 5px;
}
.index .pickup .shopName {
  width: 10em;
  font-size: 1.7rem;
  line-height: 1.2em;
  font-weight: bold;
}
.index .new .boxImg figcaption {
  width: 4em;
  margin: auto;
}
.index .new .shopName {
  width: 14em;
  text-decoration: underline;
  font-weight: bold;
}
.index .blogInfo .boxCnt p:first-child {
  width: 15em;
}
.index .blogInfo .shopName {
  width: 10em;
}
.index #indexRank dt {
  font-size: 1.4rem;
}
.index #indexRank dd {
  font-size: 1.2rem;
}
.index #indexRank .more {
  margin-top: 10px;
  background-color: #FAF4EF;
}

/*-----------------------------------------------------
blogRank
------------------------------------------------------*/
.blogRank .baseBox:first-of-type {
  border-top: 1px solid #FAE486;
}
.blogRank .catTtl {
  margin-bottom: 15px;
}
.blogRank .date {
  padding-top: 0 !important;
}
.blogRank .blogTtl {
  width: 14em;
  font-weight: bold;
}
.blogRank .shopName {
  width: 13em;
}

/*-----------------------------------------------------
blog
------------------------------------------------------*/
.blog .baseBox:first-of-type {
  border-top: 1px solid #F5E9DF;
}
.blog .date {
  padding-top: 0 !important;
}
.blog .catTtl {
  margin-bottom: 10px;
}
.blog .baseBox:last-of-type {
  margin-bottom: 20px;
}
.blog .blogTtl {
  width: 14em;
  font-weight: bold;
}
.blog .shopName {
  width: 13em;
}

/*-----------------------------------------------------
ranking
------------------------------------------------------*/
.ranking #contents {
  padding-bottom: 10px;
  border-bottom: #F5E9DE solid 1px;
}
.ranking .baseBox:first-of-type {
  border-top: 1px solid #FAE486;
}
.ranking .catTtl {
  margin-bottom: 20px;
}
.ranking .readTxt {
  width: 25em;
  margin-left: auto;
  margin-right: auto;
}
.ranking .shopName {
  width: 15em;
}
.ranking .rankBorder {
  border-bottom: #F5E9DF solid 1px;
}

/*-----------------------------------------------------
job
------------------------------------------------------*/

.job{
  padding-bottom: 100px;
}

.job #flick {
  position: relative;
  margin-bottom: 10px;
  background: #CCC;
}
.job div.container {
  overflow: hidden;
  width: 320px;
  margin: auto;
}
.job div.itemBox {
  position: relative;
}
.job div.container .item {
  float: left;
}
.job div.itemBox figure {
  width: 320px;
}
.job div.container .item img {
  pointer-events: none;
}
.job .flickNav {
  overflow: hidden;
  position: relative;
}
.job .flickNav li {
  position: relative;
  float: left;
  left: 45%;
}
.job .flickNav li a {
  display: block;
  height: 18px;
  position: relative;
  left: -45%;
  margin: 0 5px 0 0;
}
.job .flickNav li a span {
  position: relative;
  display: block;
  width: 10px;
  height: 10px;
  top: 3px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: #ddd;
}
.job .flickNav .selected a span {
  background-color: #82705F;
}
.job .moving {
  -webkit-transition: -webkit-transform .2s ease-out;
  -moz-transition: -moz-transform .2s ease-out;
  -o-transition: -o-transform .2s ease-out;
  -ms-transition: -ms-transform .2s ease-out;
}
.job .catTtl {
  margin-bottom: 10px;
}
.job .shopTtl {
  clear: both;
  text-align: center;
  font-weight: bold;
  font-size: 1.4rem;
  margin-bottom: 10px;
}
.job .catchCopy {
  width: 93.75%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
  padding: 5px;
  border: 2px solid #FFDC73;
}
.job .catchCopy span {
  display: block;
  width: 13em;
  margin: auto;
  font-size: 1.6rem;
  line-height: 1.2em;
  color: #5F5A51;
  font-weight: bold;
}
.job .jobSection {
  padding-bottom: 15px;
}
.job .jobSection table, .job .jobSection p {
  width: 93.75%;
  margin-left: auto;
  margin-right: auto;
}
.job .jobSection p {
  margin-bottom: 10px;
  color: #857260;
}
.job .jobSection table th {
  min-width: 4em;
  width: 25%;
  text-align: center;
  font-size: 1.3rem;
  font-weight: bold;
  color: #796A58;
  background: -webkit-linear-gradient(top, #ffffff 0%, #faf4ef 100%);
  background: linear-gradient(to bottom, #ffffff 0%, #faf4ef 100%);
}
.job .jobSection table td {
  font-size: 1.3rem;
  font-weight: bold;
  color: #796A58;
  background: #FFF;
}
.job .jobSection table th, .job .jobSection table td {
  padding: 5px;
  vertical-align: middle;
  border: #F5E9DD solid 1px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.job .jobSection .shopTable {
  margin-bottom: 10px;
}
.job .jobSection .shopTable .shopCell {
  font-size: 1.6rem;
}
.job .jobSection .btnRetrun {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: -webkit-linear-gradient(top, #9A8574 0%, #7B6A5A 80%);
  background: linear-gradient(to bottom, #9A8574 0%, #7B6A5A 80%);
}
.job .jobSection .btnRetrun a {
  display: block;
  padding: 10px;
  text-align: center;
  color: #FFF;
  font-size: 1.2rem;
  font-weight: bold;
}
.job .baseBox figcaption {
  width: 9em;
  text-align: center;
}
.job .baseBox figcaption span {
  margin-top: 5px;
  display: block;
}
.job .baseBox .catch {
  width: 15em;
  font-weight: bold;
}
.job .baseBox .areaName {
  margin-bottom: 15px;
}
.job .pager02 {
  margin-bottom: 15px;
}
.job .postBtn {
  width: 93.75%;
  margin: 0 auto 15px auto;
  text-align: center;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  background: -webkit-linear-gradient(top, #FFBF65 0%, #FFA424 40%, #FF9500 100%);
  background: linear-gradient(to bottom, #FFBF65 0%, #FFA424 40%, #FF9500 100%);
}
.job .postBtn a {
  display: block;
  padding: 10px;
}
.job .postBtn a span {
  display: inline-block;
  padding-right: 40px;
  color: #FFF;
  font-weight: bold;
  background: url("../images/job/icoPost.png") no-repeat right center;
  -webkit-background-size: 19px 19px;
  -o-background-size: 19px 19px;
  background-size: 19px 19px;
  font-size: 1.2rem;
}
.job .pageTop {
  border-top: 1px solid #F5E9DE;
}

.job .postFoot{
  display: none;
  position: fixed;
  width: 100%;
  left: 0;
  bottom: 0;
}

.job .postFoot p{
  background: -webkit-linear-gradient(top, #FE8FAF 0%,#F56A93 50%,#F15D81 51%,#F08AAF 100%);
  background: linear-gradient(to bottom, #FE8FAF 0%,#F56A93 50%,#F15D81 51%,#F08AAF 100%);  
  color: #FFF;
  text-align: center;
  font-size: 1.6rem;
}

.job .postFoot p a{
	display:block;
}

.job .postFoot p a span{
  display: inline-block;
  padding-left: 27px;
  background: url("../images/job/footPost.png") no-repeat left center;
  -webkit-background-size: 22px;
       -o-background-size: 22px;
          background-size: 22px;
  font-weight: bold;
	color:#fff;
}



.job .postFoot ul{
  display: table;
  width: 100%;
}
.job .postFoot li{
  display: table-cell;
  vertical-align: middle;
  width: 33.3%;
  border: 1px solid #ccc;
  border-left: none;
  background: -webkit-linear-gradient(top, #fff 1%, #f9f9f9 50%, #E0E0E0 51%, #f7f7f7 100%);
  background: linear-gradient(to bottom, #fff 1%, #f9f9f9 50%, #E0E0E0 51%, #f7f7f7 100%);
  text-align: center;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.job .postFoot li:first-child {
  border-left: 1px solid #ccc;
}

.job .postFoot a span{
  display: inline-block;
  padding: 10px 0  10px 30px;
  background-position: left center;
  background-repeat: no-repeat;  
  -webkit-background-size: 25px;
       -o-background-size: 25px;
          background-size: 25px;
  line-height: 25px;
  font-size: 1.4rem;
}

.job .postFoot li:nth-child(1) a span{
  background-image: url("../images/job/footIco01.png");  
}

.job .postFoot li:nth-child(2) a span{
  background-image: url("../images/job/footIco02.png");  
}

.job .postFoot li:nth-child(3) a span{
  background-image: url("../images/job/footIco03.png");  
}


/*-----------------------------------------------------
result
------------------------------------------------------*/
.result .baseTab {
  color: #85725F;
}
.result .resultHead {
  padding: 5px 3.125%;
  color: #FFF;
  font-size: 1.2rem;
  font-weight: bold;
  background: -webkit-linear-gradient(top, #9A8574 1%, #7B6A5A 80%);
  background: linear-gradient(to bottom, #9A8574 1%, #7B6A5A 80%);
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
}
.result .resultBtn {
  display: table;
  width: 100%;
}
.result .resultBtn li {
  display: table-cell;
  vertical-align: middle;
  width: 33.3%;
  border: 1px solid #ccc;
  border-left: none;
  background: -webkit-linear-gradient(top, #fff 1%, #f9f9f9 50%, #E0E0E0 51%, #f7f7f7 100%);
  background: linear-gradient(to bottom, #fff 1%, #f9f9f9 50%, #E0E0E0 51%, #f7f7f7 100%);
  text-align: center;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.result .resultBtn li a {
  display: block;
  padding: 10px;
}
.result .resultBtn li:first-child {
  border-left: 1px solid #ccc;
}
.result .baseBox {
  border: none;
}
.result .baseBox .shopName {
  width: 12em;
  font-size: 1.6rem;
  font-weight: bold;
}
.result .baseBox p, .result .baseBox li {
  font-size: 1.2rem;
}
.result .baseBox li span {
  display: inline-block;
  width: 5em;
  padding-right: 1em;
}
.result .pickupColor .resultHead {
  border: #D96D00 solid 1px;
  background: -webkit-linear-gradient(top, #ED7500 1%, #ED7500 50%, #ED5E00 51%, #ED5E00 100%);
  background: linear-gradient(to bottom, #ED7500 1%, #ED7500 50%, #ED5E00 51%, #ED5E00 100%);
}
.result .pickupColor .baseBox {
  border: 2px solid #FF8000;
  background: url("../images/result/pickup.png") no-repeat right bottom;
  -webkit-background-size: 70px 65px;
  background-size: 70px 65px;
}
.result .pickupColor .resultBtn li {
  border: #D96D00 solid 1px;
  border-left: none;
  background: -webkit-linear-gradient(top, #FF9C00 1%, #FF9C00 50%, #FF8400 51%, #FF8400 100%);
  background: linear-gradient(to bottom, #FF9C00 1%, #FF9C00 50%, #FF8400 51%, #FF8400 100%);
}
.result .pickupColor .resultBtn li:first-child {
  border-left: #D96D00 solid 1px;
}

/*-----------------------------------------------------
search
------------------------------------------------------*/
.search .catTtl {
  margin-bottom: 10px;
}
.search .catLink ul {
  width: 100%;
  overflow: hidden;
}
.search .catLink ul li {
  float: left;
}
.search .catLink ul li:nth-child(4n) {
  clear: both;
  margin-left: 0;
}
.search .catLink ul li {
  width: 33.3%;
  background: -webkit-linear-gradient(top, #ffffff 0%, #faf4ef 100%);
  background: linear-gradient(to bottom, #ffffff 0%, #faf4ef 100%);
  border-right: 1px solid #E1DACF;
  border-top: 1px solid #E1DACF;
  border-bottom: 1px solid #E1DACF;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  text-align: center;
}
.search .catLink ul li a {
  display: block;
  padding: 60px 0 15px 0;
  background-repeat: no-repeat;
  background-position: center 15px;
  -webkit-background-size: 33px;
  -o-background-size: 33px;
  background-size: 33px;
  font-weight: bold;
  font-size: 1.2rem;
}
.search .catLink ul li:nth-child(1) {
  border-left: 1px solid #E1DACF;
}
.search .catLink ul li:nth-child(1) a {
  background-image: url("../images/search/catLink01.png");
}
.search .catLink ul li:nth-child(2) a {
  background-image: url("../images/search/catLink02.png");
}
.search .catLink ul li:nth-child(3) a {
  background-image: url("../images/search/catLink03.png");
}
.search .baseNav {
  margin-bottom: 15px;
}
.search .searchBox section:last-of-type .baseNav {
  margin-bottom: 0;
}

/*-----------------------------------------------------
result
------------------------------------------------------*/
.result .resultNum {
  padding: 5px 0 5px 3.125%;
}
.result .catTtl {
  margin-bottom: 15px;
}
.result .reepatBtn {
  width: 80%;
  margin: 0 auto 15px auto;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  background: -webkit-linear-gradient(top, #FFBF65 0%, #FFA424 20%, #FF9500 80%);
  background: linear-gradient(to bottom, #FFBF65 0%, #FFA424 20%, #FF9500 80%);
}
.result .reepatBtn a {
  position: relative;
  display: block;
  padding: 15px;
  text-align: center;
  color: #FFF;
  font-size: 1.7rem;
  font-weight: bold;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
}
.result .reepatBtn a:after {
  content: "";
  position: absolute;
  right: 10%;
  top: 50%;
  margin-top: -14px;
  display: block;
  width: 28px;
  height: 28px;
  background: url("../images/result/repeatBtn.png") no-repeat left center;
  -webkit-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.result .pager {
  margin-top: 10px;
}
.result .baseBox li, .result .baseBox li span {
  color: #7A6A57;
}

#repeatDrawer .baseNav {
  margin-bottom: 10px;
}
#repeatDrawer .repeatSearch input {
  display: block;
  width: 60%;
  margin: 0 auto 5px auto;
  padding: 15px;
  background: url("../images/result/searchBtn.png") no-repeat left center;
  -webkit-background-size: contain;
  background-size: contain;
  border: none;
}

/*-----------------------------------------------------
voice
------------------------------------------------------*/
.voice .catTtl {
  margin-bottom: 10px;
}
.voice figcaption {
  display: block;
  width: 4em;
  margin: auto;
}
.voice .voiceBottom {
  overflow: hidden;
  clear: both;
  padding-top: 10px;
}
.voice .voiceBottom .credibility {
  float: left;
}
.voice .voiceBottom .date {
  clear: none;
  float: right;
  width: 10em;
  padding-top: 3px;
}
.voice .shopHead {
  margin-bottom: 10px;
  padding: 0 3.125%;
}
.voice .shopTtl {
  margin-bottom: 5px;
  color: #613F27;
  font-size: 1.2rem;
  text-decoration: underline;
  font-weight: bold;
}
.voice .voiceHukidashi:before,
.voice .voiceHukidashi:after {
  content: "";
  position: absolute;
  z-index: 1;
  display: block;
  width: 100%;
}
.voice .voiceHukidashi:before {
  top: 0;
  left: 0;
  padding-top: 5%;
  background: url("../images/voice/voiceHukidashi01.png") no-repeat center top;
  -webkit-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.voice .voiceHukidashi:after {
  bottom: 0;
  left: 0;
  padding-bottom: 5%;
  background: url("../images/voice/voiceHukidashi03.png") no-repeat center bottom;
  -webkit-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.voice .voiceHukidashi {
  position: relative;
  overflow: hidden;
  width: 93.75%;
  margin: 0 auto 10px auto;
  padding: 5% 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.voice .voiceHukidashi .voiceInner {
  position: relative;
  z-index: 2;
  overflow: hidden;
  width: 100%;
  background: url("../images/voice/voiceHukidashi02.png") repeat-y center top;
  -webkit-background-size: 100%;
  background-size: 100%;
}
.voice .voiceHukidashi .voiceInner figure {
  float: left;
  width: 18%;
  margin-left: 3%;
}
.voice .voiceHukidashi .voiceInner div {
  float: right;
  width: 73%;
  margin-right: 3%;
}
.voice .voiceHukidashi .voiceInner div .date {
  text-align: right;
}
.voice .voiceHukidashi .voiceInner div .voiceName {
  color: #A9998C;
}
.voice .voiceHukidashi .voiceInner div .voiceNum {
  color: #796A57;
}
.voice .pager03:last-of-type {
  padding-bottom: 15px;
  border-bottom: 1px solid #F5E9DE;
}
.voice .voiceDetail header {
  padding: 0 3.125% 15px 3.125%;
  background: -webkit-linear-gradient(top, #ffffff 0%, #faf4ef 100%);
  background: linear-gradient(to bottom, #ffffff 0%, #faf4ef 100%);
}
.voice .voiceDetail header .credibility {
  margin-bottom: 10px;
}
.voice .voiceDetail header .detailTtl {
  margin-bottom: 10px;
  font-size: 1.7rem;
  line-height: 1.2;
  font-weight: bold;
}
.voice .voiceDetail header .boxStar {
  font-size: 1.2rem;
}
.voice .voiceDetail dl dt {
  margin-bottom: 8px;
  padding: 10px 3.125%;
  background: -webkit-linear-gradient(top, #9A8574 0%, #7B6A5A 100%);
  background: linear-gradient(to bottom, #9A8574 0%, #7B6A5A 100%);
  color: #FFF;
  text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.2);
  font-weight: bold;
}
.voice .voiceDetail dl dd {
  margin-bottom: 15px;
  padding: 0 3.125%;
}
.voice .voiceDetail footer {
  padding: 0 3.125% 20px 3.125%;
}
.voice .postHead {
  margin-bottom: 10px;
  padding: 0 3.125% 10px 3.125%;
  border-bottom: 1px solid #F5E9DE;
}
.voice .postHead .btnRetrun {
  margin-bottom: 10px;
}
.voice .postHead .btnRetrun a {
  display: block;
  width: 10em;
  padding: 5px 0;
  border: #DDCBBD solid 1px;
  background: -webkit-linear-gradient(top, #FFFFFF 0%, #FFFFFF 70%, #F4EFEC 95%);
  background: linear-gradient(to bottom, #FFFFFF 0%, #FFFFFF 70%, #F4EFEC 95%);
  color: #483A37;
  font-size: 1.2rem;
  text-align: center;
}
.voice .postHead .btnRetrun a span {
  padding-left: 17px;
  background-image: url("../images/voice/icoBtn.png");
  background-position: left center;
  background-repeat: no-repeat;
  -webkit-background-size: 12px;
  -o-background-size: 12px;
  background-size: 12px;
}
.voice .postHead .postTtl {
  font-size: 1.4rem;
}
.voice .postNav {
  overflow: hidden;
  display: table;
  width: 93.75%;
  margin: 0 3.125% 15px 3.125%;
}
.voice .postNav li {
  display: table-cell;
  width: 50%;
  height: 4em;
  border: 1px solid #F1E0D2;
  vertical-align: middle;
  text-align: center;
  background: -webkit-linear-gradient(top, #FFFFFF 0%, #FAF4EF 100%);
  background: linear-gradient(to bottom, #FFFFFF 0%, #FAF4EF 100%);
}
.voice .postNav li span {
  color: #7D6C59;
  font-size: 1.6rem;
  font-weight: bold;
}
.voice .postNav li:nth-child(1) {
  -webkit-border-radius: 8px 0 0 8px;
  border-radius: 8px 0 0 8px;
}
.voice .postNav li:nth-child(2) {
  -webkit-border-radius: 0 8px 8px 0;
  border-radius: 0 8px 8px 0;
}
.voice .postNav .current {
  border-color: #B1933D;
  background: -webkit-linear-gradient(top, #EBDDB8 0%, #DAC17E 20%, #AB8C3C 80%, #AD934B 95%);
  background: linear-gradient(to bottom, #EBDDB8 0%, #DAC17E 20%, #AB8C3C 80%, #AD934B 95%);
}
.voice .postNav .current span {
  color: #fff;
  font-size: 1.4rem;
  text-shadow: 1px 1px 2px #A28737;
}
.voice .voiceForm .filePhoto {
  padding: 0 3.125%;
}
.voice .voiceForm .file {
  position: relative;
  width: 93.75%;
  margin: 0 auto 20px auto;
  line-height: 50px;
  border: 1px solid #DDCBBD;
  text-align: center;
  color: #7D6C59;
  background: -webkit-linear-gradient(top, #fff 0%, #fff 70%, #F4EFEC 95%);
  background: linear-gradient(to bottom, #fff 0%, #fff 70%, #F4EFEC 95%);
}
.voice .voiceForm .file input {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 50px;
  opacity: 0;
  display: block;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.voice .voiceForm input[type="text"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.voice .voiceForm textarea {
  height: 8em;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.voice .voiceForm dd:last-of-type textarea {
  height: 12em;
}
.voice .voiceForm ::-webkit-input-placeholder,
.voice .voiceForm ::-moz-placeholder {
  font-size: 1.2rem;
  color: #777;
}
.voice .voiceForm p {
  margin-bottom: 20px;
  text-align: center;
}
.voice .voiceForm p a {
  color: #B30000;
  text-decoration: underline;
}
.voice .voiceForm dl {
  margin-bottom: 20px;
  border-bottom: 1px solid #F5E9DE;
}
.voice .voiceForm dl dd .textNum {
  display: block;
  margin-bottom: 5px;
  text-align: right;
  color: #777;
  font-weight: bold;
}
.voice .voiceForm dl dd input[type="text"] {
  width: 100%;
  padding: 15px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  border: #bbb solid 1px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.voice .voiceForm dl dd textarea {
  width: 100%;
  padding: 15px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  border: #bbb solid 1px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.voice .voiceForm dl dd select {
  width: 100%;
  height: 45px;
  padding-left: 1em;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: solid 1px #bbb;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  background: url("../images/voice/select.png"), -webkit-gradient(top, #FEFEFF 0%, #FEFEFE 50%, #F1F1F1 100%);
  background: url("../images/voice/select.png"), linear-gradient(to bottom, #FEFEFF 0%, #FEFEFE 50%, #F1F1F1 100%);
  -webkit-background-size: 25px 45px;
  -o-background-size: 25px 45px;
  background-size: 25px 45px;
  background-repeat: no-repeat;
  background-position: right center;
}
.voice .voiceForm dl dd .boxStar {
  overflow: hidden;
  margin-bottom: 10px;
  line-height: 45px;
}
.voice .voiceForm dl dd .starSelect {
  float: right;
  width: 60%;
}
.voice .voiceForm dl dd .starList {
  overflow: hidden;
  margin-bottom: 10px;
}
.voice .voiceForm dl dd .starList li {
  float: left;
  width: 9%;
  margin: 0 0.5%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.voice .voiceForm dl dd .starList .starOn {
  background: url("../images/common/starOn.png") no-repeat left center;
  -webkit-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.voice .voiceForm dl dd .starList .starOn img {
  opacity: 0;
}
.voice .voiceForm dl .criterionTtl {
  margin-bottom: 5px;
  padding-bottom: 5px;
  border-bottom: 1px solid #BBBBBB;
  text-align: left;
}
.voice .voiceForm dl .criterion li {
  width: 100%;
  display: table;
}
.voice .voiceForm dl .criterion span {
  display: table-cell;
  width: 33%;
}
.voice .voiceForm dl .criterion span:first-child:before {
  content: "●";
  color: #85725F;
}
.voice .postBtn input {
  display: block;
  width: 93.75%;
  margin: 0 auto 20px auto;
  padding: 15px 0;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  border: #B1933D solid 1px;
  color: #FFF;
  font-size: 1.4rem;
  text-shadow: 1px 1px 2px #A28737;
  background: -webkit-linear-gradient(#EBDDB8 0%, #DAC17E 20%, #AB8C3C 80%, #AD934B 95%);
  background: -o-linear-gradient(#EBDDB8 0%, #DAC17E 20%, #AB8C3C 80%, #AD934B 95%);
  background: linear-gradient(#EBDDB8 0%, #DAC17E 20%, #AB8C3C 80%, #AD934B 95%);
  font-weight: bold;
}
.voice .tabWrap {
  overflow: hidden;
  margin-top: 10px;
  border-top: 1px solid #f5e9de;
  border-bottom: 1px solid #f5e9de;
}
.voice .tabWrap .sort {
  float: left;
  width: 25%;
  padding: 10px 5px;
  background: -webkit-linear-gradient(top, #ffffff 0%, #faf4ef 100%);
  background: linear-gradient(to bottom, #ffffff 0%, #faf4ef 100%);
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border-right: 1px solid #F5E9DE;
  border-left: 1px solid #F5E9DE;
  color: #84725F;
  font-size: 1.1rem;
}
.voice .voiceTab {
  width: 75%;
  display: table;
  float: right;
}
.voice .voiceTab li {
  display: table-cell;
  width: 33.3%;
  padding: 10px 5px;
  background: -webkit-linear-gradient(top, #ffffff 0%, #faf4ef 100%);
  background: linear-gradient(to bottom, #ffffff 0%, #faf4ef 100%);
  border-right: 1px solid #F5E9DE;
  text-align: center;
  color: #84725F;
  text-decoration: underline;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 1.1rem;
}
.voice .voiceTab .current {
  color: #F35A81;
}
.voice .pager {
  margin-top: 15px;
}

/*-----------------------------------------------------
managemen
------------------------------------------------------*/
.management .drawerWrap .drawer {
  margin-top: 3.125%;
}
.management .drawerWrap .drawer .manageList li {
  display: table;
  width: 100%;
}
.management .drawerWrap .drawer .manageList li span {
  display: table-cell;
  padding-top: 10px;
  padding-bottom: 10px;
  color: #85725F;
  font-size: 1.2rem;
}
.management .drawerWrap .drawer .manageList li span:nth-child(1) {
  padding-left: 3.125%;
}
.management .drawerWrap .drawer .manageList li span:nth-child(2) {
  width: 4em;
  padding-right: 3.125%;
  text-align: right;
}
.management .drawerWrap .drawer .credibilityList li:nth-child(1) span {
  color: #FF0000;
}
.management .drawerWrap .drawer .credibilityList li:nth-child(2) span {
  color: #FF7F00;
}
.management .drawerWrap .drawer .credibilityList li:nth-child(3) span {
  color: #678C00;
}
.management .drawerWrap .drawer .credibilityList li:nth-child(4) span {
  color: #0085B2;
}
.management .drawerWrap .drawer .credibilityList li:nth-child(5) span {
  color: #666666;
}
.management header {
  position: relative;
  padding: 10px 3.125%;
  background: -webkit-linear-gradient(top, #9A8574 1%, #7B6A5A 80%);
  background: linear-gradient(to bottom, #9A8574 1%, #7B6A5A 80%);
  color: #fff;
  text-align: center;
}
.management header h1 {
  padding: 5px;
  font-size: 1.2rem;
}
.management header .btnRetrun {
  position: absolute;
  left: 3.125%;
  width: 7em;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  background: -webkit-linear-gradient(top, #FFBF65 0%, #FFA424 40%, #FF9500 90%);
  background: linear-gradient(to bottom, #FFBF65 0%, #FFA424 40%, #FF9500 90%);
}
.management header .btnRetrun a {
  display: block;
  padding: 5px 10px;
  text-align: center;
  color: #FFF;
  font-size: 1.1rem;
}
.management .baseBox {
  margin-bottom: 20px;
}
.management .baseBox figure {
  width: 20%;
}
.management .baseBox .boxCnt {
  width: 75%;
  padding-top: 5px;
}
.management .baseBox .boxCnt .userName {
  color: #A9998C;
}
.management .useBtn {
  width: 80%;
  margin: 0 auto 20px auto;
  padding: 15px;
  font-weight: bold;
  font-size: 1.6rem;
}
.management .info {
  border-bottom: #F5E9DF solid 1px;
}
.management .info h2 {
  padding: 5px 3.125%;
  background: -webkit-linear-gradient(top, #9A8574 1%, #7B6A5A 80%);
  background: linear-gradient(to bottom, #9A8574 1%, #7B6A5A 80%);
  color: #fff;
  font-size: 1.2rem;
}
.management .info ul li {
  position: relative;
  display: table;
  width: 100%;
  background: -webkit-linear-gradient(top, #ffffff 0%, #faf4ef 100%);
  background: linear-gradient(to bottom, #ffffff 0%, #faf4ef 100%);
  border-bottom: #F5E9DF solid 1px;
}
.management .info ul li a {
  display: table-cell;
  padding: 10px 3.125%;
  vertical-align: middle;
}
.management .info ul li a:nth-child(1) {
  width: 7em;
  text-decoration: underline;
  color: #F7557F;
  font-size: 1.2rem;
}
.management .info ul li a:nth-child(2) {
  font-size: 1.2rem;
  color: #85725F;
}
.management .info ul li:after {
  content: "";
  position: absolute;
  top: 50%;
  right: 3.125%;
  display: block;
  width: 8px;
  height: 13px;
  margin-top: -6.5px;
  background: url("../images/common/arrow.png") no-repeat right center;
  -webkit-background-size: 8px 13px;
  -o-background-size: 8px 13px;
  background-size: 8px 13px;
}
.management .manageNav {
  margin-bottom: 20px;
}
.management .manageNav h2 {
  padding: 5px 3.125%;
  background: -webkit-linear-gradient(top, #9A8574 1%, #7B6A5A 80%);
  background: linear-gradient(to bottom, #9A8574 1%, #7B6A5A 80%);
  color: #FFF;
  font-size: 1.2rem;
}
.management .manageNav span {
  display: inline-block;
  line-height: 20px;
  padding-left: 30px;
  background-repeat: no-repeat;
  background-position: left center;
  -webkit-background-size: 20px;
  -o-background-size: 20px;
  background-size: 20px;
}
.management .manageNav .icoVoice {
  background-image: url("../images/management/icoVoide.png");
}
.management .manageNav .icoCamera {
  background-image: url("../images/management/icoCamera.png");
}
.management .manageNav .icoStar {
  background-image: url("../images/management/icoStar.png");
}
.management .manageNav .icoMail {
  background-image: url("../images/management/icoMail.png");
}
.management .manageNav .icoProf {
  background-image: url("../images/management/icoProf.png");
}
.management .manageNav .icoPass {
  background-image: url("../images/management/icoPass.png");
}
.management .baseNav li a {
  padding: 10px 3.125%;
}
.management .baseNav li a img {
  width: 35px;
  margin-left: 10px;
  vertical-align: middle;
}
.management .logout {
  overflow: hidden;
  width: 70%;
  margin-left: auto;
}
.management .logout li {
  float: left;
  width: 47%;
  margin-left: 3%;
}
.management .logout li a {
  display: block;
  padding: 10px;
}
.management #flick {
  position: relative;
  margin-bottom: 10px;
  width: 260px;
  margin: 20px auto;
}
.management div.container {
  overflow: hidden;
  width: 260px;
  margin: auto;
}
.management div.itemBox {
  position: relative;
}
.management div.container .item {
  float: left;
}
.management div.itemBox figure {
  width: 260px;
}
.management div.container .item img {
  pointer-events: none;
}
.management .prev,
.management .next {
  position: absolute;
  top: 50%;
  display: block;
  width: 9px;
  height: 16px;
  margin-top: -4.5px;
}
.management .prev {
  left: -20px;
  background: url("../images/common/arrow.png");
  -webkit-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  -moz-transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
}
.management .next {
  right: -20px;
  background: url("../images/common/arrow.png");
  -webkit-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.management:after {
  content: "";
  display: block;
  width: 100%;
  height: 10px;
  background: -webkit-linear-gradient(top, #9A8574 1%, #7B6A5A 80%);
  background: linear-gradient(to bottom, #9A8574 1%, #7B6A5A 80%);
  border: 1px solid #847363;
}

/*-----------------------------------------------------
user
------------------------------------------------------*/
.user #contents {
  padding-bottom: 10px;
  border-bottom: #F5E9DE solid 1px;
}
.user .shopName {
  font-weight: bold;
}
.user .baseColor {
  border: none;
}
.user .userHead {
  overflow: hidden;
  padding-top: 5px;
  padding-bottom: 10px;
}
.user .userHead figure {
  float: left;
  width: 16.875%;
  padding-left: 3.125%;
  padding-bottom: 5px;
}
.user .userHead .userInfo {
  float: right;
  width: 71.875%;
  padding: 0 3.125% 5px 5%;
  vertical-align: middle;
}
.user .userHead .userInfo .userName {
  margin-bottom: 5px;
}
.user .userHead:after {
  content: "";
  clear: both;
  display: block;
  width: 100%;
  height: 5px;
  position: relative;
  bottom: -10px;
  background: url("../images/user/headLine.png") no-repeat left bottom;
  -webkit-background-size: 100%;
  -o-background-size: 100%;
  background-size: 100%;
}
.user .sliderBox {
  padding: 9px 24px;
  background-color: #FBF6F1;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.user .sliderBox .sliderInner {
  height: 18em;
  padding: 5px 0;
  background-color: #FFF;
}
.user .sliderBox h2, .user .sliderBox p, .user .sliderBox li span {
  color: #3F3321;
}
.user .sliderBox h2, .user .sliderBox p {
  padding: 0 3.125%;
}
.user .sliderBox h2 span {
  padding-left: 25px;
  background-repeat: no-repeat;
  background-position: left center;
  -webkit-background-size: 20px;
  -o-background-size: 20px;
  background-size: 20px;
  font-size: 1.6rem;
}
.user .sliderBox ul {
  padding: 0 3.125%;
}
.user .sliderBox ul li {
  display: table;
  table-layout: fixed;
  width: 100%;
}
.user .sliderBox ul li span {
  display: table-cell;
}
.user .sliderBox ul li span:nth-child(2) {
  width: 4em;
  text-align: right;
}
.user .sliderBox .sliderLink {
  text-align: right;
}
.user .sliderBox .sliderLink a {
  padding-left: 10px;
  background: url("../images/user/arrow.png") no-repeat left center;
  -webkit-background-size: 5px 9px;
  -o-background-size: 5px 9px;
  background-size: 5px 9px;
}
.user .credibilityBox h2 {
  margin-bottom: .8em;
}
.user .credibilityBox h2 span {
  background-image: url("../images/user/credibilityTtl.png");
}
.user .credibilityBox ul {
  margin-bottom: .5em;
  padding-bottom: .5em;
  border-bottom: #D8C8BC solid 1px;
}
.user .credibilityBox ul li {
  padding: 2px 0;
}
.user .credibilityBox ul li:nth-child(1) span {
  color: #FF0000;
}
.user .credibilityBox ul li:nth-child(2) span {
  color: #FF7F00;
}
.user .credibilityBox ul li:nth-child(3) span {
  color: #678C00;
}
.user .credibilityBox ul li:nth-child(4) span {
  color: #0085B2;
}
.user .credibilityBox ul li:nth-child(5) span {
  color: #666666;
}
.user .credibilityBox .postNum {
  display: table;
  table-layout: fixed;
  width: 100%;
  margin-bottom: 0.2em;
  padding: 0 3.125%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.user .credibilityBox .postNum span {
  display: table-cell;
  font-size: 1.4rem;
  color: #3F3324;
}
.user .credibilityBox .postNum span:nth-child(2) {
  width: 3em;
  text-align: right;
}
.user .trendBox h2 {
  margin-bottom: .8em;
}
.user .trendBox h2 span {
  background-image: url("../images/user/trendTtl.png");
}
.user .trendBox ul li {
  padding-bottom: 1.5em;
}
.user .trendBox ul li span:nth-child(2) {
  color: #F25980;
}
.user .dataBox h2 {
  margin-bottom: 2em;
}
.user .dataBox h2 span {
  background-image: url("../images/user/dataTtl.png");
}
.user .dataBox ul li {
  padding-bottom: 1.5em;
}
.user .dataBox ul li span:nth-child(2) {
  color: #F25980;
}
.user .dataBox ul li span:nth-child(1) {
  padding-left: 18px;
  background-repeat: no-repeat;
  background-position: left center;
  -webkit-background-size: 13px;
  -o-background-size: 13px;
  background-size: 13px;
}
.user .dataBox ul li:nth-child(1) span:nth-child(1) {
  background-image: url("../images/user/icoGood.png");
}
.user .dataBox ul li:nth-child(2) span:nth-child(1) {
  background-image: url("../images/user/icoCamera.png");
}
.user .dataBox ul li:nth-child(3) span:nth-child(1) {
  background-image: url("../images/user/icoAvg.png");
}
.user .addBtn {
  clear: both;
  width: 50%;
  margin: 20px auto;
  padding: 5px;
  border: 1px solid #DDCBBD;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  background: -webkit-linear-gradient(top, #ffffff 0%, #faf4ef 100%);
  background: linear-gradient(to bottom, #ffffff 0%, #faf4ef 100%);
  color: #7D6C59;
  text-align: center;
}
.user .voiceMore {
  padding: 10px 3.125%;
  background: -webkit-linear-gradient(top, #9A8574 1%, #7B6A5A 80%);
  background: linear-gradient(to bottom, #9A8574 1%, #7B6A5A 80%);
  text-align: center;
  color: #FFF;
}
.user .voiceMore span {
  padding-left: 21px;
  background: url("../images/user/more.png") no-repeat left center;
  -webkit-background-size: 16px 9px;
  -o-background-size: 16px 9px;
  background-size: 16px 9px;
}
.user .voiceFold {
  padding: 10px 3.125%;
  background: -webkit-linear-gradient(top, #9A8574 1%, #7B6A5A 80%);
  background: linear-gradient(to bottom, #9A8574 1%, #7B6A5A 80%);
  text-align: center;
  color: #FFF;
}
.user .voiceFold span {
  padding-left: 21px;
  background: url("../images/user/more2.png") no-repeat left center;
  -webkit-background-size: 16px 9px;
  -o-background-size: 16px 9px;
  background-size: 16px 9px;
}
.user .voiceGroup:not(:first-of-type) {
  display: none;
}
.user .show {
  display: block !important;
}
.user .postVoice header .baseColor {
  padding-bottom: 20px;
}
.user .postVoice .postInner {
  width: 100%;
  display: table;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 10px 3.125%;
}
.user .postVoice .postInner p {
  display: table-cell;
}
.user .postVoice .postInner .shopName {
  width: 15em;
  font-size: 1.4rem;
}
.user .postVoice .postInner .areaName {
  font-size: 1.2rem;
  text-align: right;
}
.user .postVoice .postInner .data {
  text-align: right;
}
.user .postVoice .boxBorder {
  border-bottom: 1px solid #F5E9DF;
}
.user .postVoice .boxStar {
  padding: 0 3.125%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.user .postVoice .boxStar h3 {
  margin-bottom: 10px;
  font-weight: bold;
}
.user .postVoice .qaWrap {
  display: none;
}
.user .postVoice .qaList ul {
  margin-top: 20px;
}
.user .postImage {
  overflow: hidden;
  padding: 10px 3.125%;
}
.user .postImage .comment {
  width: 49%;
  margin-bottom: 10px;
}
.user .postImage .comment figure {
  margin-bottom: 10px;
  padding: 10px 0;
  background: #FBF6F1;
}
.user .postImage .comment figure img {
  display: block;
  width: 80%;
  margin: auto;
  margin-bottom: 5px;
}
.user .postImage .comment figure figcaption {
  width: 10em;
  margin: auto;
  font-size: 1.2rem;
  color: #3F3324;
  text-align: center;
  font-weight: bold;
}
.user .postImage .comment p {
  width: 10em;
  margin: auto;
  font-size: 1.1rem;
  color: #3F3324;
}
.user .postImage .comment:nth-child(odd) {
  float: left;
}
.user .postImage .comment:nth-child(even) {
  float: right;
}
.user .postProf {
  padding: 3.125%;
}
.user .postProf .profBody {
  padding: 6.67%;
  background: #FBF6F1;
}
.user .postProf .profBody figure {
  position: relative;
  margin-bottom: 20px;
}
.user .postProf .profBody figure img {
  width: 23%;
}
.user .postProf .profBody figure figcaption {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 25%;
  height: 1em;
  margin: auto;
  line-height: 1em;
  color: #A9998C;
  font-size: 1.5rem;
}
.user .postProf .profBody p {
  color: #3F3324;
  line-height: 1.5;
}
.user .userTab li span {
  display: block;
  padding-top: 25px;
  background-repeat: no-repeat;
  background-position: center top;
  -webkit-background-size: 20px 20px;
  -o-background-size: 20px 20px;
  background-size: 20px 20px;
  font-size: 1.6rem;
  color: #85725F;
}
.user .userTab .current span {
  color: #FFF;
}
.user .userTab li:nth-child(1) span {
  background-image: url("../images/user/icoVoice.png");
}
.user .userTab li:nth-child(2) span {
  background-image: url("../images/user/icoCamera02.png");
}
.user .userTab li:nth-child(3) span {
  background-image: url("../images/user/icoProf.png");
}
.user .userTab li:nth-child(1).current span {
  background-image: url("../images/user/icoVoiceOn.png");
}
.user .userTab li:nth-child(2).current span {
  background-image: url("../images/user/icoCamera02On.png");
}
.user .userTab li:nth-child(3).current span {
  background-image: url("../images/user/icoProfOn.png");
}

/*-----------------------------------------------------
summary
------------------------------------------------------*/
.summary #contents {
  padding-bottom: 10px;
  border-bottom: #F5E9DE solid 1px;
}
.summary .shopName {
  font-weight: bold;
}
.summary .summaryHead {
  margin-bottom: 10px;
  padding: 0 3.125%;
}
.summary .summaryHead h2 {
  margin-bottom: 5px;
  text-align: center;
  color: #00C6A6;
  font-size: 1.4rem;
}
.summary .summaryHead p {
  font-size: 1.2rem;
  color: #3F3324;
}
.summary .summaryCat {
  margin-bottom: 15px;
}
.summary .summaryCat ul {
  display: table;
  width: 100%;
}
.summary .summaryCat ul li {
  position: relative;
  float: left;
  width: 25%;
  border-top: #F1E0D2 solid 1px;
  border-bottom: #F1E0D2 solid 1px;
  border-right: #F1E0D2 solid 1px;
  background: -webkit-linear-gradient(top, #ffffff 0%, #faf4ef 100%);
  background: linear-gradient(to bottom, #ffffff 0%, #faf4ef 100%);
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  text-align: center;
}
.summary .summaryCat ul li span {
  display: block;
  height: 100%;
  padding: 44px 0 10px 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-position: center 10px;
  -webkit-background-size: 32px 32px;
  -o-background-size: 32px 32px;
  background-size: 32px 32px;
  background-repeat: no-repeat;
  color: #7D6C59;
  font-size: 1.1rem;
}
.summary .summaryCat ul li:nth-child(1) {
  border-left: #F1E0D2 solid 1px;
}
.summary .summaryCat ul:nth-child(1) li:nth-child(1) span {
  background-image: url("../images/summary/catIco01.png");
}
.summary .summaryCat ul:nth-child(1) li:nth-child(2) span {
  background-image: url("../images/summary/catIco02.png");
}
.summary .summaryCat ul:nth-child(1) li:nth-child(3) span {
  background-image: url("../images/summary/catIco03.png");
}
.summary .summaryCat ul:nth-child(1) li:nth-child(4) span {
  background-image: url("../images/summary/catIco04.png");
}
.summary .summaryCat ul:nth-child(1) li:nth-child(5) span {
  background-image: url("../images/summary/catIco05.png");
}
.summary .summaryCat ul:nth-child(1) li:nth-child(6) span {
  background-image: url("../images/summary/catIco06.png");
}
.summary .summaryCat ul:nth-child(1) li:nth-child(7) span {
  background-image: url("../images/summary/catIco07.png");
}
.summary .summaryCat ul:nth-child(1) li:nth-child(8) span {
  background-image: url("../images/summary/catIco08.png");
}
.summary .summaryCat ul:nth-child(1) li:nth-child(1).current span {
  background-image: url("../images/summary/catIco01on.png");
}
.summary .summaryCat ul:nth-child(1) li:nth-child(2).current span {
  background-image: url("../images/summary/catIco02on.png");
}
.summary .summaryCat ul:nth-child(1) li:nth-child(3).current span {
  background-image: url("../images/summary/catIco03on.png");
}
.summary .summaryCat ul:nth-child(1) li:nth-child(4).current span {
  background-image: url("../images/summary/catIco04on.png");
}
.summary .summaryCat ul:nth-child(1) li:nth-child(5).current span {
  background-image: url("../images/summary/catIco05on.png");
}
.summary .summaryCat ul:nth-child(1) li:nth-child(6).current span {
  background-image: url("../images/summary/catIco06on.png");
}
.summary .summaryCat ul:nth-child(1) li:nth-child(7).current span {
  background-image: url("../images/summary/catIco07on.png");
}
.summary .summaryCat ul:nth-child(1) li:nth-child(8).current span {
  background-image: url("../images/summary/catIco08on.png");
}
.summary .summaryCat ul:nth-child(2) li {
  border-top: none;
}
.summary .summaryCat .current {
  border-color: #00C9A8;
  background: -webkit-linear-gradient(top, #7FE2DA 0%, #00C9A8 100%);
  background: linear-gradient(to bottom, #7FE2DA 0%, #00C9A8 100%);
}
.summary .summaryCat .current span {
  color: #FFF;
}
.summary .summaryCat .current:before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 0;
  border-left: 1px solid #00C9A8;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
