

.formoid-default-skyblue{
	background-color:#FFFFFF;
	font-size:12px;
	max-width:670px;
	min-width:150px;
}


.mailfrombox{/* メールフォーム外枠 */
	text-align: left;
	border-top:1px solid #e80f57; 
}

.mailfromboxtop{/* メールフォーム外枠上部必須項目 */
	background-color:#fefae6;
	padding:20px 60px 20px 60px;
	border: 1px solid #fae486;
	border-radius: 3px;        /* CSS3草案 */  
	-webkit-border-radius: 3px;    /* Safari,Google Chrome用 */  
	-moz-border-radius: 3px;   /* Firefox用 */  
}
.mailfromboxbottom{/* メールフォーム外枠下部項目 */
	background-color:#fff;
	padding:20px 60px 20px 60px;
	border: 2px solid #f1eae2;
	border-radius: 3px;        /* CSS3草案 */  
	-webkit-border-radius: 3px;    /* Safari,Google Chrome用 */  
	-moz-border-radius: 3px;   /* Firefox用 */  
}


.mailfromboxtitle{/* メールフォームタイトル */
	  margin:0 0 30px 0 ;
	  color: #fff;
}

.mailfromsps{/* 各項目スペース */
	margin:0 0 30px 0 ;
}

.mailfromspm{/* 各項目スペース */
	margin:30px 0 0px 0 ;
}

.formsikiri{/* 仕切りフォーム */
	margin:0px 0 30px 0 ;
  	height: 0;
    	border-top: 1px solid rgba(0, 0, 0, 0.1);
    	border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}


::-webkit-input-placeholder {color: #BDBDBD} 
/*Firefox 19以降*/ 
::-moz-placeholder  {color: #BDBDBD} 
/*Firefox 18以前*/ 
:-moz-placeholder   {color: #BDBDBD} 
/*Windows IE*/ 
:-ms-input-placeholder  {color: #BDBDBD} 



/* default-skyblue */
@import 'https://fonts.googleapis.com/css?family=Open+Sans:300&subset=latin,greek-ext,cyrillic-ext,greek,vietnamese,cyrillic,latin-ext';

html{
  height: 100%;
}
.formoid-default-skyblue{
  margin:0 auto;
}
.formoid-default-skyblue>div,
.formoid-default-skyblue>.title{
  margin: 8px;
}
.formoid-default-skyblue .error-field .required{
  color:#FF9999;
}
.formoid-default-skyblue .error-field input,
.formoid-default-skyblue .error-field input[type=text],
.formoid-default-skyblue .error-field input[type=password],
.formoid-default-skyblue .error-field input[type=email],
.formoid-default-skyblue .error-field input[type=url],
.formoid-default-skyblue .error-field input[type=date],
.formoid-default-skyblue .error-field input[type=number],
.formoid-default-skyblue .error-field input[type=tel],
.formoid-default-skyblue .error-field textarea{
  border-color:#D893A1;
  background-color: #FBE6F2;
}
.formoid-default-skyblue label.error{
  display:inline-block;
  font-size:0.9em;
}
.formoid-default-skyblue .error,
.formoid-default-skyblue .error #recaptcha_widget_div{
  padding: 3px 14px;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  background-color: #fcf8e3;
  border: 1px solid #fbeed5;
  border-radius: 4px;

  color: #b94a48;
  background-color: #f2dede;
  border-color: #eed3d7;
  color: #c09853;
}
.formoid-default-skyblue .error h4 {
  color: #b94a48;
  margin: 0;
}

.formoid-default-skyblue .error .close {
  position: relative;
  top: -2px;
  right: -21px;
  line-height: 20px;
}
.formoid-default-skyblue .column{
  float:left; 
}
/* width = parseInt(100/columns.length)*/
.formoid-default-skyblue .column1{ width:100%;}
.formoid-default-skyblue .column2{ width:50%; }
.formoid-default-skyblue .column3{ width:33%; }
.formoid-default-skyblue .column4{ width:25%; }
.formoid-default-skyblue .column5{ width:20%; }



.formoid-default-skyblue .large{
  width: 100%;
  *width: 94%;
}
.formoid-default-skyblue .medium{
  width: 50%;
  *width: 47%;
}
.formoid-default-skyblue .small{
  width: 25%;
  *width: 23%;
}

.formoid-default-skyblue textarea.large{
  width: 100%;
  *width: 94%;
  height: 20em;
}
.formoid-default-skyblue textarea.medium{
  width: 100%;
  *width: 94%;
  height: 10em;
}
.formoid-default-skyblue textarea.small{
  width: 100%;
  *width: 94%;
  height: 5.5em;
}

/* address select style */
.formoid-default-skyblue .element-address .country {
  position: relative;
}

.frmd{
  display:none;
}
.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  line-height: 0;
  content: "";
}


.blurBg,
.blurBg-true{
  background-attachment: fixed;
  background-image:
    -webkit-linear-gradient(5deg, rgba(255, 255, 255, 0.35) -10%, rgba(255, 255, 255, 0) 20%), /* linear bottom */
    -webkit-radial-gradient(40% 60%, ellipse farthest-side, rgba(255, 255, 255, 0.45) -10%, rgba(255, 255, 255, 0) 100%),/* center white */
    -webkit-radial-gradient(50% -10%, circle farthest-side, rgba(255, 255, 255, 0.35) -10%, rgba(255, 255, 255, 0) 30%),/* top center white */
    -webkit-radial-gradient(100% 0%, ellipse farthest-side, rgba(255, 255, 255, 0.35) -10%, rgba(255, 255, 255, 0) 20%),/* top right white */
    -webkit-radial-gradient(0% 0%, ellipse farthest-side, rgba(255, 255, 255, 0.35) -10%, rgba(255, 255, 255, 0) 10%),/* top left white */
    -webkit-radial-gradient(90% 60%, ellipse farthest-side, rgba(0, 0, 0, 0.35) -10%, rgba(0, 0, 0, 0) 100%),/* center right black */
    -webkit-radial-gradient(20% 10%, circle farthest-side, rgba(0, 0, 0, 0.25) -10%, rgba(0, 0, 0, 0) 20%);
  
  background-image:
    linear-gradient(85deg, rgba(255, 255, 255, 0.35) -10%, rgba(255, 255, 255, 0) 20%), /* linear bottom */
    radial-gradient(40% 60%,ellipse farthest-side, rgba(255, 255, 255, 0.45) -10%, rgba(255, 255, 255, 0) 100%),/* center white */
    radial-gradient(50% -10%,circle farthest-side, rgba(255, 255, 255, 0.35) -10%, rgba(255, 255, 255, 0) 30%),/* top center white */
    radial-gradient(100% 0%,ellipse farthest-side, rgba(255, 255, 255, 0.35) -10%, rgba(255, 255, 255, 0) 20%),/* top right white */
    radial-gradient(0% 0%,ellipse farthest-side, rgba(255, 255, 255, 0.35) -10%, rgba(255, 255, 255, 0) 10%),/* top left white */
    radial-gradient(90% 60%,ellipse farthest-side, rgba(0, 0, 0, 0.35) -10%, rgba(0, 0, 0, 0) 100%),/* center right black */
    radial-gradient(20% 10%,circle farthest-side, rgba(0, 0, 0, 0.25) -10%, rgba(0, 0, 0, 0) 20%);/* top left black */
  /*
    radial-gradient(40% 60%,ellipse farthest-side, rgba(255, 255, 255, 0.3) 0%, rgba(255, 255, 255, 0) 50%),
    radial-gradient(50% -10%,circle closest-corner, rgba(255, 255, 255, 0.3) 20%, rgba(255, 255, 255, 0) 50%),
    radial-gradient(0% 100%,ellipse farthest-side, rgba(255, 255, 255, 0.3) 0%, rgba(255, 255, 255, 0) 20%),
    radial-gradient(100% 0%,ellipse farthest-side, rgba(255, 255, 255, 0.3) 0%, rgba(255, 255, 255, 0) 20%),
    radial-gradient(1% 2%,circle farthest-side, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0) 20%);
  */
}

#formoid-info {
  display: block;
  width: 400px;
  margin: 0 auto;
  padding: 10px;
  text-align: center;
  color: #c09853;
  font-size: 12px;
  max-width: 100%;
}@font-face {
  font-family: formoid;
  src:url('formoid.eot');
  src:url('formoid.eot?#iefix') format('embedded-opentype'),
  url('formoid.ttf') format('truetype'),
  url('formoid.woff') format('woff'),
  url('formoid.svg#formoid') format('svg');
  font-weight: normal;
  font-style: normal;
}

.formoid-default-skyblue{
  border-radius: 4px;  
}
.formoid-default-skyblue > div {
  position: relative;
}

.formoid-default-skyblue,
.formoid-default-skyblue  select,
.formoid-default-skyblue input[type=button],
.formoid-default-skyblue .btn,
.formoid-default-skyblue input[type=submit] ,
.formoid-default-skyblue .element-file .button{
  color: #413324; /*フォントカラー*/
  padding: 5px;
}
.formoid-default-skyblue h2 {
  margin: 0.2em 0;
}

.formoid-default-skyblue h3.title {
  margin-bottom: 0.5em;
  margin-top: 1.5em;
}
.formoid-default-skyblue h3.section-break-title {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}


.formoid-default-skyblue label {
  display: block;
  font-size: 1em;
  margin-bottom: 3px;
  clear: both;
}

.formoid-default-skyblue div, .formoid-default-skyblue span, .formoid-default-skyblue label, .formoid-default-skyblue input, .formoid-default-skyblue textarea, .formoid-default-skyblue select, .formoid-default-skyblue button, .formoid-default-skyblue ul, .formoid-default-skyblue li, .formoid-default-skyblue a{
  font-family: inherit;
  color: inherit;
}
/* Global Declaration */

/*

CORE FUNCTIONALITY 

Not advised to edit stuff below this line
-----------------------------------------------------
*/

.formoid-default-skyblue .btn{
  display: inline-block;
  vertical-align: middle;
  zoom: 1;
  *display: inline;
}

/* Button & submit*/
.formoid-default-skyblue  select,
.formoid-default-skyblue input[type=button],
.formoid-default-skyblue .btn, 
.formoid-default-skyblue input[type=submit],
.formoid-default-skyblue .element-file .button{
  display: inline-block;
  *display: inline;
  padding: 4px 12px;
  margin-bottom: 1px;
  *margin-left: .3em;
  text-align: center;
  font-size: 1em;
  padding: 6px 2%;
  font-family:inherit;
  vertical-align: middle;
  cursor: pointer;
  border: 1px solid #bbbbbb;
  *border: 0;
  border-color: #e6e6e6 #e6e6e6 #bfbfbf;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  border-bottom-color: #a2a2a2;
  border-radius: 4px;

  *zoom: 1;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
   outline: 0 none;
}
.formoid-default-skyblue .element-file .button{
  border-radius: 0 4px 4px 0;
}
.formoid-default-skyblue  select,
.formoid-default-skyblue .btn, 
.formoid-default-skyblue .element-file .button{
  background-color: #f5f5f5;
  *background-color: #e6e6e6;
  background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: linear-gradient(to bottom, #ffffff, #e6e6e6);
  background-repeat: repeat-x;
}
.formoid-default-skyblue  select{
  text-align: left;
  width: 100%;
}

.formoid-default-skyblue  select:hover,
.formoid-default-skyblue input[type=button]:hover,
.formoid-default-skyblue .btn:hover,
.formoid-default-skyblue input[type=button]:active,
.formoid-default-skyblue input[type=button][disabled]{
  background-color: #e6e6e6;
  *background-color: #d9d9d9;
}

.formoid-default-skyblue  select:active,
.formoid-default-skyblue .btn:active,
.formoid-default-skyblue input[type=button]:active{
  background-color: #cccccc;
}

.formoid-default-skyblue  select:hover,
.formoid-default-skyblue .btn:hover,
.formoid-default-skyblue input[type=button]:hover {
  text-decoration: none;
  background-position: 0 -15px;
  -webkit-transition: background-position 0.1s linear;
  transition: background-position 0.1s linear;
}

.formoid-default-skyblue  select:active,
.formoid-default-skyblue .btn:active,
.formoid-default-skyblue input[type=button]:active {
  background-image: none;
  outline: 0;
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
}

.formoid-default-skyblue .btn[disabled],
.formoid-default-skyblue input[type=button][disabled] {
  cursor: default;
  background-image: none;
  opacity: 0.65;
  filter: alpha(opacity=65);
  box-shadow: none;
}

.formoid-default-skyblue input[type=submit],
.formoid-default-skyblue .element-file .button {
  font-size: 1em;
  font-family: inherit;
  color: #ffffff;
}

.formoid-default-skyblue input[type=submit]:hover,
.formoid-default-skyblue .element-file .button:hover {
  color: #ffffff;
  text-decoration: none;
  background-position: 0 -15px;
  -webkit-transition: background-position 0.1s linear;
  transition: background-position 0.1s linear;
}

.formoid-default-skyblue input[type=submit]:active,
.formoid-default-skyblue input[type=submit][disabled],
.formoid-default-skyblue .element-file .button:active,
.formoid-default-skyblue .element-file .button[disabled] {
  background-image: none;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15) inset, 0 1px 2px rgba(0, 0, 0, 0.05);
  outline: 0 none;
}

/* ラジオボタン */
input[type=checkbox] {
    width: 20px;
    height: 20px;
    vertical-align: middle;
}
input[type=radio] {
    width: 20px;
    height: 20px;
    vertical-align: middle;
}

     
    /* either */
    .sample .either {
        position: relative;
         
        display: inline-block;
        width: 120px;
        overflow: hidden;
        border: 2px solid #ccc;
    }
    .sample .either input[type=radio] + label {
        position: static;
         
        float: left;
        display: block;
        width: 50%;
        margin-right: 0;
        padding: 0;
        overflow: hidden;
         
        text-align: center;
    }
    .sample .either input[type=radio] + label::before {
        content: attr(data-label);
         
        top: 0;
        bottom: 0;
        z-index: 1;
         
        display: block;
        width: 50%;
        height: auto;
        margin-top: 0;
         
        text-align: center;
         
        color: transparent;
        background: transparent;
        border: 0 none;
        border-radius: 0;
    }
    .sample .either input[type=radio] + label:last-child::before {
        left: 50%;
        right: 0;
         
    }
    .sample .either input[type=radio]:checked + label::before {
        color: #fff;
    }
     
    .sample .either input[type=radio] + label::after {
        border-radius: 0;
    }
    .sample .either input[type=radio]:first-child + label::after {
        content: none;
    }
    .sample .either input[type=radio] + label + input[type=radio] + label::after {
        content: "";
         
        position: absolute;
        top: 0;
        bottom: 0;
        z-index: 0;
         
        display: block;
        width: auto;
        height: auto;
        margin: auto;
         
        background: #E71063;
        border: 2px solid #fff;
         
        -webkit-transition: all 200ms;
        transition: all 200ms;
    }
     
    .sample .either input[type=radio]:checked + label + input[type=radio] + label::after {
        left: 0;
        right: 50%;
    }
    .sample .either input[type=radio] + label + input[type=radio]:checked + label::after {
        left: 50%;
        right: 0;
    }
     
}


/* rating */
.formoid-default-skyblue .rating {
  overflow: hidden;
  display: inline-block;
  position: relative;
}
.formoid-default-skyblue .rating-input {
  display: none;
}
.formoid-default-skyblue .rating-star:after {
  font-family: formoid;
  font-size: 1.5em;
}
.formoid-default-skyblue .rating:hover .rating-star:hover:after,
.formoid-default-skyblue .rating:hover .rating-star:hover ~ .rating-star:after,
.formoid-default-skyblue .rating-input:checked ~ .rating-star:after {
  content: '\e006';
}
.formoid-default-skyblue .rating-star,
.formoid-default-skyblue .rating:hover .rating-star {
  position: relative;
  cursor: default;
  clear: none;
  float: right;
  display: block;
  width: 1.7em;
  height: 1.5em;
}
.formoid-default-skyblue .rating-star:after,
.formoid-default-skyblue .rating:hover .rating-star:after {
  content: '\e007';
  color: #BDBDBD;
}


.formoid-default-skyblue input[type=text],
.formoid-default-skyblue input[type=tel],
.formoid-default-skyblue input[type=password],
.formoid-default-skyblue input[type=email],
.formoid-default-skyblue input[type=url],
.formoid-default-skyblue input[type=number],
.formoid-default-skyblue input[type=date],
.formoid-default-skyblue .element-file .file_text,
.formoid-default-skyblue textarea {
  padding: 6px 2%;
  font-family:inherit;
  font-size: 1em;
  font-weight: normal;
  background-image: -webkit-linear-gradient(top, rgba(0,0,0,0.18), rgba(0,0,0,0) 5px, rgba(0,0,0,0));
  background-image: linear-gradient(top, rgba(0,0,0,0.18), rgba(0,0,0,0) 5px, rgba(0,0,0,0) );
  border-top: solid 1px #aaa;
  border-left: solid 1px #aaa;
  border-bottom: solid 1px #ccc;
  border-right: solid 1px #ccc;
  border-radius: 3px;
  outline: 0;
  box-sizing: border-box;
}
.formoid-default-skyblue .element-address input[type=text],
.formoid-default-skyblue .element-name input[type=text],
.formoid-default-skyblue .element-file .file_text,
.formoid-default-skyblue textarea{
  width: 100%;
  *width: 94%;
}


/* prevent conflicts with bootstrap */
.formoid-default-skyblue .dropdown-menu input[type=checkbox]{
  display:none;
}

/* NAME last first */
.formoid-default-skyblue .element-name .nameFirst{
  width: 40%;
  *width: 39%;
  left: 0;
  display: inline-block;
  margin-right: 5%;
  vertical-align: top;
  zoom: 1;
  *display: inline;
}
.formoid-default-skyblue .element-name .nameLast{
  width: 55%;
  *width: 50%;
  display: inline-block;
  vertical-align: top;
  zoom: 1;
  *display: inline;
}

/* ADDRESS */
.formoid-default-skyblue .element-address .city,
.formoid-default-skyblue .element-address .zip{
  width: 47%;
  *width: 44%;
  display: inline-block;
  zoom: 1;
  *display: inline;
  vertical-align: top;
  margin-right: 6%;
}
.formoid-default-skyblue .element-address .state,
.formoid-default-skyblue .element-address .country{
  width: 47%;
  *width: 44%;
  display: inline-block;
  zoom: 1;
  *display: inline;
  vertical-align: top;
}
.formoid-default-skyblue .element-address .country select{
  cursor: pointer;
}
.formoid-default-skyblue .element-address label,
.formoid-default-skyblue .element-name label{
  font-size: 0.8em;
}
.formoid-default-skyblue .element-address label.title,
.formoid-default-skyblue .element-name label.title{
  font-size: 1em;
 color: #413324; /*フォントカラー*/
}


/* type number */
.formoid-default-skyblue input[type=number]::-webkit-inner-spin-button, 
.formoid-default-skyblue input[type=number]::-webkit-outer-spin-button{
  -webkit-appearance: none;
} 

/* File input */
.formoid-default-skyblue .element-file label{
  position: relative;
}
.formoid-default-skyblue .element-file .title{
  position: static;
}
.formoid-default-skyblue .element-file .button{
  z-index: 1;
  position: absolute;
  right: -2px;
}
.formoid-default-skyblue .element-file .file_text{
  right: 0;
  overflow: hidden;
  cursor: pointer;
  background-color: #fff;
}
.formoid-default-skyblue .element-file .file_text:before{
  content: "_";
  opacity: 0;
}
.formoid-default-skyblue .element-file .file_input {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  padding: 0;
  cursor: pointer;
  opacity: 0;
  filter: alpha(opacity=0);
  width: 100%;
}
* html .formoid-default-skyblue .element-file .file_input,
*+html .formoid-default-skyblue .element-file .file_input{
  position: relative;
  left: auto;
  right: auto;
  top: auto;
  bottom: auto;
  width: auto;
  opacity: 1;
  filter: alpha(opacity=100);
}
* html .formoid-default-skyblue .element-file .button,
*+html .formoid-default-skyblue .element-file .button{
  display: none;
}
* html .formoid-default-skyblue .element-file label,
*+html .formoid-default-skyblue .element-file label,
* html .formoid-default-skyblue .element-file .file_text,
*+html .formoid-default-skyblue .element-file .file_text{
  border: none;
}
* html .formoid-default-skyblue .element-file .title,
*+html .formoid-default-skyblue .element-file .title{
  display: block;
}


@media all and (max-width:400px){
  .formoid-default-skyblue .element-radio .column,
  .formoid-default-skyblue .element-checkbox .column,
  .formoid-default-skyblue .element-name .nameFirst,
  .formoid-default-skyblue .element-name .nameLast,
  .formoid-default-skyblue .element-address .city,
  .formoid-default-skyblue .element-address span.state,
  .formoid-default-skyblue .element-address .zip,
  .formoid-default-skyblue .element-address .country{
    width: 100%;
    display: block;
    margin-right: 0;
  }
}/* bootstrap cutting */

.btn:focus {
  outline: thin dotted #333;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

.btn-group {
  position: relative;
  display: inline-block;
  *display: inline;
  *margin-left: .3em;
  /*font-size: 0;*/
  white-space: nowrap;
  vertical-align: middle;
  *zoom: 1;
}

.btn-group:first-child {
  *margin-left: 0;
}


.btn-group .dropdown-toggle:active,
.btn-group.open .dropdown-toggle {
  outline: 0;
}

.caret {
  display: inline-block;
  width: 0;
  height: 0;
  vertical-align: top;
  border-top: 4px solid #000000;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
  content: "";
}

.btn .caret {
  margin-top: 8px;
  margin-left: 0;
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 160px;
  padding: 5px 0;
  margin: 2px 0 0;
  list-style: none;
  background-color: #ffffff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  *border-right-width: 2px;
  *border-bottom-width: 2px;
  border-radius: 6px;

  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);

  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
}

.dropdown-menu.pull-right {
  right: 0;
  left: auto;
}

.dropdown-menu .divider {
  *width: 100%;
  height: 1px;
  margin: 9px 1px;
  *margin: -5px 0 5px;
  overflow: hidden;
  background-color: #e5e5e5;
  border-bottom: 1px solid #ffffff;
}

.dropdown-menu li > a {
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: normal;
  white-space: nowrap;
  text-decoration: none;
}

.dropdown-menu li > a:hover,
.dropdown-menu li > a:focus,
.dropdown-submenu:hover > a{
  color: #ffffff;
  text-decoration: none;
}
.dropdown-menu li.selected > a{
  color: #ffffff;
  text-decoration: none;
}

.dropdown-menu .active > a,
.dropdown-menu .active > a:hover {
  color: #ffffff;
  text-decoration: none;
  background-color: #0081c2;
  background-image: -moz-linear-gradient(top, #0088cc, #0077b3);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0088cc), to(#0077b3));
  background-image: -webkit-linear-gradient(top, #0088cc, #0077b3);
  background-image: -o-linear-gradient(top, #0088cc, #0077b3);
  background-image: linear-gradient(to bottom, #0088cc, #0077b3);
  background-repeat: repeat-x;
  outline: 0;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0088cc', endColorstr='#ff0077b3', GradientType=0);
}

.dropdown-menu .disabled > a,
.dropdown-menu .disabled > a:hover {
  color: #999999;
}

.dropdown-menu .disabled > a:hover {
  text-decoration: none;
  cursor: default;
  background-color: transparent;
  background-image: none;
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}

.open > .dropdown-menu {
  display: block;
}






.alert {
  padding: 8px 35px 8px 14px;
  margin-bottom: 20px;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  background-color: #fcf8e3;
  border: 1px solid #fbeed5;
  border-radius: 4px;
}

.alert,
.alert h4 {
  color: #c09853;
}

.alert h4 {
  margin: 0;
}

.alert .close {
  position: relative;
  top: -2px;
  right: -21px;
  line-height: 20px;
}


.alert-success {
  color: #468847;
  background-color: #dff0d8;
  border-color: #d6e9c6;
}

.alert-success h4 {
  color: #468847;
}

.alert-error {
  color: #b94a48;
  background-color: #f2dede;
  border-color: #eed3d7;
}

.alert-info {
  color: #3a87ad;
  background-color: #d9edf7;
  border-color: #bce8f1;
}

.alert-info h4 {
  color: #3a87ad;
}


.tooltip {
  position: relative;
  z-index: 30;
  display: block;
  padding: 5px;
  font-size: 11px;
  visibility: visible;
  margin-left: 0;
}

.tooltip.in {
  opacity: 0.8;
  filter: alpha(opacity=80);
}

.tooltip.top {
  margin-top: -3px;
}

.tooltip.right {
  margin-left: 3px;
}

.tooltip.bottom {
  margin-top: 4px;
}

.tooltip.left {
  margin-left: -3px;
}

.tooltip-inner {
  max-width: 200px;
  padding: 3px 8px;
  color: #ffffff;
  text-align: center;
  text-decoration: none;
  background-color: #000000;
  border-radius: 4px;
}

.tooltip-arrow {
  position: absolute;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
}

.tooltip.top .tooltip-arrow {
  bottom: 0;
  left: 50%;
  margin-left: -5px;
  border-top-color: #000000;
  border-width: 5px 5px 0;
}

.tooltip.right .tooltip-arrow {
  top: 50%;
  left: 0;
  margin-top: -5px;
  border-right-color: #000000;
  border-width: 5px 5px 5px 0;
}

.tooltip.left .tooltip-arrow {
  top: 50%;
  right: 0;
  margin-top: -5px;
  border-left-color: #000000;
  border-width: 5px 0 5px 5px;
}

.tooltip.bottom .tooltip-arrow {
  top: -8px;
  left: 17px;
  margin-left: -8px;
  border-bottom-color: #f2dede;
  border-width: 0 8px 8px;
}
.hide {
  display: none;
}

/*!
 * bootstrap-select v1.3.4
 * http://silviomoreto.github.io/bootstrap-select/
 *
 * Copyright 2013 bootstrap-select
 * Licensed under the MIT license
 */

.bootstrap-select.btn-group,
.bootstrap-select.btn-group[class*="span"] {
  float: none;
  display: inline-block;
  margin-bottom: 0;
  margin-left: 0;
}
.form-search .bootstrap-select.btn-group,
.form-inline .bootstrap-select.btn-group,
.form-horizontal .bootstrap-select.btn-group {
  margin-bottom: 0;
}

.bootstrap-select.btn-group.pull-right,
.bootstrap-select.btn-group[class*="span"].pull-right,
.row-fluid .bootstrap-select.btn-group[class*="span"].pull-right {
  float: right;
}

.input-append .bootstrap-select.btn-group {
  margin-left: -1px;
}

.input-prepend .bootstrap-select.btn-group {
  margin-right: -1px;
}

.bootstrap-select:not([class*="span"]) {
  width: 100%;
}

.bootstrap-select {
  width: 100%;
}

.bootstrap-select > .btn {
  width: 100%;
}

.error .bootstrap-select .btn {
  border: 1px solid #b94a48;
}


.dropdown-menu {
  z-index: 2000;
}

.bootstrap-select.show-menu-arrow.open > .btn {
  z-index: 2051;
}

.bootstrap-select .btn:focus {
  outline: 0 none;
}

.bootstrap-select.btn-group .btn .filter-option {
  overflow: hidden;
  position: absolute;
  left: 12px;
  right: 25px;
  text-align: left;
}

.bootstrap-select.btn-group .btn .caret {
  position: absolute;
  top: 50%;
  right: 12px;
  margin-top: -2px;
  vertical-align: middle;
}

.bootstrap-select.btn-group > .disabled,
.bootstrap-select.btn-group .dropdown-menu li.disabled > a {
  cursor: not-allowed;
}

.bootstrap-select.btn-group > .disabled:focus {
  outline: none !important;
}

.bootstrap-select.btn-group[class*="span"] .btn {
  width: 100%;
}

.bootstrap-select.btn-group .dropdown-menu {
  min-width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.bootstrap-select.btn-group .dropdown-menu.inner {
  position: static;
  border: 0;
  padding: 0;
  margin: 0;
  border-radius: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.bootstrap-select.btn-group .dropdown-menu dt {
  display: block;
  padding: 3px 20px;
  cursor: default;
}

.bootstrap-select.btn-group .div-contain {
  overflow: hidden;
}

.bootstrap-select.btn-group .dropdown-menu li {
  position: relative;
}

.bootstrap-select.btn-group .dropdown-menu li > a.opt {
  position: relative;
  padding-left: 35px;
}

.bootstrap-select.btn-group .dropdown-menu li > a {
  cursor: pointer;
}

.bootstrap-select.btn-group .dropdown-menu li > dt small {
  font-weight: normal;
}

.bootstrap-select.btn-group.show-tick .dropdown-menu li.selected a i.check-mark {
  display: inline-block;
  position: absolute;
  right: 15px;
  margin-top: 2.5px;
}

.bootstrap-select.btn-group .dropdown-menu li a i.check-mark {
  display: none;
}

.bootstrap-select.btn-group.show-tick .dropdown-menu li a span.text {
  margin-right: 34px;
}

.bootstrap-select.btn-group .dropdown-menu li small {
  padding-left: 0.5em;
}

.bootstrap-select.btn-group .dropdown-menu li:not(.disabled) > a:hover small,
.bootstrap-select.btn-group .dropdown-menu li:not(.disabled) > a:focus small {
  color: #64b1d8;
  color: rgba(255,255,255,0.4);
}

.bootstrap-select.btn-group .dropdown-menu li > dt small {
  font-weight: normal;
}

.bootstrap-select.show-menu-arrow .dropdown-toggle:before {
  content: '';
  display: inline-block;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-bottom: 7px solid #CCC;
  border-bottom-color: rgba(0, 0, 0, 0.2);
  position: absolute;
  bottom: -4px;
  left: 9px;
  display: none;
}

.bootstrap-select.show-menu-arrow .dropdown-toggle:after {
  content: '';
  display: inline-block;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-bottom: 6px solid white;
  position: absolute;
  bottom: -4px;
  left: 10px;
  display: none;
}

.bootstrap-select.show-menu-arrow.dropup .dropdown-toggle:before {
  bottom: auto;
  top: -3px;
  border-top: 7px solid #ccc;
  border-bottom: 0;
  border-top-color: rgba(0, 0, 0, 0.2);
}

.bootstrap-select.show-menu-arrow.dropup .dropdown-toggle:after {
  bottom: auto;
  top: -3px;
  border-top: 6px solid #ffffff;
  border-bottom: 0;
}

.bootstrap-select.show-menu-arrow.pull-right .dropdown-toggle:before {
  right: 12px;
  left: auto;
}
.bootstrap-select.show-menu-arrow.pull-right .dropdown-toggle:after {
  right: 13px;
  left: auto;
}

.bootstrap-select.show-menu-arrow.open > .dropdown-toggle:before,
.bootstrap-select.show-menu-arrow.open > .dropdown-toggle:after {
  display: block;
}

.mobile-device {
  position: absolute;
  top: 0;
  left: 0;
  display: block !important;
  width: 100%;
  height: 100% !important;
  opacity: 0;
}

.bootstrap-select.fit-width {
  width: auto !important;
}

.bootstrap-select.btn-group.fit-width .btn .filter-option {
  position: static;
}

.bootstrap-select.btn-group.fit-width .btn .caret {
  position: static;
  top: auto;
  margin-top: -1px;
}

.control-group.error .bootstrap-select .dropdown-toggle{
  border-color: #b94a48;
}

.bootstrap-select-searchbox {
  padding: 4px 8px;
}
/*!
 * Datepicker for Bootstrap
 *
 * Copyright 2012 Stefan Petre
 * Licensed under the Apache License v2.0
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 */
.datepicker {
  width: 14em;
  font-size: 1em;
  position: absolute;
  background-color: #fff;
  color: #666666;
  top: 0;
  left: 0;
  padding: 4px;
  margin-top: 1px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  border: 1px solid #ccc;
  display: none;
  z-index: 100;
}
.datepicker:before {
  content: '';
  display: inline-block;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-bottom: 7px solid #ccc;
  border-bottom-color: rgba(0, 0, 0, 0.2);
  position: absolute;
  top: -7px;
  left: 6px;
}
.datepicker:after {
  content: '';
  display: inline-block;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-bottom: 6px solid #ffffff;
  position: absolute;
  top: -6px;
  left: 7px;
}
.datepicker > div {
  display: none;
}
.datepicker table {
  width: 100%;
  margin: 0;
}
.datepicker td,
.datepicker th {
  text-align: center;
  width: 2.9em;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.datepicker td.day:hover {
  background: #eeeeee;
  cursor: pointer;
}
.datepicker td.day.disabled {
  color: #eeeeee;
}
.datepicker td.old,
.datepicker td.new {
  color: #999999;
}
.datepicker td.active,
.datepicker td.active:hover {
  color: #ffffff;
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}
.datepicker td.active:hover,
.datepicker td.active:hover:hover,
.datepicker td.active:focus,
.datepicker td.active:hover:focus,
.datepicker td.active:active,
.datepicker td.active:hover:active,
.datepicker td.active.active,
.datepicker td.active:hover.active,
.datepicker td.active.disabled,
.datepicker td.active:hover.disabled,
.datepicker td.active[disabled],
.datepicker td.active:hover[disabled] {
  color: #ffffff;
}
.datepicker td.active:active,
.datepicker td.active:hover:active,
.datepicker td.active.active,
.datepicker td.active:hover.active {
  background-color: #003399 \9;
}
.datepicker td span {
  display: block;
  width: 1.5em;
  height: 1.7em;
  line-height: 1.6;
  float: left;
  margin: 2px;
  cursor: pointer;
  border-radius: 4px;
}
.datepicker .datepicker-months td span,
.datepicker .datepicker-years td span {
	width: 3.5em;
	height: 3em;
	line-height: 3;
}
.datepicker td span:hover {
  background: #eeeeee;
}
.datepicker td span.active {
  color: #ffffff;
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}
.datepicker td span.active:hover,
.datepicker td span.active:focus,
.datepicker td span.active:active,
.datepicker td span.active.active,
.datepicker td span.active.disabled,
.datepicker td span.active[disabled] {
  color: #ffffff;
}
.datepicker td span.active:active,
.datepicker td span.active.active {
  background-color: #003399 \9;
}
.datepicker td span.old {
  color: #999999;
}
.datepicker thead tr:first-child th {
  cursor: pointer;
}
.datepicker thead tr:first-child th:hover {
  background: #eeeeee;
}
.input-append.date .add-on i,
.input-prepend.date .add-on i {
  display: block;
  cursor: pointer;
  width: 16px;
  height: 16px;
}/* .formoid-default-skyblue color scheme begin */

.formoid-default-skyblue input[type=submit],
.formoid-default-skyblue .element-file .button {
  background-color: #2FABE9;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-image: -webkit-linear-gradient(top, #67c2ef, #2FABE9);
  background-image: linear-gradient(top, #67c2ef, #2FABE9);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#67c2ef', endColorstr='#2FABE9', GradientType=0);
  border-color: #1598d9 #1598d9 #007bb8 #1598d9;
}
.formoid-default-skyblue input[type=submit]:hover,
.formoid-default-skyblue .element-file .button:hover {
  background-color: #2FABE9;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#47b4eb', endColorstr='#2FABE9', GradientType=0);
}
.formoid-default-skyblue input[type=submit]:active,
.formoid-default-skyblue input[type=submit][disabled],
.formoid-default-skyblue .element-file .button:active,
.formoid-default-skyblue .element-file .button[disabled]{
  background-color: #2FABE9;
  *background-color: #2FABE9;
}



.formoid-default-skyblue input[type=text]:focus,
.formoid-default-skyblue input[type=tel]:focus,
.formoid-default-skyblue input[type=password]:focus,
.formoid-default-skyblue input[type=email]:focus,
.formoid-default-skyblue input[type=url]:focus,
.formoid-default-skyblue input[type=number]:focus,
.formoid-default-skyblue input[type=date]:focus,
.formoid-default-skyblue textarea:focus,
.formoid-default-skyblue .element-file .file_text:focus{
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px #2FABE9;
  border-color: #2FABE9;
  background-image: -webkit-linear-gradient(top, rgba(0,0,0,0.19), rgba(0,0,0,0) 5px, rgba(0,0,0,0));
  background-image: linear-gradient(top, rgba(0,0,0,0.19), rgba(0,0,0,0) 5px, rgba(0,0,0,0) );
  -webkit-transition: border 0.2s linear 0s, box-shadow 0.2s linear 0s;
          transition: border 0.2s linear 0s, box-shadow 0.2s linear 0s;
}

/* rating */
.formoid-default-skyblue .rating:hover .rating-star:hover:after,
.formoid-default-skyblue .rating:hover .rating-star:hover ~ .rating-star:after,
.formoid-default-skyblue .rating-input:checked ~ .rating-star:after {
  color: #2FABE9;
}



/* bootstrap */
.dropdown-menu li > a:hover,
.dropdown-menu li > a:focus,
.dropdown-submenu:hover > a{
  background-color: #2FABE9;
  background-image: -webkit-linear-gradient(top, #67c2ef, #2FABE9);
  background-image: linear-gradient(top, #67c2ef, #2FABE9);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#67c2ef', endColorstr='#2FABE9', GradientType=0);
  border-color: #1598d9 #1598d9 #007bb8 #1598d9;
}
.dropdown-menu li.selected > a{
  color: #ffffff;
  text-decoration: none;
  background-color: #2FABE9;
}


/* datepicker */
.datepicker td.active,
.datepicker td.active:hover,
.datepicker td span.active {
  background-color: #2FABE9;
  background-image: -webkit-linear-gradient(top, #67c2ef, #2FABE9);
  background-image: linear-gradient(to bottom, #67c2ef, #2FABE9);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff67c2ef', endColorstr='#ff2FABE9', GradientType=0);
  border-color: #2FABE9 #2FABE9 #002a80;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  *background-color: #2FABE9;
}
.datepicker td span.active:hover,
.datepicker td span.active:focus,
.datepicker td span.active:active,
.datepicker td span.active.active,
.datepicker td span.active.disabled,
.datepicker td span.active[disabled],
.datepicker td.active:hover,
.datepicker td.active:hover:hover,
.datepicker td.active:focus,
.datepicker td.active:hover:focus,
.datepicker td.active:active,
.datepicker td.active:hover:active,
.datepicker td.active.active,
.date