﻿@charset "UTF-8";

/*■トップページのメインコンテンツ
---------------------------------------------------------------------------



/*トップページのスライドショー
---------------------------------------------------------------------------*/
#mainimg {
	position: relative;
	width: 680px;
	height: 250px;
	margin-bottom: 10px;
}
#mainimg .slide_file {
	display: none;
}
#slide_image {
	z-Index:2;
	position: absolute;
	left:0px;
	top:0px;
}
#slide_image2 {
	z-Index:1;
	position: absolute;
	left:0px;
	top:0px;
}



/*トップページ左右フラッグバナー
---------------------------------------------------------------------------*/



/*まとめ
---------------------------------------------------------------------------*/

.textpr{ /*テキストPR大ボックス*/
	width: 668px;
	font-size: 12px;
	text-align: left;
	margin: 0px 0px 10px 0px;
	padding: 5px 0px 5px 10px;
	border-top: 1px solid #E5E5E5;
	border-left: 1px solid #E5E5E5;
	border-right: 1px solid #E5E5E5;
	border-bottom: 2px solid #E5E5E5;
	border-radius: 2px;
	background: #FFF;
}

.textprleft{/*テキストPR左ボックス*/
	width: 330px;
	margin: 0px 0px 0px 0px;
	float: left;
}
.textprleft a{
	text-decoration: underline;
}

.textprright{/*テキストPR右ボックス*/
	width: 330px;
	margin: 0px 0px 0px 0px;
	float: right;
}

.textprright a{
	text-decoration: underline;
}

.lineupcenter{/*テキストPRセンターボックス今現在はアクセントライン*/
	width: 660px;
	margin: 0px 0px 0px 0px;
	clear:both;
}


/*ランキング関係
---------------------------------------------------------------------------*/


/*ランキングボックス共通設定 
---------------------------------------------------------------------------*/


.ranksotowaku{
	border-top: 1px solid #E5E5E5;
	border-left: 1px solid #E5E5E5;
	border-right: 1px solid #E5E5E5;
	border-bottom: 2px solid #E5E5E5;
	border-radius: 2px;
	background: #FFF;
	margin: 0px 0px 20px 0px;
}

.rankbox{ 
	width: 680px;
	text-align: center;
	margin: 0px 0px 0px 0px;
}

.ranktitle{
	margin: 10px 0px 0px 0px;
}

.rankhoka{
	width: 680px;
	text-align: right;
	clear:both;
}

.rankhoka a{
	margin: 0px 20px 5px 0px;
}

.rankhoka img{
	vertical-align: text-top;
}


.ranksikiri{
	border: 0;
 	height: 1px;
　      background: #fff;
  	background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.20), rgba(0,0,0,0));
  	background-image:    -moz-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.20), rgba(0,0,0,0));
  	background-image:     -ms-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.20), rgba(0,0,0,0));
 	background-image:      -o-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.20), rgba(0,0,0,0));
  	width: 650px;
}

.movietime{/*投稿時間*/
	margin: 0px 0px 0px 0px;
	font-size: 12px;
	color: #6E6E6E;
}


/*ランキングボックス内、店名、エリア、点数、星、(評価、アクセス、ブログ共通)
---------------------------------------------------------------------------*/

.shopnameranktop a{/*ランキングボックス内の店名*/
	font-size: 13px;
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	line-height: 14px;
	font-weight: bold;
}
.shopnameranktop {
	margin: 5px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
}

.workareatoprank{/*ランキングボックス内の地域*/
	font-size: 11px;
	color: #6E6E6E;
	margin: -2px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
}

.pointranktop{/*ランキングボックス内の星ブロック*/
	margin: 0px 0px 0px 0px;
}
.pointranktop img{/*ランキングボックス内の星*/
	vertical-align:text-top;
	margin: 0px -2px 0px 0px;
}

.pointranktop span{/*ランキングボックス内の点数*/
	color: #e80f57;
	font-size: 12px;		/*文字サイズ*/
	margin: 0px 0px 0px -3px;
}


.blogtitletoprank{/*ランキングボックス内のブログタイトル*/
	font-size: 13px;		/*文字サイズ*/
	margin: 5px 0px 0px 0px;
	font-weight: bold;
}

.blogtitletoprank a{/*ランキングボックス内のブログタイトル*/
	line-height: 15px;
	color: #5F5B51;
}

.blogtimetoprank{/*ランキングボックス内のブログ投稿時間*/
	font-size: 11px;
	color: #6E6E6E;
	margin: 5px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	float: right;
}

/*ランキング用の評価とブログ文字
---------------------------------------------------------------------------*/


.blogtitel{
	color: #8B4513;
	text-decoration: none;
}



/*ランキング『評価』『アクセス』ボックス
---------------------------------------------------------------------------*/
#main .box3 {
	padding: 12px 3px 12px 3px;			/*ボックス内の余白*/
	margin-right: 8px;
	margin-left: 8px;
	width: 148px;			/*ボックス幅*/
	overflow: hidden;
	margin-bottom: 1em;
	float: left;
	
}


/*メインブロックのbox内の段落設定*/
#main .box3 p {
	padding: 0px;
}
/*画像の設定*/
#main .box3 p.img img {
	border: 1px solid #958574;	/*画像の枠線の幅、線種、色*/
}
#main .box3 p.img a:hover img {
	border: 1px solid #e80f57;	/*マウスオン時の枠線の幅、線種、色*/
}




/*ランキングブログボックス
---------------------------------------------------------------------------*/
#main .box5 {
	padding: 12px 8px 12px 8px;			/*ボックス内の余白*/
	width: 200px;			/*ボックス幅*/
	height: 215px;			/*ボックスの高さ*/
	overflow: hidden;
	margin-bottom: 1em;
	float: left;
	margin-right: 4px;
	margin-left: 4px;
	font-size: 13px;		/*文字サイズ*/
}

p.blogtitel {font-size: 11px;/*ブログタイトル文字サイズ*/
}

/*メインブロックのbox1内の段落設定*/
#main .box5 p {
	padding: 0px;
}
/*画像の設定*/
#main .box5 p.img img {
	border: 1px solid #958574;/*画像の枠線の幅、線種、色*/
	z-index: 2;
}
#main .box5 p.img a:hover img {
	border: 1px solid #e80f57;/*マウスオン時の枠線の幅、線種、色*/
	z-index: 2;
}



/*ブログ用画像、キャプションエフェクト
---------------------------------------------------------------------------*/





/*ランキングマーク
---------------------------------------------------------------------------*/

/*ランキングマーク設定*/

.rankmark{
	margin:  0px 75px 6px 0px;
	padding: 0px 0px 0px 0px;
}

.rankblogmark{
	margin:  0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	float: left;
}

.def{
	clear:both;
}

/*トップページコンテンツ「口コミ更新情報」ブロック
---------------------------------------------------------------------------*/
#main .kutikomi {
	margin: 0px 0px 0px 0px;
	padding: 5px 0px 10px 0px;
	overflow: auto;
	height: 430px;
	width: 678px;
	border-top: 1px solid #E5E5E5;
	border-left: 1px solid #E5E5E5;
	border-right: 1px solid #E5E5E5;
	border-bottom: 2px solid #E5E5E5;
	border-radius: 2px;
	background: #FFF;
}


.kutikomibox {/*1口コミに対するボックス*/
	padding: 5px;	/*ボックス内の余白*/
	font-size: 11px;	/*文字サイズ*/
	line-height: 1.2;	/*行間*/
	width: 650px;	/*ボックス幅*/
	overflow: hidden;
}

.plofimg {/*左ボックス、会員画像と名前*/
	margin: 10px 0px 0px 0px;
	float: left;
	width: 90px;	
	text-align: center;
}

.usernamehavar{/*口コミサムネイルのユーザーネーム*/
	color: #2F1D0A;
}

.usernamehavar:hover{
	color: #e80f57;
}

.usernamehavar img{
	border-radius: 50% ;
}

.shopkutikomi {/*右ボックス、口コミ店とタイトル*/
	float: right;
	font-size: 12px;	/*文字サイズ*/
	width: 516px;	
	margin: 0px 0px 0px 0px;
	display:inline-block;/*ここから吹き出しデザイン*/
	position: relative;
	padding:20px;
	border-radius:3px;
	border: 2px solid #f1eae2;
	font-weight: bold;
}

.shopkutikomi:after {
 	position: absolute;
 	content: " ";
 	height: 0;
 	width: 0;
}

.shopkutikomi-left:after {
 	right: 100%;
	 top: 50%;
 	border:10px solid transparent;
 	border-right:10px solid #f1eae2;
 	margin-top: -10px;
}
/*ここまで吹き出しデザイン*/

/*マウスオーバー*/

.shopkutikomi:hover {
	border: 2px solid #e80f57;
}
.shopkutikomi:hover:after {
	border-right:10px solid #e80f57;
}


.kutikomibox p{
	padding: 0px;
}

.kutikomibox p.img a img {
	margin: 0px 0px 0px 5px;
	border: 1px solid #958574;	/*画像の枠線の幅、線種、色*/
}

.kutikomibox p.img a:hover img {
	border: 1px solid #958574;	/*マウスオン時の枠線の幅、線種、色*/
}


.indexsterpink{/*評価*/
	margin: 6px 0px 0px 0px;
	color: #ff3a7b;
	font-size: 15px;
	font-weight:bold;
}

.indexsterpink img{/*高さ調整*/
	vertical-align: text-top;
}


.indexsikiri{/*店名との仕切り線*/
    border: 0;
    height: 1px;
　　background: #fff;
    background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.20), rgba(0,0,0,0));
    background-image:    -moz-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.20), rgba(0,0,0,0));
    background-image:     -ms-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.20), rgba(0,0,0,0));
    background-image:      -o-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.20), rgba(0,0,0,0));
    width: 300px;
    text-align:left;
    margin-left:0px;
}

.kutikomirisutoshop{/*ショップ名*/
	margin: 0px 0px 0px 0px;
	font-size: 12px;
}

.kutikomirisutoshop a{/*ショップ名*/
	text-decoration: none;
}

span.workareakutikomi{/*地域業種*/
	font-size: 11px;
	color: #6E6E6E;
	margin: 0px 0px 0px 5px;
}

.kutikomititleindex {/*口コミタイトル*/
	margin: 6px 0px 0px 0px;
	font-size: 14px;
	font-weight:bold;
}

.kutikomititleindex a{/*口コミタイトル色*/
	color: #5F5B51;
}

.time{/*投稿時間*/
	color: #6E6E6E;
	text-align: right;
	font-size: 11px;
	font-weight: normal;
}


/*信憑性部分*/

.shopkutikomiranks{/*信憑性あり!(赤)*/
	text-align: center;
	color: #DE170F;
	border: #DE170F 1px solid;
	border-radius:2px;
	margin: 7px 0px 0px 5px;
	padding: 1px 0px 1px 0px;
	width: 80px;	
}
.shopkutikomiranka{/*信憑性少しあり(オレンジ)*/
	text-align: center;
	color: #FF8410;
	border: #FF8410 1px solid;
	border-radius:2px;
	margin: 7px 0px 0px 5px;
	padding: 1px 0px 1px 0px;
	width: 80px;
}
.shopkutikomirankb{/*信憑性イマイチ(緑)*/
	text-align: center;
	color: #67AB9F;
	border: #67AB9F 1px solid;
	border-radius:2px;
	margin: 7px 0px 0px 5px;
	padding: 1px 0px 1px 0px;
	width: 80px;
}
.shopkutikomirankc{/*信憑性なし(青)*/
	text-align: center;
	color: #286BCC;
	border: #286BCC 1px solid;
	border-radius:2px;
	margin: 7px 0px 0px 5px;
	padding: 1px 0px 1px 0px;
	width: 80px;
}
.shopkutikomirankd{/*判定出来ず(灰色)*/
	text-align: center;
	color: #666666;
	border: #666666 1px solid;
	border-radius:2px;
	margin: 7px 0px 0px 5px;
	padding: 1px 0px 1px 0px;
	width: 80px;
}



/*トップページコンテンツ「掲載、ブログ更新情報」
---------------------------------------------------------------------------*/

#main .newsjob {/*ニュースボックス全体*/
	margin: 0px 0px 0px 0px;
	overflow: auto;
	height: 430px;
	width: 680px;
	padding-left: 0px;
	background: #fff;
	border-radius: 2px;
	border-top: 1px solid #E5E5E5;
	border-left: 1px solid #E5E5E5;
	border-right: 1px solid #E5E5E5;
	border-bottom: 2px solid #E5E5E5;
}


.newsshop {/*1ニュースに対するボックス*/
	border-radius:3px;
	border: 2px solid #f1eae2;
	padding: 0px;	/*ボックス内の余白*/
	margin: 5px 0px 10px 10px;
	font-size: 11px;	/*文字サイズ*/
	line-height: 1.4;	/*行間*/
	width: 645px;	/*ボックス幅*/
	overflow: hidden;
}



.newsshop:hover {
	border: 2px solid #e80f57;
}


.blogplofimg{/*左ボックス、店舗画像*/
	float: left;
	width: 130px;	
	text-align: center;
}

.shopnews {/*右ボックス、店名*/
	float: right;
	font-size: 13px;	/*文字サイズ*/
	width: 510px;	
	margin: 10px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	font-weight: bold;
}


.newsshop p{
	padding: 0px;
}


.newsshop p.blogplofimg a img {
	margin-right: 5px;	/*画像の右側にスペースをあける*/
	border: 1px solid #958574;	/*画像の枠線の幅、線種、色*/
}

.newsshop p.blogplofimg a:hover img {
	border: 1px solid #c8beb3;	/*マウスオン時の枠線の幅、線種、色*/
}

.blogtitletop{/*ブログタイトル*/
	font-size: 15px;	/*文字サイズ*/
	margin: 6px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
}

.blogtitletop a{/*ブログタイトル*/
	color: #5F5B51;
	font-weight:bold;
}

span.workareablog{/*地域業種*/
	color: #6E6E6E;
	margin: 0px 0px 0px 10px;
	font-size: 11px;
}


.timeblog{/*投稿時間*/
	color: #6E6E6E;
	padding: 2px 0px 3px 0px;
	margin: 0px 20px 0px 0px;
	font-size: 11px;
	text-align: right;
}



/*口コミ一覧、ブログ一覧
---------------------------------------------------------------------------*/
.newshoka{
	clear:both;
	margin: 15px 10px 5px 0px;
	width: 680px;
	text-align: right;
}

.newshoka a{
	margin: 0px 15px 0px 0px;
}

.newshoka img{
	vertical-align: text-top;
}



/*登録ユーザー一覧
---------------------------------------------------------------------------*/

.userblok{
	padding: 15px;
	margin: 0px 0px 20px 0px;
	border-top: 1px solid #E5E5E5;
	border-left: 1px solid #E5E5E5;
	border-right: 1px solid #E5E5E5;
	border-bottom: 2px solid #E5E5E5;
	background: #FFF
}
.usertbloktitle{
	font-size: 13px;
	font-weight: bold;
	background: url(/kanto/common/light/img/s_title_shop.gif) no-repeat left;
	padding-left: 30px;
	line-height: 30px;
}


.userlist{
	font-size: 0;
	margin-bottom:-10px;
}



.userlist li{
	display: inline-block;
	font-size: 12px;
	width: 20%;
	text-align: center;
	position: relative;
	vertical-align: top;
}


.voicepoint{
	margin-top:-20px;
	color: #6E6E6E;
}

.listrank{
	position: absolute;
	top:0px;
	left:0px;
}

.updated{
	color: #6E6E6E;
	font-size: 11px;
}


.userpicupsikiri{
	margin:30px 0;
	border: 0;
 	height: 1px;
	background: #fff;
  	background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.20), rgba(0,0,0,0));
  	background-image:    -moz-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.20), rgba(0,0,0,0));
  	background-image:     -ms-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.20), rgba(0,0,0,0));
 	background-image:      -o-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.20), rgba(0,0,0,0));
  	width: 650px;
}


.red{
	color:#DE170F;
}
.orange{
	color:#FF8410;
}

.thick{
	font-weight: bold;
}


/*トピックス
---------------------------------------------------------------------------*/

/*トピックスをテキストタイプで使う場合の設定*/
#main h2.topicstext {
	color: #ffffff;	/*文字色*/
	background: url(/kanto/img/title_topics.gif) no-repeat;	/*背景画像の読み込み*/
	width: 670px;
	margin: 10px 0 0 0px;
	text-align: left;
	padding-left: 30px;
	line-height: 30px;
}

.topics{
	margin: 0px 0px 0px 0px;
	width: 680px;
}


#main .boxtopics {/*ボックス上段、下段*/
	width: 680px;			/*ボックス幅*/
	height: 200px;			/*ボックスの高さ*/
	overflow: hidden;
	font-size: 11px;		/*文字サイズ*/
}

.topinews{/*記事ボックス*/
	width: 224px;			/*ボックス幅*/
	height: 170px;			/*ボックスの高さ*/
	margin: 0px 0px 0px 0px;
	padding-top: 10px;
	text-align: center;	/*文字をセンタリング*/
	background: #ffffff;	/*背景色*/
	float: left;
	line-height: 1.2;	/*行間*/
	font-size: 11px;	/*文字サイズ*/
	border-top: 1px solid #E5E5E5;
	border-left: 1px solid #E5E5E5;
	border-right: 1px solid #E5E5E5;
	border-bottom: 2px solid #E5E5E5;
	border-radius: 2px;
}



.topititle{/*記事タイトル*/
	font-weight:bold; 
	font-size: 13px;
}



/*ムービー
---------------------------------------------------------------------------*/

.movie{	
	height: 500px;			/*ボックスの高さ*/
	margin: 0px 0px 5px 0px;
	width: 678px;
	text-align: center;	/*文字をセンタリング*/
	border-top: 1px solid #E5E5E5;
	border-left: 1px solid #E5E5E5;
	border-right: 1px solid #E5E5E5;
	border-bottom: 2px solid #E5E5E5;
	border-radius: 2px;
	background: #FFF;
}


.moviehoka{
	clear:both;
	width: 680px;
	text-align: right;
}

.moviehoka a{
	margin: 10px 15px 0px 0px;
}


.moviehoka img{
	vertical-align: text-top;
}




/*ムービーサムネイル
---------------------------------------------------------------------------*/

.movies table {
	width: 680px;
	
}

.movies td {
	font-size: 11px;
	text-align: center;
	padding: 10px 0px 10px 0px;
	border-top: 1px solid #E5E5E5;
	border-left: 1px solid #E5E5E5;
	border-right: 1px solid #E5E5E5;
	border-bottom: 2px solid #E5E5E5;
	border-radius: 2px;
	background: #FFF;
}


/*ムービー一覧下段サムネイル*/
.cmcommentt{/*動画のコメント見出し*/
	background: url(../images/pinkmidasi.gif) no-repeat center;
	text-align: left;
	color: #A4A4A4;
	font-size: 13px;
	margin: 0px 0px 0px 20px;
	padding: 0px 20px 0px 20px;
}


.cmcomment{/*動画のコメント*/
	background: #f1eae2;
	text-align: left;
	font-size: 13px;
	margin: 0px 20px 0px 20px;
	padding: 10px 20px 10px 20px;
	border: #e3e3e3 1px solid;
}

/*メインコンテンツバナー
---------------------------------------------------------------------------*/

.mainpr{
	margin: 0px 0px 0px 0px;
}


.mainpr2{
	margin: 50px 0px 0px 0px;
}



