
/*ξ{CAEgΝrank.css@searchresult.css 
---------------------------------------------------------------------------*/
/*VXΙΒ’Δ¦VXp--*/
.newshophed{
	margin: 10px 0px 10px 15px;
}

/*o^ϊ¦VXp--*/

.shopday{
	font-size: 14px;
	color: #6E6E6E;
	font-weight: bold;
	margin: 0px 0px 0px 5px; 
}

/*XάTlCfUCOg¦VXp--*/
.shopouterframenewshop{
	border-bottom:2px solid #BCD9F4;
	border-left:2px solid #BCD9F4;
	border-right:2px solid  #BCD9F4;
	margin: 0px 0px 15px 0px;
	padding: 0px 0px 0px 0px;
}


/*XάTlCfUCwb_[¦VXp--*/
.shopinformationtopnewshop{
	border-top:2px solid  #BCD9F4;
	height: 40px;
	background-color:#ECF7FA;
}


/*XάC[Wζg¦VXκp
-----------------------*/
.shopimage120newshop img{
	border:solid 1px #BCD9F4;
	padding:4px;
	background-color:#fff;
	margin: 30px 0px 0px 30px;
}
.shopimage120newshop img:hover {
	border:solid 1px #e80f57;
}


/*Xάo^ϊΖt[gNA¦VXκp
-----------------------*/

.frotclearnewshop{
	clear:both;
}