

/*見出し（スタイルシートにも同じ適応）
--------------------*/

/*h2タグをテキストタイプで使う場合の設定*/
#main h2.text {
line-height: 30px;
color: #FFFFFF;	/*文字色*/
background: url(/kanto/common/img/title_bg.gif) no-repeat center;	/*背景画像の読み込み*/
width: 648px;
padding-left: 30px;
clear: both;
border: 1px solid #968575;
}

/*検索項目のテーブル表示
--------------------*/

.searchtable{/*サーチテーブル外枠*/
 padding: 0px 0px 0px 0px;   
 margin: 0px 0px 0px 0px; 
}

.searchjob{
 width: 100%;
 border-collapse: separate;
 border-spacing: 0px;
 border-top: 1px solid #ccc;
 border-left: 1px solid #ccc;
}


.searchjob th{
 width:25%;
 height: 50px;
 padding:10px;
 text-align: left;
 vertical-align: top;
 background-color: #f1eae2;
 border-left: 3px double #999;
 border-top: 1px solid #fff;
 border-right: 1px solid #ccc;
 border-bottom: 1px solid #ccc;
 }

.searchjob td{
 width:75%;
 padding:10px;
 background-color: #fafafa;
 border-right: 1px solid #ccc;
 border-bottom: 1px solid #ccc;
 }



/*サーチラジオボタンエリア全体
--------------------*/
.searchbon{
 text-align: center;
 padding: 20px 0px 20px 0px;   
 margin: 0px 0px 0px 0px; 
 }



/*検索開始ボタン
--------------------*/
.searchjobbot{
background:url(../images/seachebotan.png) no-repeat;
text-indent:-9999px;
height:86px;
padding: 0px 0px 0px 0px;   
margin: 0px 0px 0px 0px; 
 }



/*エリア検索用チェック
--------------------*/

input[type=radio], input[type=checkbox] {
    display: none;
}

input[type=radio]:checked + .radio:before,
input[type=checkbox]:checked + .check:before {
    opacity: 1;
}

.check {
    box-sizing: border-box;
    position: relative;
    display: inline-block;
    margin: 0 20px 10px 0;
    padding: 0 0 0 30px;
    vertical-align: middle;
    cursor: pointer;
}

.check:hover:after {
    border-color: #e80f57;/*枠色ピンク*/
}

.check:after {
    position: absolute;
    top: 50%;
    left: 0;
    display: block;
    margin-top: -12px;
    width: 18px;
    height: 18px;
    border: 2px solid #bbb;
    border-radius: 3px;
    content: '';
}

.check:before {
    position: absolute;
    top: 50%;
    left: 7px;
    display: block;
    margin-top: -9px;
    width: 5px;
    height: 10px;
    border-right: 3px solid #ff7ba6;/*チェックピンク*/
    border-bottom: 3px solid #ff7ba6;/*チェックピンク*/
    transform: rotate(45deg);
    content: '';
    opacity: 0;
}

.radio {
    box-sizing: border-box;
    position: relative;
    display: inline-block;
    margin: 0 20px 0 0;
    padding: 0 0 0 30px;
    vertical-align: middle;
    cursor: pointer;
}

.radio:hover:after {
     border-color: #e80f57;/*枠色ピンク*/
}

.radio:after {
    position: absolute;
    top: 50%;
    left: 0;
    display: block;
    margin-top: -12px;
    width: 18px;
    height: 18px;
    border: 2px solid #bbb;
    border-radius: 50%;
    content: '';
}

.radio:before {
    position: absolute;
    top: 50%;
    left: 6px;
    display: block;
    margin-top: -6px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #ff7ba6;/*チェックピンク*/
    content: '';
    opacity: 0;
}



