﻿@charset "UTF-8";


/*再度サーチ用のテーブルデザインセンター
---------------------------------------------------------------------------*/

.table_01 {
	width:100%;
	margin:0px 0px 10px 0px;
	padding:0px;
	border-collapse:collapse;
	border-top:1px dotted #999999;
}
.table_01 th {
	width:20%;
	padding:4px 2px 2px 4px;
	text-align:left;
	vertical-align:top;
	color:#666666;
	background-color:#f1eae2;
	border-bottom:1px dotted #999999;
	border-left:1px solid #e80f57;
}

.table_01 td {
	padding:4px 2px 2px 6px;
	border-bottom:1px dotted #999999;
	border-left:1px double #CCCCCC;
	border-Right:1px dotted #999999;
}


/*結果ヘッド外枠
---------------------------------------------------------------------------*/

.hed{
	width:100% ;
	padding: 0px 0px 0px 0px;
}

/*サーチ結果の店舗数
---------------------------------------------------------------------------*/

.searchresult{
	font-size:15px;
	margin: 0px 0px 0px 0px;
	padding: 0px 60px 0px 0px;
}

.searchdeta{
	font-size:20px;
	color:#e80f57;
}



/*回り込み解除
---------------------------------------------------------------------------*/
.frotclear{
	clear:both;
}

.frotclear img{
	margin: 10px 0px 0px 0px;
}

/*区切り線
---------------------------------------------------------------------------*/
.catline{
	background: url(/kanto/search/img/shoptitleline.gif) no-repeat bottom;
}

/*ソート部分
---------------------------------------------------------------------------*/
.tesutosrot{ /*ソート部分外枠*/
	margin: 0px 0px 0px 20px;
	padding: 10px 0px 10px 0px;
	width: 100%;  
} 

ul.sort li{ /*リスト全体*/
	list-style-type:none; 
	display: inline-block;
	padding-left:8px; 
	padding-right:8px; 
	border-right:1px solid #e2e1d3;
	font-size: 13px;
} 

ul.sort li a{ /*リストリンク文字色*/
	color: #666666;
} 

ul.sort li a:hover{ /*リスト文字色マウスオーバー*/
	color: #e80f57;
	text-decoration: underline;
} 



ul.sort li.last{/*リスト最後*/
	border-right:1px solid #e2e1d3;
}


/*店舗サムネイルデザイン外枠
---------------------------------------------------------------------------*/
.shopouterframe{
	border-bottom:2px solid #f1eae2;
	border-left:3px solid #f1eae2;
	border-right:3px solid  #f1eae2;
	margin: 0px 0px 15px 0px;
	padding: 0px 0px 0px 0px;
}



/*店舗デザイン上部
-----------------------*/
.shopinformationtop{
	height: 40px;
	background-color:#f1eae2;
}


/*有料店用カラー
-----------------------*/
.shopouterframeextra{
	border-top:3px solid  #fae486;
	border-bottom:2px solid #fae486;
	border-left:3px solid #fae486;
	border-right:3px solid  #fae486;
	margin: 0px 0px 15px 0px;
	padding: 0px 0px 0px 0px;
}



/*有料店用カラー
-----------------------*/
.shopinformationtopextra{
	height: 37px;
	background-color:#fefae6;
}


/*キャッチコピー
-----------------------*/
.shopinformationcatchcopy{
	float:left;
	font-size:13px;
	margin: 0px 0px 0px 0px;
	padding: 6px 0px 0px 12px;
	color:#5F5B51;
}


/*お気に入り
-----------------------*/
.shopinformationbookmark{
	float:right;
	margin: 5px 5px 0px 0px;
	padding: 0px 0px 0px 0px;
}

/*問い合わせボタン
-----------------------*/
.shopinformationmail{
	float:right;
	margin: 5px 5px 0px 0px;
	padding: 0px 0px 0px 0px;
}



/*店舗デザイン左部
-----------------------*/
.shopinformationleft{
	float:left;
}

/*店舗イメージ画像
-----------------------*/
.shopimage120{
	padding: 30px 0px 0px 30px;
}

/*店舗イメージ画像枠
-----------------------*/
.shopimage120 img{
	border:solid 1px #958574;
	padding:4px;
	background-color:#f1eae2;
}

.shopimage120 img:hover {
	border:solid 1px #e80f57;
}


/*店舗デザイン右部
-----------------------*/
.shopinformationright{
	float:left;
}
/*店舗名
-----------------------*/
.shoptitle{
	font-size:16px;
	margin: 20px 0px 0px 35px;
	font-weight: bold;
	background: url(/kanto/search/img/shoptitleline.gif) no-repeat bottom;
	width:430px ;
	height: 40px;
	clear:both;
}

.shoptitle a{/*店舗名*/
	color:#624028;
}

.shoptitle a:hover{/*店舗名*/
	color:#e80f57;
}

/*ランク外枠
-----------------------*/
.shoprankframe{/*ランク系の外枠*/
	padding: 0px 0px 0px 0px;   
	margin: 0px 0px 0px 25px;
	clear:both;
}

/*ランク星
-----------------------*/
.hosi{/*星*/
	padding: 10px 0px 0px 10px;   
	margin: 0px 0px 0px 0px;
}

/*ランクスコア
-----------------------*/
.scor{/*点数*/
	font-size:19px;
	font-weight: bold;
	padding: 6px 0px 0px 10px;   
	margin: 0px 0px 0px 0px;
	color:#e80f57;
	float:left;
}

/*口コミ数
-----------------------*/
.kutikazu{/*口コミ投稿数前後の文字*/
	font-size:11px;
	padding: 12px 0px 0px 15px;   
	margin: 0px 0px 0px 0px; 
	color:#695e52;
	float:left;
}

.talk{/*口コミ投稿数、数字表示のデザイン*/
	font-size:17px; 
	color:#e80f57;
}

/*営業ページを確認する
-----------------------*/
.shophomepage{/*営業ページ*/
	font-size:11px;
	padding: 20px 0px 0px 15px;   
	margin: 0px 0px 0px 0px; 
	color:#695e52;
	float:left;
}

/*ショップステータス外枠
-----------------------*/
.shopstatusframe{
	padding: 0px 0px 0px 0px;   
	margin: 0px 0px 0px 30px;
	clear:both;
}


/*ショップステータス左ボックス
-----------------------*/
.shopstatusframeleft{
	float:left;
	padding: 0px 0px 0px 0px;   
	margin: 0px 0px 0px 0px;
}

/*エリア
-----------------------*/
.shopstatusframe dd { 
	font-size:14px;
	margin: 0px 0px 0px 10px;
}
/*業種
-----------------------*/
.shopstatusframe dd{
	font-size:14px;
	margin: 0px 0px 0px 10px;
}
/*営業時間
-----------------------*/
.shopstatusframe dd{
	font-size:14px;
	margin: 0px 0px 0px 10px;
}

/*アイコン
-----------------------*/
.shopstatusframe dd img{ 
	margin: 0px 0px 0px 0px;
	vertical-align: -3px;
}

/*詳細ボタン
-----------------------*/
.detail{
	float:right;
	margin: 0px 0px 0px 0px;
}


/*店舗デザイン下部外枠
-----------------------*/
.shopinformationbottom{
	clear:both;
	width:100%;
	padding: 0px 0px 0px 0px;
}

/*最新クチコミロゴ部分
-----------------------*/
.shopinformationnewkutikomi{
	margin: 0px 0px 0px 30px;
	padding: 0px 0px 0px 10px;
	vertical-align: -2px;
}

.shopinformationnewkutikomi img{
	vertical-align: -3px;
}


/*店舗デザイン下部左吹き出し部分
-----------------------*/
.shopbottomleft {
	position: relative;
	display: inline-block;
	float:left;
	width:70%;
	height: 60px;
	font-size:13px;
	color:#8B4513;
	margin: 5px 0px 0px 30px;
	padding: 5px 10px 0px 10px;
	min-width: 115px;
	text-align: left;
	background: #f1eae2;
	z-index: 0;
	border-radius: 4px;
}
.shopbottomleft:after {
	content: "";
	position: absolute;
	top: 50%; right: -10px;
	margin-top: -10px;
	display: block;
	width: 0px;
	height: 0px;
	border-style: solid;
	border-width: 10px 0 10px 10px;
	border-color: transparent transparent transparent #f1eae2;
}


/*口コミ吹き出し内☆画像
-----------------------*/
.newkutikomipointwaku img{
	vertical-align: -2px;
}

/*最新口コミ本文一部
-----------------------*/
.newkutikomibunitibu {
	margin: -10px 0px 0px 0px;
	font-weight:bold; 
}

.newkutikomibunitibu a{
	color:#5F5B51;
}
.newkutikomibunitibu a:hover{
	color:#5F5B51;
}

/*最新口コミ点数
-----------------------*/
.newkutikomipoint{
	font-size:14px;
	font-weight: bold;
	color:#E80F57;
}

/*最新口コミ投稿時間
-----------------------*/
.newkutikomitime{
	font-size:11px;
	color:#6E6E6E;
}

/*最新口コミプロフ画像枠
-----------------------*/
.plofgazou{
	margin: 0px 0px 0px 0px;
	text-align: center;
}

.plofgazou img{
	border:solid 1px #958574;
	border-radius: 50% ;
}

/*最新口コミプロフ画像ネーム
-----------------------*/

.plofimgname{
	margin: 0px 0px 0px 0px;
	text-align: center;
}

.plofimgname a{
	color:#2F1D0A;
}

.plofimgname a:hover{
	margin: 0px 0px 0px 0px;
	text-align: center;
	color:#e80f57;
}




/*店舗デザイン下部右
-----------------------*/
.shopbottomright{
	float:right;
	width:20%;
	margin: 5px 12px 0px 0px; 
}




/*サーチ用アフィリのバナー高さ調整
-----------------------*/

.afisearchresult{
	text-align: center;
	margin: 0px 0px 10px 0px;
	width: 280px;
}

/*右再検索部分
-----------------------*/

#lesearch{/*右再検索外枠*/
	border-bottom:1px dotted #a2a2a2;
	border-left:1px dotted  #a2a2a2;
	border-right:1px dotted  #a2a2a2;
	padding: 0px 0px 8px 0px;
}

.lesearchtext li{/*リスト部分*/
	padding: 5px 0px 0px 10px;
}

.boxline{/*仕切りライン---*/
	margin: 5px 0px 5px 0px;
	padding: 0px 0px 0px 0px;
	text-align: center;
}

.lesearchbotan{/*サーチボタン---*/
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	text-align: center;
}


/*再検索タイトル
-----------------------*/

.lesearchtitle{/*タイトル---*/
	padding: 0px 0px 0px 6px;
}



/*再検索ボタン
-----------------------*/

.lesearchbotan{
	margin: 20px 0px 20px 0px;
}

.endbtn {/*サーチボタンデザイン---*/
	-moz-box-shadow: 0px 1px 0px 0px #f0f7fa;
	-webkit-box-shadow: 0px 1px 0px 0px #f0f7fa;
	box-shadow: 0px 1px 0px 0px #f0f7fa;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #62bfee), color-stop(1, #32adea));
	background:-moz-linear-gradient(top, #62bfee 5%, #32adea 100%);
	background:-webkit-linear-gradient(top, #62bfee 5%, #32adea 100%);
	background:-o-linear-gradient(top, #62bfee 5%, #32adea 100%);
	background:-ms-linear-gradient(top, #62bfee 5%, #32adea 100%);
	background:linear-gradient(to bottom, #62bfee 5%, #32adea 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#62bfee', endColorstr='#32adea',GradientType=0);
	background-color:#62bfee;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	border-radius:4px;
	border:1px solid #1598d9;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-size:14px;
	padding:10px 28px;
	text-decoration:none;
 	-webkit-box-shadow:inset 0px 0.5px 1px 0.5px #AED5E9;
 	-moz-box-shadow:inset 0px 0.5px 1px 0.5px #AED5E9;
 	box-shadow:inset 0px 0.5px 1px 0.5px #AED5E9;
}
.endbtn:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #32adea), color-stop(1, #62bfee));
	background:-moz-linear-gradient(top, #32adea 5%, #62bfee 100%);
	background:-webkit-linear-gradient(top, #32adea 5%, #62bfee 100%);
	background:-o-linear-gradient(top, #32adea 5%, #62bfee 100%);
	background:-ms-linear-gradient(top, #32adea 5%, #62bfee 100%);
	background:linear-gradient(to bottom, #32adea 5%, #62bfee 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#32adea', endColorstr='#62bfee',GradientType=0);
	background-color:#32adea;
}
.endbtn:active {
	position:relative;
	top:1px;
}


/*1,2,3,4のデザイン-------------------------
*/


.paginate{
	text-align: center;
	font-size: 13px;
}

#nextcaunt ul{
	margin: 0; 
	padding: 0; 
	list-style: none;
	margin: 0px 0px 0px 0px;
	padding: 10px 0px 20px 0px;
}

#nextcaunt li{ 
	display: inline; 
	padding: 0; 
	margin: 0; 
	float: left;
}

#nextcaunt li a{
	display: block; 
	border: 1px solid #DDD;
	background-color: #EEE;
	padding: 3px;
	text-decoration: none;
	color: #333;
	width: 39px; 
	margin: 1px 9px 0 0;
	text-align: center;
	font-size: 14px;
}

#nextcaunt li a:hover{
	background-color: #e80f57;
	color: #fff;
}


.anderjob{
	margin: 0px 0px 0px 7px;
	padding: 0px 0px 0px 0px;
}

/* ラジオボタン */
input[type=checkbox] {
    width: 20px;
    height: 20px;
    vertical-align: middle;
}
input[type=radio] {
    width: 20px;
    height: 20px;
    vertical-align: middle;
}


