　charset "utf-8";"

/* .imgInput
------------------------- */


.imgInput{
	margin-top: 10px;
	margin-bottom: 10px;
	display: inline-block;
	overflow: hidden;
	position: relative;
	padding: 1em;
	border: 1px solid #e5e6e7;
	background-color: #fff;
}


.file input[type="file"] {
	opacity: 0;
	filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0);
	position: absolute;
	right: 0;
	top: 0;
	margin: 0;
	font-size: 100px;
	cursor: pointer;
}


/* .imgView
------------------------- */
.imgView {
	margin-top: 20px;
	display: block;
	text-align: center;
}

