/*ページネーション*/
.paginationpls{
	overflow: hidden;
}

.paginationpls ul {
	list-style: none;
	position: relative;
	left: 50%;
	float: left;
}

.paginationpls ul li {
	margin: 0 1px;
	position: rilative;
	left: -50%;
	float: left;
}

.paginationpls ul li span,
.paginationpls ul li a{
	display: block;
	font-size: 18px;
	padding: 0.6em 1em;
	border-radius: 3px;
}

.paginationpls ul li a{
	background: #EEE;
	text-decoration: none;
	color: #676a6c;
}

.paginationpls ul li a:hover {
    	background: #293846;
	color: #FFF;
}


/*--------新しいページネーション-------------*/
.paging ul{
  /* For IE */
  	-js-display: flex;
  	display: flex;
}

.paging li{
	list-style-type: none;

	flex: 1 0 auto;
	border: 1px solid #DDD;
	background-color: #fff;
}

.paging li a {
 	 display: flex;
  	justify-content: center;
  	align-items: center;
	color: #333;
	width: 35px; 
  	height:30px;
}
 
@media only screen and ( max-width: 630px ) {  
 
  /* 全てのli要素を消す */
  .paging li {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }
 
  /* 必要なli要素を消す */
 	 .pager li.active,
	 .pager li:first-of-type,
	 .pager li:last-of-type,
 	 .pager li:nth-of-type(2),
	 .pager li:nth-last-of-type(2){
   	 position: static;
   	 top: initial;
	 left: initial;
  }
}
 
.paging li {
 
 /* For IE */
 	display: flex;
 	justify-content: center;
	border: 1px solid #DDD;
	background-color: #fff;
	width: 35px; 
  	height:30px;
}
 
.paging a {
  /* For IE */
  	flex: 1;
	width: 35px; 
  	height:30px;
  	text-decoration:none;
  	color: #333;
}
 
 
ul {
   	-webkit-padding-start: 0px;
}


.paging a:hover {
	border: 1px solid #D3D3D3;

}

.paging .act {
	box-shadow:0px 0px 7px -1px #c2c2c2 inset;
	-moz-box-shadow:0px 0px 7px -1px #c2c2c2 inset;
	-webkit-box-shadow:0px 0px 7px -1px #c2c2c2 inset;
}


/*--------新しいページネーション-------------*/

/*各リスト*/
.nextlist{
	text-align: right;
	margin: 10px 0 0 0;
}


/*ユーザー口コミ詳細ページ*/
.mail-box-headerleft{
	float: left;
}



/*ランキングデータ登録ボタンポジション*/
.form-group .entbottom{
	margin-top: 22px;
	text-align: center; 
}

/*(又は)のポジション*/
.iftext{
	margin-top: 30px;
	text-align: center;
	font-weight: bold;
}

/*ブログランキングショップ名*/
.blogrankshop{
	 font-size: 12px;
	 margin: 0;
	 color: #b4b6b8;
}






/* ファイルアップロードボタン
------------------------- */


.imgInput{
	margin-top: 10px;
	margin-bottom: 10px;
	display: inline-block;
	overflow: hidden;
	position: relative;
	padding: 1em;
	border: 1px solid #e5e6e7;
	background-color: #fff;
　　　　color:#fff;
}


.imgInput input[type="file"] {
	opacity: 0;
	filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0);
	position: absolute;
	right: 0;
	top: 0;
	margin: 0;
	font-size: 100px;
	cursor: pointer;
}


/* .imgView
------------------------- */
.imgView {
	margin-top: 20px;
	display: block;
	text-align: center;
}


/*入力不備字のエラーメッセージ
--------------------------------*/
span.errorForm {
	color: #ed5565;
}


/*広告コントロール画像外枠
--------------------------------*/


.primgslider {
	max-width: 300px;
}

.primgright {/*右ナビメニュー上下 ※ここで設定したサイズで画像が表示される*/
	max-width: 150px;
	max-height: 250px;
}

.primgvoicelist {/*口コミ一覧右下 ※ここで設定したサイズで画像が表示される*/
	max-width: 150px;
	max-height: 250px;

}

.primgmatome {/*広告画像の外枠 ※ここで設定したサイズで画像が表示される*/
	max-width: 150px;
	max-height: 200px;

}

.primgmypage {/*広告画像の外枠 ※ここで設定したサイズで画像が表示される*/
	max-width: 150px;
	max-height: 200px;

}

.primgrandom {/*広告画像の外枠 ※ここで設定したサイズで画像が表示される*/
	max-width: 250px;

}


.primgflag{
	max-height: 200px;
}


.primg_s_random {
	max-width: 250px;
}

.primg_s_random2 {
	max-width: 300px;
}

.primg_s_slider {
	max-width: 280px;
}

.primg_s_drawer {
	max-width: 250px;
}


/*ランキングページ
--------------------------------*/

.blogrank-time{/*※ブログ投稿時間*/
	font-size: 11px;
	color:#6E6E6E;
	
}



.usernamehavar img{/*※ユーザー画像角丸*/
	border-radius: 50% ;
}



/*トックスページ　非表示部分
--------------------------------*/
.greybak{
	background-color: #f5f5f6;
}


/*infoページ info記事種類のチェックボックス　
--------------------------------*/

.chekblok{
	margin-top: 10px;
}


/*調査結果入力ページ　項目内容　
--------------------------------*/

.mysrerytable{
	margin-top: 20px;
}

.mysrerytabletrash{
	margin-top: 15px;
}

/*まとめ　項目名の高さ
--------------------------------*/

.topmargin{
	margin-top: 5px;
}


/*追加ボタンカラー
--------------------------------*/

.label-gray-custom {
	margin-left: 20px;
	color: #fff;
	background: #777;
	font-size: 12px;
	padding: 5px;
	border-radius: 3px;
}


