
.mailinfo{
	margin: 15px 0px 0px 0px;
	padding: 10px 10px 10px 10px;
	text-align: left;
	width: 654px;
	border-radius: 2px;
	border-bottom:3px solid #f1eae2;
	border-left:3px solid #f1eae2;
	border-right:3px solid  #f1eae2;
	border-top:3px solid  #f1eae2;
	box-shadow:0px 1px 0px 1px rgba(232,232,232,0.4);
}



/*個人情報について
-----------------------*/

/*ヘッド部分
-----------------------*/
.kozinhed {
	text-align: center;
	height: 25px;
	background-color:#f1eae2;
	padding: 5px 0px 5px 10px;
}

/*内容部分
-----------------------*/
.kozininfo{
	color:#6E6E6E;
	border-bottom:5px solid #f1eae2;
	border-left:5px solid #f1eae2;
	border-right:5px solid  #f1eae2;
	margin: 0px 0px 15px 0px;
	padding: 5px 20px 0px 20px;
}



/*質問リスト
-----------------------*/
.question {
    	padding:7px 0 7px 10px;
    	font-size:12px;
    	border:1px solid #ddd;
    	background:#eee;
    	cursor: pointer;
	color:#6E6E6E;
}
.answer {
    	padding:25px;
    	font-size:12px;
    	border:1px solid #ddd;
}


.qalist li{
    padding:5px 0 5px 0; 
    border-bottom:1px solid #ddd;
}




/*よくある質問
-----------------------*/ 

.qandatitle {
	font-weight: bold;
	font-size:15px;
	margin: 25px 0px 0px 0px;
	padding: 10px 10px 10px 10px;
	text-align: left;
	width: 654px;
	border-radius: 2px;
	border-bottom:3px solid #f1eae2;
	border-left:3px solid #f1eae2;
	border-right:3px solid  #f1eae2;
	border-top:3px solid  #f1eae2;
	box-shadow:0px 1px 0px 1px rgba(232,232,232,0.4);
}

.qandablok{
	margin: 10px 0px 0px 0px;
	padding: 12px 12px 12px 12px;
}