﻿@charset "UTF-8";
/* CSS Document */
.selectWrap {
  overflow: hidden;
}
.selectWrap select {
  width: 130%;
  border: none;
}

/*-----------------------------------------------------

全体

------------------------------------------------------*/
#wrapper {
  overflow: hidden;
  width: 100%;
  max-width: 640px;
  margin: auto;
  padding-bottom: 20px;
}

.inner {
  margin-left: auto;
  margin-right: auto;
}

/*-----------------------------------------------------

header

------------------------------------------------------*/
#header {
  overflow: hidden;
  display: table;
  width: 100%;
  padding: 0 3.125%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background: #FAF4EF;
}
#header .logo {
  display: table-cell;
  width: 60%;
  border-right: #DAD5CF solid 1px;
  vertical-align: middle;
}
#header .logo a {
  display: block;
  padding: 15px 0;
  color: #857260;
  font-weight: bold;
  font-size: 18px;
}
#header .myPage {
  display: table-cell;
  width: 40%;
  padding: 15px 0;
  border-left: solid 1px #fff;
  vertical-align: middle;
  text-align: center;
  font-weight: bold;
  font-size: 1.1rem;
}
#header .myPage a {
  display: inline-block;
  padding-left: 18px;
  line-height: 1.2em;
  background: url("../images/common/myPage.png") no-repeat left center;
  -webkit-background-size: 12px 16px;
  background-size: 12px 16px;
  font-size: 1.1rem;
}

/*-----------------------------------------------------

gNav

------------------------------------------------------*/
#gNav {
  overflow: auto;
  position: relative;
  width: 100%;
  margin-bottom: 15px;
  border: #423533 solid 1px;
  background: -webkit-linear-gradient(top, #4D3C3B 1%, #3D302F 80%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #4D3C3B 1%, #3D302F 80%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}
#gNav ul {
  display: table;
  table-layout: fixed;
  width: 154%;
}
#gNav ul li {
  display: table-cell;
  width: 22%;
  padding: 5px 0;
  border-right: #362C2A 1px solid;
  border-left: #3D302F 1px solid;
  text-align: center;
}
#gNav ul li a {
  display: block;
  text-align: center;
  color: #FFF;
  background-position: center top;
  background-repeat: no-repeat;
  -webkit-background-size: contain;
  background-size: contain;
  font-weight: bold;
  font-size: 1rem;
}
#gNav ul li a img {
  display: block;
  width: 50%;
  margin: 7px auto;
}

.index #gNav {
  margin-bottom: 0;
}

/*-----------------------------------------------------

drawer

------------------------------------------------------*/
.drawerWrap {
  display: none;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 100;
  width: 100%;
  height: 330%;
  background: rgba(0, 0, 0, 0.7);
}
.drawerWrap .drawer {
  width: 93.75%;
  margin: 40% auto 0 auto;
  padding-bottom: 10px;
  background: #FFF;
  -webkit-border-radius: 8px;
  border-radius: 8px;
}
.drawerWrap .drawer h2 {
  margin-bottom: 10px;
}
.drawerWrap .drawer .drawerBody {
  width: 93.75%;
  margin-left: auto;
  margin-right: auto;
}
.drawerWrap .drawer .drawerBody p {
  margin-bottom: 5px;
}
.drawerWrap .drawer .repeatClose2,
.drawerWrap .drawer .close2 {
  width: 40%;
  margin: auto;
}
.drawerWrap .drawer .searchField {
  margin-bottom: 10px;
  border-top: 1px solid #F5E9DC;
  border-bottom: 1px solid #F5E9DC;
  background: -webkit-linear-gradient(top, #fff 0%, #FAF4EF 100%);
  background: linear-gradient(to bottom, #fff 0%, #FAF4EF 100%);
}

/*-----------------------------------------------------

contents

------------------------------------------------------*/
#contents {
  overflow: hidden;
  font-size: 1.4rem;
}

.pageTop a {
  display: block;
  width: 8em;
  margin: 0 3.125% 15px auto;
  padding: 0.5em 10px;
  background: -webkit-linear-gradient(top, #FE8FAF 0%, #F56A93 50%, #F15D81 51%, #F08AAF 100%);
  background: linear-gradient(to bottom, #FE8FAF 0%, #F56A93 50%, #F15D81 51%, #F08AAF 100%);
  -webkit-border-radius: 0 0 10px 10px;
  border-radius: 0 0 10px 10px;
  color: #FFF;
  font-size: 1.3rem;
  font-weight: bold;
  text-align: right;
}
.pageTop a span {
  width: 6em;
  padding-left: 20px;
  font-weight: bold;
  background: url("/sp/kanto/common/img/pageTop.png") no-repeat left center;
  -webkit-background-size: 15px;
  -o-background-size: 15px;
  background-size: 15px;
}

/*-----------------------------------------------------
footer
------------------------------------------------------*/
#footer {
  border-top: #907C6A solid 2px;
}
#footer nav {
  margin-bottom: 15px;
}
#footer nav ul {
  overflow: hidden;
  width: 100%;
}
#footer nav ul li {
  background: -webkit-linear-gradient(top, #ffffff 0%, #faf4ef 100%);
  background: linear-gradient(to bottom, #ffffff 0%, #faf4ef 100%);
  border: #F5E9DD solid 1px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
#footer nav ul li a {
  display: block;
  padding: 15px 3.125%;
  font-size: 1.3rem;
}
#footer .copy {
  color: #85725F;
  text-align: center;
  font-size: 1.4rem;
}
