/*-----------------------------------------------------
index
------------------------------------------------------*/

.index .indexTop{
  position: relative;
  padding: 15px 3.125% 60px 3.125%;
  background:url("/sp/img/top.jpg") no-repeat center;
  -webkit-background-size: cover;
          background-size: cover;
}
.index .indexTopGrid{
  content: "";
  display: block;
  position: absolute;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: url("/sp/img/grid.png");
}
.index .indexTopLogo{
  position: relative;
  z-index: 2;
  width: 60%;
  margin: auto;
}
.index .indexTop a{
  color:#fff;  
  text-decoration: underline;
  font-size: 1.3rem;
}
.index .indexTop ul{
  position: relative;
  z-index: 2;
  margin-bottom: 50px;
  text-align: right;
}
.index .indexTop li{
  display: inline-block;
  padding-left: 2em;
}
.index .indexTop input[type="text"]{
  position: relative;
  z-index: 2;
  display: block;
  width: 80%;
  margin: 20px auto;
  padding: 10px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: 1px solid #e5e5e5;
  background: #FFF;
  -webkit-border-radius: 0;
          border-radius: 0;
  -webkit-box-shadow: 1px 1px 3px rgba(0,0,0,0.1) inset;
          box-shadow: 1px 1px 3px rgba(0,0,0,0.1) inset;
}

.index .topics ul {
  overflow: hidden;
  margin-bottom: 15px;
  padding: 10px 3.125%;
  background: #FAF4EF;
  border-bottom: #F5E9DE solid 1px;
}
.index .topics ul li {
  width: 50%;
  padding: 10px;
  border-top: #F5E9DE solid 1px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background: #FFF;
  font-size: 1.3rem;
  font-weight: bold;
  line-height: 1.2em;
  height: 140px;
}
.index .topics ul li a {
  display: block;
  padding: 0px;
  color: #413324;
  font-weight: bold;
}
.index .topics ul li span {
  position: relative;
  display: block;
}
.index .topics ul li span:after {
  content: "";
  position: absolute;
  right: 0;
  top: 50%;
  display: block;
  width: 18px;
  height: 23px;
  margin: -11.5px auto auto auto;
  background: url("/sp/kanto/common/img/topicsBtn.png") no-repeat right center;
  -webkit-background-size: 18px 23px;
  -o-background-size: 18px 23px;
  background-size: 18px 23px;
}
.index .topics ul li img {
  margin-bottom: 5px;
}
.index .topics ul li:nth-child(odd) {
  clear: both;
  float: left;
  border-left: #F5E9DE solid 1px;
}
.index .topics ul li:nth-child(even) {
  float: right;
  border-left: #F5E9DE solid 1px;
  border-right: #F5E9DE solid 1px;
}


.index .movie .movieBody {
  border-top: solid 1px #F1E0D3;
  border-bottom: solid 1px #F1E0D3;
  background: -webkit-linear-gradient(top, #fff 1%, #FAF4EF 100%);
  background: linear-gradient(to bottom, #fff 1%, #FAF4EF 100%);
  padding: 10px 3.125% 0 3.125%;
  margin-bottom: -20px;
  
}
.index .movie .movieTop {
  margin-bottom: 10px;
}
.index .movie .movieTop p {
  margin-bottom: 5px;
  text-align: center;
  font-weight: bold;
}
.index .movie .shopName {
  text-align: center;
  font-size: 1.4rem;
}

.index .movie .shopName a{
  color: #624028;
  font-weight: bold;
}
.index .movie .date {
  font-size: 1.0rem;
}
.index .movie ul {
  overflow: hidden;
}
.index .movie ul li:nth-child(odd) {
  float: left;
}
.index .movie ul li:nth-child(even) {
  float: right;
}
.index .movie ul li {
  width: 48%;
  margin-bottom: 10px;
}

.index .searchBox ul {
  margin-bottom: 15px;
}


/*--トップページインフォメーション--*/
.index .info {
  border-bottom: #F5E9DF solid 1px;
}
.index .info h2 {
  padding: 5px 3.125%;
  background: -webkit-linear-gradient(top, #9A8574 1%, #7B6A5A 80%);
  background: linear-gradient(to bottom, #9A8574 1%, #7B6A5A 80%);
  color: #fff;
  font-weight: bold;
  font-size: 1.4rem;
}

.index .info ul li {
  display: table;
  width: 100%;
  background: -webkit-linear-gradient(top, #ffffff 0%, #faf4ef 100%);
  background: linear-gradient(to bottom, #ffffff 0%, #faf4ef 100%);
  border-bottom: #F5E9DF solid 1px;
　text-decoration: none;
}

.index .info ul li a {
  display: table-cell;
  padding: 10px 3.125%;
  vertical-align: middle;
　text-decoration: none;
}


.index .info ul li .infotext {
 margin-left:20px;
 color: #6E6E6E;
 font-size: 12px;
 font-weight:normal;
text-align: center;
}

.index .info ul li a:nth-child(1) {
  width: 7em;
  text-decoration: underline;
  color: #6E6E6E;
  font-size: 1.2rem;
}




.index .baseBox {
  font-size: 1.2rem;
}
.index .baseBox .date {
  clear: both;
  padding-top: 5px;
}


/*--トップページのピックアップ部分--*/
.index .pickup .shopName {
  margin-top: 10px;
  width: 10em;
  font-size: 13px;
  line-height: 1.2em;
  font-weight: bold;
  text-decoration: underline;
}
.index .pickup .areaName{
  font-size: 1.1rem;
}


p.boxStarpic {/*------ピックアップの星と点数------*/
  width: 100%;
  margin: 0px 0px 0px 5px;
}
p.boxStarpic .starNum {
  padding-left: 5px;
  color: #e80f57;
  font-size: 2rem;
  font-weight: bold;
}
p.boxStarpic .starNum span {
  font-size: 1.5rem;
  color: #e80f57;
}
p.boxStarpic img {
  position: relative;
  margin: 0px -2px 0px 0px;
  top: -0.5em;
  width: 1.5em;
  vertical-align: middle;
}


/*--トップページの口コミ*/
.index .new .boxImg figcaption {
  width: 4em;
  margin: auto;
}
.index .new .shopName {/*------投稿された店名------*/
  	line-height: 1.2em;
	font-size: 11px;
	color:#624028;
	font-weight: bold;
	width:20em;
	border-bottom:1px dotted #D9D8D8;
}

.index .new p.kutikomitaitle{/*------メインページ新着口コミの口コミタイトル------*/
	font-size: 14px;
	font-weight: bold;
	line-height: 1.2em;
	color:#5F5B51;
	margin: 7px 0px 0px 10px;
	width:15em;
}


.index .new p.areanameindexvois{/*------メインページ新着口コミのエリア------*/
	font-size: 1.1rem;
	color:#6E6E6E;
	margin: 0px 0px 0px 10px;
}


.namecra{/*------メインページ新着口コミのユーザーネームサイズ------*/
	font-size: 11px;
	line-height: 1.2em;
}

p.boxStarkai {/*------メインページ新着口コミの星と点数------*/
  width: 100%;
 margin: 0px 0px 0px 5px;
}
p.boxStarkai .starNum {
  padding-left: 5px;
  color: #e80f57;
  font-size: 2rem;
  font-weight: bold;
}
p.boxStarkai .starNum span {
  font-size: 1.5rem;
  color: #e80f57;
}
p.boxStarkai img {
  position: relative;
  margin: 0px 2px 0px 0px;
  top: -0.5em;
  width: 1.5em;
  vertical-align: middle;
}

.index .new .date {
 font-size: 10px;
}




/*--トップページのブログ--*/
.index .blogInfo .boxCnt p:first-child {
  width: 15em;
}
.index .blogInfo .shopName {
  width: 20em;
  font-size: 10px;
  line-height: 1.2em;
  font-weight: bold;
  margin: 5px 0px 0px 0px;
}

.index .blogInfo p.date {
	font-size: 10px;
}

/*--ブログタイトルインデックス--*/
.index .blogInfo .blogtitleindex{
  font-size: 14px;
  width: 15em;
  line-height: 1.2em;
  font-weight: bold;
  color: #5F5B51;
  margin: 5px 0px 0px 0px;
}

.index .blogInfo .areaName{
  font-size: 1.0rem;
  color: #6E6E6E;
}



.index #indexRank dt {
  font-size: 1.4rem;
}
.index #indexRank dd {
  font-size: 1.2rem;
}
.index #indexRank .more {
  margin-top: 10px;
  background-color: #FAF4EF;
}