


/*ランキング10の外枠
---------------------------------------------------------------------------*/

.ranktop10{
	width:680px;
	margin:15px 0px 0px 0px;
	padding:0px;
}

/*画像下部分矢印、オーナメント部分
---------------------------------------------------------------------------*/

.rankshopimg{
	width:160px ;
}


/*ランキング選択ボタン
---------------------------------------------------------------------------*/


.rankchoice img{
    	margin:20px 0px 0px 0px;
}

.rankchoice ul{
	width:100%;
    	margin:20 auto;
}

.rankchoice li{
   	width:223px;
    	display:inline-block;
    	margin:0px 0px 10px 0px;
    	text-align:center;
	font-size:12px;
}



/*TOP３オーナメント
--------------------------*/

.rankoonament{
	margin:5px 0px 0px 30px;
	float:left;
}


/*ランキング矢印
--------------------------*/
.rankyazirusi{
	margin:5px 0px 0px 0px;
	float:left;
}


/*UP、DOWN、KEEP
--------------------------*/
.upred{
	color:#e80f57;
	font-size:10px;
}

.keepgeen{
	color:#298A08;
	font-size:10px;
}

.downblue{
	color:#0101DF;
	font-size:10px;
}

.rankoonament img{
	vertical-align:text-bottom;
	margin:0px 5px 0px 0px;
}


/*店舗デザイン左部※ランキング用背景色
-----------------------*/
.shopinformationleftrank{
	float:left;
	background-color:#ffffff;
}



/*店舗イメージ画像枠※ランキング1位※ランキング専用
-----------------------*/
.shopimage120ranktop1 img{
	border:solid 1px #ffe615;
	padding:4px;
	background-color:#fefae6;
	margin: -15px 0px 0px 30px;
}
.shopimage120ranktop1 img:hover {
	border:solid 1px #e80f57;
}

/*店舗イメージ画像枠※ランキング用2位※ランキング専用
-----------------------*/
.shopimage120ranktop2 img{
	border:solid 1px #868686;
	padding:4px;
	background-color:#E9E8E8;
	margin: -15px 0px 0px 30px;
}
.shopimage120ranktop2 img:hover {
	border:solid 1px #e80f57;
}

/*店舗イメージ画像枠※ランキング用3位※ランキング専用
-----------------------*/
.shopimage120ranktop3 img{
	border:solid 1px #7D573C;
	padding:4px;
	background-color:#F3D1B8;
	margin: -15px 0px 0px 30px;
}
.shopimage120ranktop3 img:hover {
	border:solid 1px #e80f57;
}




/*画像メダル※ランキング専用
-----------------------*/
.imgmedaru{
	position: relative; 
	top: 15px;  
	left: 20px;
}

/*店舗デザイン右部※ランキング用
-----------------------*/
.shopinformationrightrank{
	float:left;
	background-color:#ffffff;
}

/*店舗名店舗デザイン右部※ランキング用
-----------------------*/
.shoptitlerank{
	font-size:16px;
	margin: 20px 0px 0px 35px;
	font-weight: bold;
	background: url(../images/shoptitleline.gif) no-repeat bottom;
	width:478px ;
	height: 40px;
	clear:both;
}

/*店舗キャッチコピー※ランキングと検索結果共通
-----------------------*/
.shopinfocatchcopyrank{
	float:left;
	font-size:13px;
	margin: 0px 0px 0px 0px;
	padding: 6px 0px 0px 12px;
	color:#5F5B51;
}


/*ブログランキングページ
---------------------------------------------------------------------------------------*/


#main .boxtop3 {
	padding: 12px 8px 12px 8px;			/*ボックス内の余白*/
	width: 192px;			/*ボックス幅*/
	height: 215px;			/*ボックスの高さ*/
	overflow: hidden;
	margin-bottom: 1em;
	float: left;
	margin-right: 7px;
	margin-left: 7px;
	font-size: 13px;		/*文字サイズ*/
	background-color: #fefae6;
	border: 2px solid #fae486;
	border-radius: 2px;
	-webkit-border-radius: 2px; 
	-moz-border-radius: 2px;

}

#main .boxtop10 {
	padding: 12px 8px 12px 8px;			/*ボックス内の余白*/
	width: 192px;			/*ボックス幅*/
	height: 215px;			/*ボックスの高さ*/
	overflow: hidden;
	margin-bottom: 1em;
	float: left;
	margin-right: 7px;
	margin-left: 7px;
	font-size: 13px;		/*文字サイズ*/
	border: 2px solid #E6E6E6;
	border-radius: 2px;
	-webkit-border-radius: 2px; 
	-moz-border-radius: 2px;

}


.rankbox{
	background-color:#ffffff;
}

p.blogtitel {
	font-size: 11px;/*ブログタイトル文字サイズ*/
}

/*メインブロックのbox1内の段落設定*/
#main .boxtop3 p {
	padding: 0px;
}
/*画像の設定*/
#main .boxtop3 p.img img {
	border: 1px solid #958574;/*画像の枠線の幅、線種、色*/
	z-index: 2;
}
#main .boxtop3 p.img a:hover img {
	border: 1px solid #e80f57;/*マウスオン時の枠線の幅、線種、色*/
	z-index: 2;
}

/*メインブロックのbox1内の段落設定*/
#main .boxtop10 p {
	padding: 0px;
}
/*画像の設定*/
#main .boxtop10 p.img img {
	border: 1px solid #958574;/*画像の枠線の幅、線種、色*/
	z-index: 2;
}
#main .boxtop10 p.img a:hover img {
	border: 1px solid #e80f57;/*マウスオン時の枠線の幅、線種、色*/
	z-index: 2;
}

/*画像の設定*/
#main .boxtop10 p.img img {
	border: 1px solid #958574;/*画像の枠線の幅、線種、色*/
	z-index: 2;
}
#main .boxtop10 p.img a:hover img {
	border: 1px solid #e80f57;/*マウスオン時の枠線の幅、線種、色*/
	z-index: 2;
}

.blogtitletoprank{/*ランキングボックス内のブログタイトル*/
	font-size: 13px;		/*文字サイズ*/
	margin: 5px 0px 0px 0px;
	font-weight: bold;
}

.blogtitletoprank a{/*ランキングボックス内のブログタイトル*/
	line-height: 15px;
	color: #5F5B51;
}


.blogtimetoprank{/*ランキングボックス内のブログ投稿時間*/
	font-size: 11px;
	color: #6E6E6E;
	margin: 5px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	float: right;
}

.rankblogmark{/*ランキングオーナメント*/
	float: left;
}

/*仕切りデザイン
-----------------------*/
hr.style-six {
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}




/*右ナビのランキングナビメニュー
----------------------------------------------------------------------------------------------------------------------------*/


.ranktext{
width: 100%;
}


/*ヘッド部分
-----------------------*/
.ranktexthed {
	font-size: 100%;		/*文字サイズ*/
	padding: 15px 10px;		/*左から、上下、左右への余白*/
	background: #eeeeee;	/*背景色*/
	border-bottom: 1px solid #d2d2d2;	/*下部の線の幅、線種、色*/
	border-top: 3px solid #e80f57;		/*上部の線の幅、線種、色*/
}

/*内容部分
-----------------------*/

/*メニューブロック全体の設定*/
ul.ranktextul {
	margin-bottom: 1em;
}
/*メニュー１個あたりの設定*/
ul.ranktextul li {
	border-bottom: 1px solid #d2d2d2;	/*メニュー間の線幅、線種、色*/
}
ul.ranktextul li a {
	display: block;
	width: 262px;
	padding: 12px 5px 2px 10px;
	text-decoration: none;
}
ul.ranktextul li a:hover {
	background: #e5e4e0;	/*マウスオン時の背景色*/
	color: #524831;			/*マウスオン時の文字色*/
	border-left: 3px solid #e80f57;	/*マウスオン時に左側に出る線の幅、線種、色*/
	width: 262px;
}


/*右ナビメニュー　ランキング切り替えインフォ
-----------------------*/

/*ヘッド部分
-----------------------*/
.rankinfohed {
height: 25px;
background-color:#f1eae2;
padding: 0px 0px 0px 10px;
}

/*内容部分
-----------------------*/
.rankinfo{
color:#6E6E6E;
border-bottom:5px solid #f1eae2;
border-left:5px solid #f1eae2;
border-right:5px solid  #f1eae2;
margin: 0px 0px 15px 0px;
padding: 5px 20px 0px 20px;
}






