﻿
body {  
	height:100%;/*追加分*/
	margin: 0;/*追加分*/
	background-color: #f8f6ef;
	/*#F0F1F2*/
	color: #413324;
	padding: 0px;
	text-align: center;
	font: 75%/2 "メイリオ", Meiryo, "ＭＳ Ｐゴシック", Osaka, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro";
}


html {
	height:100%;
	margin: 0;/*追加分*/
}
/*bodyフォント
---------------------------------------------------------------------------*/

h1,h2,h3,h4,h5,p,ul,ol,li,dl,dt,dd,form{
	margin: 0px;
	padding: 0px;
}
ul{
	list-style-type: none;
}
img {
	border: none;
}

table {
	border-collapse:collapse;
	font-size: 100%;
	border-spacing: 0;
}


/*リンク（全般）文字設定デフォルト
---------------------------------------------------------------------------*/
a {
	color: #624028;
	text-decoration: none;
}

a:hover {
	color: #e80f57;
	text-decoration: underline;
}


/*コンテナー（全てのブロック）
---------------------------------------------------------------------------*/
#container {
    	position: relative;
     	min-height: 100%;
    	height: 100%;
    	height: auto !important;
	overflow:hidden;
	text-align: left;
	width: 100%;
	background: url(/kanto/common/header/img/container_bg.gif);
	background-repeat:repeat-x;
	background-position:left top;
}

/*ヘッダー
---------------------------------------------------------------------------*/
#header {
	text-align: left;
	height: 93px;	/*ヘッダーの高さ。container_bg.gifの高さに揃えておく。*/
	width: 1000px;	/*ブロック幅*/
	position: relative;
	margin-right: auto;
	margin-left: auto;
}
/*ロゴ画像設定*/
#header #logo {
	position: absolute;
	left: 0px;	/*ヘッダーブロックに対して左から30pxの位置に配置*/
	top: 0px;	/*ヘッダーブロックに対して上から0pxの位置に配置*/
}
/*h1見出しタグ設定*/
#header h1 {
	font-size: 12px;	/*文字サイズ*/
	line-height: 20px;
	font-weight: normal;
	color: #FFFFFF;		/*文字色*/
	position: absolute;
	width: 600px;	/*ボックスの幅*/
	left: 250px;	/*ヘッダーブロックに対して左から250pxの位置に配置*/
	top: 20px;		/*ヘッダーブロックに対して上から20pxの位置に配置*/
}
#header h1 a {
	text-decoration: none;
	color: #FFFFFF;	/*文字色*/
}


/*ログインボタン設定*/
#header #logingate {
	position: absolute;
	top: 20px;	/*ヘッダーブロックに対して上から0pxの位置に配置*/
	right: 80px;	/*ヘッダーブロックに対して右から0pxの位置に配置*/
}


#header #logingate a{
	color: #ffffff;
}

#header #logingate a:hover{
	color: #e80f57;
}



/*ログイン中ボタンアイコン*/
#header #logingateimg{
	position: absolute;
	top: 16px;	/*ヘッダーブロックに対して上から0pxの位置に配置*/
	right: 130px;	/*ヘッダーブロックに対して右から0pxの位置に配置*/
}

#header #logingateimg img{
	margin:0 5px 0 5px;
	vertical-align: -5px;
}

#header #logingateimg .arat{
	color:#fff;
}


#header #logingateimg .arat a{
	color:#fff;
}

#header .logingateimgroundedcorners{
	border-radius: 50%;
}

/*ログイン前ボタンアイコン*/

#header #logingateimg .arat a{
	color:#fff;
}


/*会員登録アイコン*/
#header #entryimg{
	position: absolute;
	top: 16px;	/*ヘッダーブロックに対して上から0pxの位置に配置*/
	right: 10px;	/*ヘッダーブロックに対して右から0pxの位置に配置*/
}

#header #entryimg img{
	margin:0 5px 0 5px;
	vertical-align: -5px;
}

#header #entryimg .arat a{
	color:#fff;
}



/*メインメニュー
---------------------------------------------------------------------------*/
ul#menu {
	color: #ffffff;
	position: absolute;
	top: 60px;	/*ヘッダーブロックに対して上から60pxの位置に配置*/
	left: 0px;	/*ヘッダーブロックに対して左から0pxの位置に配置*/
	width: 1000px;	/*ボックス幅*/
	line-height: 32px;
	height: 32px;
	background: url(/kanto/common/header/img/line1.gif) no-repeat left top;	/*メニュー間のラインの一番左側の１本分*/
}
ul#menu li {
	color: #ffffff;
	float: left;
	background: url(/kanto/common/header/img/line1.gif) no-repeat right top;	/*各メニュー間の右側のライン*/
}
ul#menu li a {
	color: #ffffff;
	text-decoration: none;
	text-align: center;	/*文字をセンタリング*/
	float: left;
	width: 130px;		/*メニュー１個あたりの幅*/
	display: block;
}
ul#menu li a:hover {
	color: #ffffff;			/*マウスオン時の文字色*/
	background: #ff3a7b;	/*マウスオン時の背景色*/
}


/*フラッグ広告用のdivボックス
---------------------------------------------------------------------------*/






/*コンテンツの横幅を1000PXに抑えるボックス
---------------------------------------------------------------------------*/
#contentsin{
	width: 1000px;	/*ブロック幅*/
	clear: both;
	margin-right: auto;
	margin-left: auto;
}



/*loginセカンドメニュー2段目帯メニュー、ここからcontentsinのブロック内
---------------------------------------------------------------------------*/

.login{	
	text-align: left;
	width: 1000px;	/*ブロック幅*/
	position: relative;
	margin-right: auto;
	margin-left: auto;
}



/*login2段目メニュー
---------------------------------------------------------------------------*/

ul#menu2 {
	margin: 0 auto;
	width: 100%;	/*ボックス幅*/
	line-height: 30px;
	height: 28px;
}

ul#menu2 li {
	background: #958574;
	color:  #000000;
	float: left;	
}

ul#menu2 li a {
	height: 28px;
	background: #f1eae2;
	color:  #4A250A;
	text-decoration: none;
	text-align: center;	/*文字をセンタリング*/
	float: left;
	width: 130px;		/*メニュー１個あたりの幅*/
	display: block;
}
ul#menu2 li a:hover {
	color: #ffffff;			/*マウスオン時の文字色*/
	background: #ff3a7b;	/*マウスオン時の背景色*/
}




/*コンテンツ（ヘッダー、メインメニューとフッター以外を囲むブロック）
---------------------------------------------------------------------------*/

#mainbox{/*コンテンツ内容の外枠*/
	width: 1000px;	/*ブロック幅*/
}




/*メインコンテンツ（左中央ブロック680幅）
---------------------------------------------------------------------------*/
#main {
	float: left;	/*contentsinブロック内でメインコンテンツを左(left)に回り込み*/
	width: 680px;	/*ブロック幅*/
	margin:7px 0px 0px 0px;
	padding-bottom: 250px;
}

/*h2タグ設定*/
#main h2 {
	background: #958574;	/*背景色*/
	font-size: 110%;	/*文字サイズ*/
	color: #FFFFFF;		/*文字色*/
	clear: both;
	width: 680px;
}
/*h2タグをテキストタイプで使う場合の設定*/
#main h2.text {
	line-height: 30px;
	color: #FFFFFF;	/*文字色*/
	background: url(/kanto/common/header/img/title_bg.gif) no-repeat center;	/*背景画像の読み込み*/
	width: 648px;
	padding-left: 30px;
	clear: both;
	border: 1px solid #968575;
}
/*段落タグの余白設定*/
#main p {
	padding: 0.5em 10px 1em;	/*左から、上、左右、下への余白*/
}
/*段落タグの左右の余白をなくす設定*/
#main p.img {
	padding-right: 0px;
	padding-left: 0px;
}


/*各ボックスのフロートクリア
---------------------------------------------------------------------------*/
.frotcria{
clear: both;
}


/*その他
---------------------------------------------------------------------------*/
.look {
	background-color: #E9E9E9;
}
.mb1em {
	margin-bottom: 1em;
}
.mb10 {
	margin-bottom: 10px;
}

.clear {
	clear: both;
}
ul.disc {
	padding: 0em 25px 1em;
	list-style: disc;
}
.color1 {
	color: #716558;
}
.pr {
	font-size: 10px;
}
.box {
	background: #FFFFFF;
	padding: 5px !important;
	border: 1px solid #a2a2a2;
}



/*box2(mainブロック内。サムネイル一覧用スタイル。
---------------------------------------------------------------------------*/
/*ボックス１個あたりの設定*/
#main .box2 {
	border: 1px solid #a2a2a2;	/*画像の枠線の幅、線種、色*/
	background: #FFFFFF;		/*背景色*/
	padding: 8px;				/*ボックス内の余白*/
	font-size: 11px;			/*文字サイズ*/
	line-height: 1.6;			/*行間*/
	width: 122px;				/*ボックスの幅*/
	height: 200px;				/*ボックスの高さ*/
	overflow: hidden;			/*ボックスに入らない場合に非表示に*/
	margin-bottom: 5px;			/*ボックスの上下間の余白*/
	margin-left: 4px;			/*ボックスの左右間の余白*/
	float: left;
	display: inline;
}
#main .box2 p {
	padding: 0px;
}
#main .box2 p.img img {
	border: 1px solid #D3D3D3;	/*画像の枠線の幅、線種、色*/
}
#main .box2 p.img a:hover img {
	border: 1px solid #333333;	/*マウスオン時の枠線の幅、線種、色*/
}
#main .box2 h3 {
	font-size: 11px;
	color: #716558;		/*ボックス内のh3タグの文字色*/
}
#main .box2 h3 a {
	color: #716558;	/*ボックス内のh3タグにリンク設定をした際の文字色*/
}
#main .box2 h3 a:hover {
	color: #666666;	/*ボックス内のh3タグにリンク設定をした際のマウスオン時の文字色*/
}


/*パンくず
---------------------------------------------------------------------------*/

ul#pan li {
	display: inline;
}

ul#pan li a {
	background: url(/kanto/common/header/img/arrow_black.gif) no-repeat right center;
	padding-right: 15px;
}


