.jobbulogboxtop{ /*ランキング枠---*/
	width: 675px;
	text-align: center;
	margin: 0px 0px 30px 0px;
	background: #fefae6;
	border-radius: 6px;
}

.jobbulogbox{ /*ブログ枠---*/
	width: 680px;
	text-align: center;
	margin: 0px 0px 0px 0px;
}


/*ランキングボックス共通設定 
---------------------------------------------------------------------------*/


/*ジョブブログの外枠レイアウト*/

#main .box5 {
	padding: 12px 8px 12px 8px;	
	width: 200px;			
	height: 215px;		
	overflow: hidden;
	margin-bottom: 1em;
	float: left;
	margin-right: 4px;
	margin-left: 4px;
	font-size: 13px;	
}


.ranktitle{/*ランキングタイトル画像位置*/
	margin: 10px 0px 0px 0px;
}

.blogtitletoprank{/*ブログタイトル*/
	font-size: 13px;		/*文字サイズ*/
	margin: 5px 0px 0px 0px;
	font-weight: bold;
}

.blogtitletoprank a{/*ブログタイトル*/
	line-height: 15px;
	color: #5F5B51;
}

.blogtimetoprank{/*ランキングボックス内のブログ投稿時間*/
	font-size: 11px;
	color: #6E6E6E;
	margin: 5px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	float: right;
}

/*box5内の段落設定*/
#main .box5 p {
	padding: 0px;
}


/*画像の設定*/
#main .box5 p.img img {
	border: 1px solid #958574;/*画像の枠線の幅、線種、色*/
	z-index: 2;
}
#main .box5 p.img a:hover img {
	border: 1px solid #e80f57;/*マウスオン時の枠線の幅、線種、色*/
	z-index: 2;
}


.ranksikiri{
	border: 0;
 	height: 1px;
　      background: #fff;
  	background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.20), rgba(0,0,0,0));
  	background-image:    -moz-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.20), rgba(0,0,0,0));
  	background-image:     -ms-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.20), rgba(0,0,0,0));
 	background-image:      -o-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.20), rgba(0,0,0,0));
  	width: 650px;
}


/*フロートクリアボックス-----------------------
*/
.boxcria{
	clear:both;
}


/*ランキングと投稿ブログの仕切り-------------------------
*/
.toukoublog{
	font-size:11px;
	color: #6E6E6E;
	border-bottom: 1px solid #D8D8D8;
	-webkit-box-shadow: 0 1px 0 #fcfcfc;
	-moz-box-shadow: 0 1px 0 #fcfcfc;
	box-shadow: 0 1px 0 #fcfcfc;
}


/*検索ボックス,ブログソートエリア
---------------------------------------------------------------------------*/


.blogsearchkleft{/*左ボックス-*/
float: left;
margin: 0px 0px 5px 0px;
padding: 18px 0px 0px 0px;
}

ul.blogsout li{/*左ボックスのliタグ横並び-*/
display: inline;
margin-right: 2px;
}

.blogsearchright{/*右ボックス-*/
margin: 10px 0px 5px 0px;
padding: 0px 0px 0px 0px;
float: right;}


.cria{/*センター-*/
clear:both;
}

/*検索ボックス
---------------------------------------------------------------------------*/

.kutikomisearch{
    margin:10px 0 0 0 ;
}

form{
    width:280px;
    margin:0 auto;
}
.search {
    width:150px;
    padding:6px 15px 6px 38px;
    margin:3px;
    background: url('../images/search.png') no-repeat 0px 3px;
}

.rounded {
    border-radius:5px;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
}
input[type=text]{
    color:#424242;
}

input[type=button], input[type=button]:hover {
    position:relative;
    left:-16px;
    border:1px solid #d64e80;
    background: #e8b2c7; /* Old browsers */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e4f1f9', endColorstr='#d5e7f3',GradientType=0 ); /* IE6-9 */
    color:#ffffff;
    cursor: pointer;
}


.light{ margin:0px 0px 10px 0px;
	border-right: 1px solid #a2a2a2;	/*右側の線の幅、線種、色*/
	border-bottom: 1px solid #a2a2a2;	/*下側の線の幅、線種、色*/
	border-left: 1px solid #a2a2a2;		/*左側の線の幅、線種、色*/
	background: #FFFFFF;	/*背景色*/
	padding: 8px;	/*ボックス内の余白*/}

.llight input[type=text]{
    border:1px solid #d0d0d0;
    background-color:#fcfcfc;
}





/*1,2,3,4のデザイン-------------------------
*/
.paginate{
	text-align: center;
	font-size: 13px;
}

#nextcaunt ul{
	margin: 0; 
	padding: 0; 
	list-style: none;
	margin: 0px 0px 0px 0px;
	padding: 10px 0px 20px 0px;
}

#nextcaunt li{ 
	display: inline; 
	padding: 0; 
	margin: 0; 
	float: left;
}

#nextcaunt li a{
	display: block; 
	border: 1px solid #DDD;
	background-color: #EEE;
	padding: 3px;
	text-decoration: none;
	color: #333;
	width: 39px; 
	margin: 1px 9px 0 0;
	text-align: center;
	font-size: 14px;
}

#nextcaunt li a:hover{
	background-color: #e80f57;
	color: #fff;
}


.anderjob{
	margin: 0px 0px 0px 7px;
	padding: 0px 0px 0px 0px;
}

/*ブログページ用の長横バナー-------------------------
*/
.afiblogjob{
	text-align: center;
	margin: 10px 0px 20px 0px;
	padding: 0px 0px 0px 0px;
}

.afiblogjob a{
	text-align: center;
}

/*-------------------------
*/
.bloginfo{
	color: #6E6E6E;
	text-align: center;
	padding: 0px 0px 8px 0px;
	margin: 30px 0px 0px 0px;
}

.bloginfo a{
	text-decoration: underline;
}