﻿@charset "UTF-8";

.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  visibility: hidden;
}

.clearfix {
  min-height: 1px;
}

* html .clearfix {
  height: 1px;
  /*\*//*/
  height: auto;
  overflow: hidden;
  /**/
}

.admin{
	height:100%;/*追加分*/
	margin: 0;/*追加分*/
	background-color: #F0F1F2;
}


img { border:none; }



.admin h2 {
	font-size: 13px;
	margin-bottom: 10px;
	font-weight: bold;
	background: url(/kanto/common/light/img/s_title_admin.gif) no-repeat left;
	padding-left: 10px;
	line-height: 20px;
}

/*サブメニューバー*/

.admin #container {
	position: relative;
    	min-height: 100%;
    	height: auto !important;
    	height: 100%;
}



.admin #contentsin {
	margin-bottom:50px;
	padding-bottom: 200px
}
.admin .boxs {
	padding-left:0px;
	padding-right:0px;
	padding-top:10px;
	padding-bottom:20px;
	clear:both;
}

/*左ボックス*/
.admin .leftbox {
	float:left;
	width:232px;
}


/*左上　画像、メニュー*/
.left-top{
	border-top: 1px solid #E5E5E5;
	border-left: 1px solid #E5E5E5;
	border-right: 1px solid #E5E5E5;
	border-bottom: 2px solid #E5E5E5;
	border-radius: 2px;
	background: #FFF;
	padding: 15px;
}

/*左下メニュー　インフォメーション*/
.left-bottom{
	margin-top: 10px;
	border-top: 1px solid #E5E5E5;
	border-left: 1px solid #E5E5E5;
	border-right: 1px solid #E5E5E5;
	border-bottom: 2px solid #E5E5E5;
	border-radius: 2px;
	background: #fff;
	padding: 15px;
}



/*リストメニュー*/

.admin-menulist a{
	font-size: 14px;
}

.admin-menulist li{
	padding: 5px 0;
}
.admin-menulist li:hover{
	background-color: #F0F1F2;
}


.listicons{/*リスト用アイコンクラス*/
	font-size: 20px;
	color: #B3B3B3;
}

/*注意書き*/
.caution{
	margin-top: 10px;
	background: #fff;
	border-top: 1px solid #E5E5E5;
	border-left: 1px solid #E5E5E5;
	border-right: 1px solid #E5E5E5;
	border-bottom: 2px solid #E5E5E5;
	padding: 15px;
}

.sabtitle{
	color: #e80f57;
	font-weight: bold;
}


/*インフォメーション*/

.info-title{
	font-size: 14px;
}


.info-list dt{
	color: #6E6E6E;
}

.info-list dd{
	text-align: left;
	margin-left: 15px;
	font-weight:bold;
}







/*センターボックス*/
.admin .centerbox {
	float:left;
	width:540px;
	margin-left:8px;
}


.admin .prof_photo {
	text-align:center;
}

.admin .prof_photo img{
	text-align:center;
	border-radius: 50% ;
}
.admin .prof_photo_btn {
	text-align:center;
	padding-top:15px;
	padding-bottom:15px;
}


.admin .prof_photo_btn a:hover img{
	opacity: 0.8;
	filter: alpha(opacity=80);
	-ms-filter: "alpha(opacity=80)";
}




/*プロフィール画像のボタン*/

.picbutton {
	-moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
	-webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #dfdfdf));
	background:-moz-linear-gradient(top, #ededed 5%, #dfdfdf 100%);
	background:-webkit-linear-gradient(top, #ededed 5%, #dfdfdf 100%);
	background:-o-linear-gradient(top, #ededed 5%, #dfdfdf 100%);
	background:-ms-linear-gradient(top, #ededed 5%, #dfdfdf 100%);
	background:linear-gradient(to bottom, #ededed 5%, #dfdfdf 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#dfdfdf',GradientType=0);
	background-color:#ededed;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	border-radius:4px;
	border:1px solid #dcdcdc;
	display:inline-block;
	cursor:pointer;
	color:#777777;
	font-size:13px;
	font-weight:bold;
	padding:2px 12px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffffff;
}
.picbutton:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #dfdfdf), color-stop(1, #ededed));
	background:-moz-linear-gradient(top, #dfdfdf 5%, #ededed 100%);
	background:-webkit-linear-gradient(top, #dfdfdf 5%, #ededed 100%);
	background:-o-linear-gradient(top, #dfdfdf 5%, #ededed 100%);
	background:-ms-linear-gradient(top, #dfdfdf 5%, #ededed 100%);
	background:linear-gradient(to bottom, #dfdfdf 5%, #ededed 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#dfdfdf', endColorstr='#ededed',GradientType=0);
	background-color:#dfdfdf;
	color:#777777;
}
.picbutton:active {
	position:relative;
	top:1px;
}



/*モーダルデザイン*/


.modal-content {
	width: 40% ;
	margin: 0 ;
	padding: 10px 20px ;
	border: 2px solid #f1eae2;
	background: #fff ;
	position: fixed ;
	display: none ;
	z-index: 2 ;
}
  
#modal-overlay {
	z-index: 1 ;
	display: none ;
	position: fixed ;
	top: 0 ;
	left: 0 ;
	width: 100% ;
	height: 120% ;
	background-color: rgba( 0,0,0, 0.75 ) ;
}




/*モーダル用検索ボックス--*/
.modalsearchbox{
	text-align:center;
}

.modallight{ /*検索ボックス*/
	margin:0px 0px 20px 0px;
	border-top: 1px solid #d0d0d0;
	border-right: 1px solid #d0d0d0;
	border-bottom: 1px solid #d0d0d0;
	border-left: 1px solid #d0d0d0;
	background: #FFFFFF;	/*背景色*/

}

form, input {
        margin: 0; /* マージンをリセット */
}

.modaltitle {
	font-size:14px;
	font-weight: bold;
}


form {
  position: relative; /* 基準位置とする */
}
 
input[type="search"] {
        background-color: #f1eae2;
        border: 0;
        height: 30px;
        width: 320px;
        padding: 0 10px;
	margin:10px 0 10px 0; 
  	box-sizing: content-box; /* 幅にパディングを含めない */
	border: 2px solid #f1eae2;
	border-radius:2px;
	color:#413324;
	font-size: 14px;
	-webkit-appearance: textfield;
} 
input[type="image"] {
 	border: 0;
        padding: 0;
  	width: 30px;
 	height: 30px;
	vertical-align: -10px;
	position: relative; 
	left: 0px;
	top:0px;
} 

input[type="search"]:focus {
  	background:rgba(251,215,162,0); /* 背景色を半透明に */
	border: 2px solid #E2DCD4;
	outline-style: none;
}

input[type="image"]:hover {
  opacity: 0.5; /* ボックスを半透明に */
}

::-webkit-input-placeholder {color: #BDBDBD} 
/*Firefox 19以降*/ 
::-moz-placeholder  {color: #BDBDBD} 
/*Firefox 18以前*/ 
:-moz-placeholder   {color: #BDBDBD} 
/*Windows IE*/ 
:-ms-input-placeholder  {color: #BDBDBD}  


/*右ユーザーデータ*/


.admin .rightbox {/*右ユーザーデータ*/
	float:right;
	width:212px;
}

.admin .rightbox_voice {/*右ユーザーデータ 口コミページ用*/
	float:right;
	width:95px;
}

.rightbox-top{
	border-top: 1px solid #E5E5E5;
	border-left: 1px solid #E5E5E5;
	border-right: 1px solid #E5E5E5;
	border-bottom: 2px solid #E5E5E5;
}

.rightbox-bottom{
	border-top: 1px solid #E5E5E5;
	border-left: 1px solid #E5E5E5;
	border-right: 1px solid #E5E5E5;
	border-bottom: 2px solid #E5E5E5;
}



.datehed{/*口コミ数*/
	border-bottom:solid 1px #EEEEEE;
	margin: 10px 0 10px 0;
	padding: 5px 15px;
}

.datehed span{
	font-size: 20px;
	font-weight: bold;
	margin-left: 10px;
}

.charts{
	margin-left:20px;
	margin-right:20px;
	margin-bottom: 10px;
	background-image: url(/kanto/user/img/chartbac.png);
	background-repeat: no-repeat;
}



.admin .pdata .darea_1 {
	background-color:#FFFFFF;	
}




.admin .pdata .darea_2 {
	background-color:#FFFFFF;
	padding: 15px;
}

.admin .pdata .darea_2 dl {
	width:100%;
}
.admin .pdata .darea_2 dl dt {
	float:left;
	width:65%;
	font-size:120%;
	line-height:28px;
}
.admin .pdata .darea_2 dl dd {
	float:left;
	width:35%;
	text-align:right;
	font-size:130%;
	line-height:28px;
	font-weight: bold;
}



.useradmin-pr{/*ユーザー管理ページ用　広告　*/
	margin: 10px 0;
	background-color:#FFFFFF;
	padding-bottom: 10px;
}

.useradmin-pr img{/*ユーザー管理ページ用　広告*/
	max-width: 212px;
}

.useradmin-pr p{
	margin: 5px 10px;
}



.l_useradmin-pr{/*ユーザー管理ページ用　広告 ロング　*/
	background-color:#FFFFFF;
	padding-bottom: 10px;
	width: 95px;
	border-top: 1px solid #E5E5E5;
	border-left: 1px solid #E5E5E5;
	border-right: 1px solid #E5E5E5;
	border-bottom: 2px solid #E5E5E5;
	text-align: center;
}

.l_useradmin-pr img{/*ユーザー管理ページ用　ロング*/
	max-width: 90px;
	
}

.l_useradmin-pr p{
	margin: 5px 10px;
	text-align: left;
}



.adominshopbox1 {
	margin-top:10px;
	border-bottom: 1px solid rgba(0,0,0,0.1);
    	box-shadow: 0 1px 0 rgba(255,255,255,1);
	background: #FFFFFF;	/*背景色*/
	padding: 5px;	/*ボックス内の余白*/
	font-size: 11px;	/*文字サイズ*/
	width: 290px;	/*ボックス幅*/
	height: 65px;
	overflow: hidden;
}

.adominimg {
	float: left;	/*画像を左側に回り込みさせる設定*/
}

.adominimg img {
	margin-right: 10px;	/*画像の右側にスペースをあける*/
	border: 1px solid #958574;	/*画像の枠線の幅、線種、色*/
}


.adominimg a:hover img {
	border: 1px solid #e80f57;	/*マウスオン時の枠線の幅、線種、色*/
}


.adominshopbox1left{
	overflow: hidden;
}

.adominsmlehosi{
	margin: -3px 0px 0px 0px;
}

.adominsmlehosi img{/*高さ調整*/
	vertical-align: text-top;
}

.smlescr{
	color: #e80f57;
	font-size: 12px;
	font-weight:bold;
}


.shopnamewaid{
	width: 16em;
}

.adominshopbox1 strong,
.adominshopbox1 strong {
	font-size: 12px;
	color: #624028;	
	line-height: 14px;	/*行間*/
}

.adominshopbox1 strong a,
.adominshopbox1 strong a {
	color: #624028;	
}
.adominshopbox1 strong a:hover,
.adominshopbox1 strong a:hover {
	color: #e80f57;	
}


.adominrirekieria{/*履歴用エリア*/
	color: #6E6E6E;
	font-size: 10px;
}



/*コソットからお知らせ*/
.admin .infomation {
	width:248px;
	margin-top: 30px;
}


.myadminimgup{/*画像アップロードの外枠*/
	margin-top:7px;
	margin-left:10px;
}


.myadminsubmit{/*画像アップロードボタン*/
	margin-left:15px;
}



.file {/*アップローダーデザイン*/
    display: inline-block;
    overflow: hidden;
    position: relative;
    padding: 0px;
　　border: 1px solid #dd0000;
}
 
.file input[type="file"] {
    opacity: 0;
    filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0);
    position: absolute;
    right: 0;
    top: 0;
    margin: 0;
    font-size: 100px;
    cursor: pointer;
}


#jquery-ui-sortable {/*グリット保存*/
     list-style-type: none;
     margin: 0;
     padding: 0;
}
#jquery-ui-sortable li {
     margin: 0px;
     padding: 0px;
     cursor: move;
}





/*------------------------------------------------*/

.admin .contents ul.tab {
	border-bottom:2px solid #E80F57;
	margin-top:0px;
}
.admin .contents ul.tab li {
	float:left;
	border-top:solid 1px #AAAAAA;
	border-left:solid 1px #AAAAAA;
	border-right:solid 1px #AAAAAA;
	background: #030203;/* ボタン背景カラー */
	background-image: -webkit-linear-gradient(top, #030203, #3b3837);
	background-image: -moz-linear-gradient(top, #030203, #3b3837);
	background-image: -ms-linear-gradient(top, #030203, #3b3837);
	background-image: -o-linear-gradient(top, #030203, #3b3837);
	background-image: linear-gradient(to bottom, #030203, #3b3837);
	margin-right:0px;
	padding-left:32px;
	padding-right:32px;
	padding-top:3px;
	padding-bottom:3px;
	cursor:pointer;
	color:#FFFFFF;
	font-size:20px;
}
.admin .contents ul.tab li.active {
	border-top:solid 1px #E80F57;
	border-left:solid 1px #E80F57;
	border-right:solid 1px #E80F57;
	background:#E80F57;
	color:#FFFFFF;
}
.admin .contents ul.tab2 {
	border-bottom:2px solid #E80F57;
	margin-top:12px;
}
.admin .contents ul.tab2 li {
	float:left;
	border-top:solid 1px #AAAAAA;
	border-left:solid 1px #AAAAAA;
	border-right:solid 1px #AAAAAA;
	background-color:#AAAAAA;
	margin-right:2px;
	padding-left:12px;
	padding-right:12px;
	padding-top:5px;
	padding-bottom:5px;
	cursor:pointer;
	color:#FFFFFF;
}
.admin .contents ul.tab2 li.active {
	border-top:solid 1px #E80F57;
	border-left:solid 1px #E80F57;
	border-right:solid 1px #E80F57;
	background-color:#E80F57;
	color:#FFFFFF;
}
.panel { display:none; }
.show { display:block; }
.admin .contents .calendar {
}




/*各ページ共通　ヘッダーアイコン*/

.hed-icon{
	font-size: 50px;
	text-align: center;
	color: #e6e6e6;
}

.pagination-blok{/*ページネーションブロック*/
	margin-top: 10px;
	padding: 10px 15px;
	border-top: 1px solid #E5E5E5;
    border-left: 1px solid #E5E5E5;
	border-right: 1px solid #E5E5E5;
	border-bottom: 2px solid #E5E5E5;
	border-radius: 2px;
	background-color: #fff;
}


#nextcaunt ul{
	list-style: none;
	margin: 0px 0px 10px 0px;
	padding: 0px 0px 10px 0px;

}

#nextcaunt li{ 
	display: inline; 
	padding: 0; 
	margin: 0; 
	float: left;
}

#nextcaunt li a{
	display: block; 
	border: 1px solid #DDD;
	background-color: #EEE;
	padding: 3px;
	text-decoration: none;
	color: #333;
	width: 27px; 
	margin: 1px 5px 0 0;
	text-align: center;
	font-size: 11px;
}

#nextcaunt li a:hover{
	background-color: #e80f57;
	color: #fff;
}



.editbutton {
	-moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
	-webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #dfdfdf));
	background:-moz-linear-gradient(top, #ededed 5%, #dfdfdf 100%);
	background:-webkit-linear-gradient(top, #ededed 5%, #dfdfdf 100%);
	background:-o-linear-gradient(top, #ededed 5%, #dfdfdf 100%);
	background:-ms-linear-gradient(top, #ededed 5%, #dfdfdf 100%);
	background:linear-gradient(to bottom, #ededed 5%, #dfdfdf 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#dfdfdf',GradientType=0);
	background-color:#ededed;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	border-radius:4px;
	border:1px solid #dcdcdc;
	display:inline-block;
	cursor:pointer;
	color:#777777;
	font-size:13px;
	font-weight:bold;
	padding: 0px 12px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffffff;
}
.editbutton:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #dfdfdf), color-stop(1, #ededed));
	background:-moz-linear-gradient(top, #dfdfdf 5%, #ededed 100%);
	background:-webkit-linear-gradient(top, #dfdfdf 5%, #ededed 100%);
	background:-o-linear-gradient(top, #dfdfdf 5%, #ededed 100%);
	background:-ms-linear-gradient(top, #dfdfdf 5%, #ededed 100%);
	background:linear-gradient(to bottom, #dfdfdf 5%, #ededed 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#dfdfdf', endColorstr='#ededed',GradientType=0);
	background-color:#dfdfdf;
	color:#777777;
}
.editbutton:active {
	position:relative;
	top:1px;
}




/*-------------------口コミ--------------------*/

.voice-hedblok{/*画像 ヘッド部分*/
	margin-bottom:10px;
    margin-top: 0px;
	padding: 10px 15px;
	border-top: 1px solid #E5E5E5;
    border-left: 1px solid #E5E5E5;
	border-right: 1px solid #E5E5E5;
	border-bottom: 2px solid #E5E5E5;
	border-radius: 2px;
	background-color: #fff;
	text-align: center;
}


/*新しい2カラム用口コミページ*/


.voice{
}


.admin .tow-voice{
	width:655px;
	margin-left:8px;
	float:left;
}

.admin .tow-voice .voice .item {/*口コミ枠*/
	background: #fff;
	border-radius: 2px;
	border-top: 1px solid #E5E5E5;
    border-left: 1px solid #E5E5E5;
	border-right: 1px solid #E5E5E5;
	border-bottom: 2px solid #E5E5E5;
	padding:10px 15px 10px 15px;
	margin-top:8px;
	margin-bottom:10px;
	font-size: 14px;
}

.admin .tow-voice .voice .item:hover {/*口コミ枠*/
	border-top: 1px solid #e80f57;
    border-left: 1px solid #e80f57;
	border-right: 1px solid #e80f57;
	border-bottom: 2px solid #e80f57;
}

.admin .tow-voice .voice .item h4 {/*口コミ店名*/
	color:#413324;
	font-size:16px;
	line-height:26px;
	margin: 15px 0px 0px 5px;
}

.admin .tow-voice .voice .item h4 a{/*口コミ店名*/
	color:#413324;
}

.admin .tow-voice .voice .item ul.shopinfo {
	padding:30px 5px 5px 5px;
}
.admin .tow-voice .voice .item ul.shopinfo li {
	float:left;
}
.admin .tow-voice .voice .item ul.shopinfo .rank {/*星*/
	width:60px;
}

.admin .tow-voice .voice .item ul.shopinfo li.vote img{/*☆横のテキスト高さ*/
	vertical-align: -3px;
}
.admin .tow-voice .voice .adminpoint{/*点数*/
	font-weight: bold;
	color:#E80F57;
}




.admin .tow-voice .voice .date {/*投稿日*/
	float:right;
	color:#6E6E6E;
	margin: 10px 20px 0px 0px;
	font-size:11px;
}

.admin .tow-voice .voice .sinpixyou {/*信憑性*/
	float:left;
	margin: 10px 0px 0px 5px;
}

.admin .tow-voice .voice .shoptitleandsankou{/*お店の名前、地域*/
	width:100%;
	clear:both;
}



.admin .tow-voice .voice .mypagejobcra{/*地域と業種*/
	text-align: right;
	color:#6E6E6E;
	font-size:12px;
	font-weight:normal;
	margin: 0 20px 15px 10px;
}

.fa-trash-o{
	font-size: 14px;
	padding: 2px;
	font-weight: bold;
}


.admin .tow-voice .voice .fa-heart{/*--アイコンボタンハート--*/
	color: #e80f57;
	margin: 0px 0px 0px 0px;
}


.lineandclea{/*ライン*/
	border: 0;
	height: 1px;
	background: #fff;
	background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.20), rgba(0,0,0,0));
	background-image:    -moz-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.20), rgba(0,0,0,0));
	background-image:     -ms-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.20), rgba(0,0,0,0));
	background-image:      -o-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.20), rgba(0,0,0,0));
	width: 100%;
	clear:both;
}

.admin .tow-voice .voice .item ul.shopinfo .title {/*口コミタイトル*/
	margin-top:0px;
	margin-left:0px;
	margin-bottom:5px;
	line-height:18px;
	font-size:16px;
	font-weight: bold;
	color: #5F5B51;
}

.admin .tow-voice .voice .item ul.shopinfo .vote {/*点数*/
	color:#E80F57;
	font-size:18px;
	line-height:20px;
}




.admin .tow-voice .voice .item ul.shopinfo .vote span {/**/
	font-size:90%;
}

.admin .tow-voice .voice .item ul.shopinfo .comment .daimoku {/*口コミ項目部分*/
	margin-top:30px;
	border: 1px solid #F7BE81;
	padding: 0px 0px 0px 7px;
	width: 270px;
	border-radius: 3px;
	font-size:13px;
	color: #E3821A;
}


.admin .tow-voice .voice .item ul.shopinfo .comment p{/*口コミ本文*/
	font-size:14px;
	line-height:20px;
	margin: 6px 4px 20px 4px;
}

/*編集追加ボタン*/
.admin .tow-voice .voice .item .like_box {
	text-align:right;
	float:right;
	margin: 18px 10px 0px 0px;
}
.admin .tow-voice .voice .item .like_box span {
	font-size:90%;
}
.admin .tow-voice .voice .item .likebtn {/*編集ボタン*/
	padding-top: 5px;
	padding-right: 8px;
	padding-left: 8px;
	padding-bottom: 5px;
	text-align: center;
	color: #7F7F7F;
	background: #ffffff;
	background: -moz-linear-gradient(top, #ffffff 0%, #f6f6f6 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#f6f6f6));
	background: -webkit-linear-gradient(top, #ffffff 0%,#f6f6f6 100%);
	background: -o-linear-gradient(top, #ffffff 0%,#f6f6f6 100%);
	background: -ms-linear-gradient(top, #ffffff 0%,#f6f6f6 100%);
	background: linear-gradient(to bottom, #ffffff 0%,#f6f6f6 100%);
   	 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff',  endColorstr='#f6f6f6', GradientType=0 ); 
	border-width: 1px;
	border-style: solid;
	border-color: #dcdcdc;
	border-radius: 4px;
}


.admin .tow-voice .voice .item .likebtn a{/*編集ボタン*/
	color: #7F7F7F;
	font-size: 13px;
}


.kutikomibottomadmincenter{/*口コミ下部分フロートクリア*/
	clear:left; 
}

.admin .tow-voice .voice .pnav {
	text-align:right;
	font-size:12px;
	padding-top:10px;
	padding-bottom:10px;
}

.admin .tow-voice .voice .pnav img{
	vertical-align: -3px;
}


/*口コミ下部分外枠*/
.kutikomibottomadmin{
	border-top:1px solid #D4D4D4; 
	height: 50px;
}


/*参考になった*/
.sankoupoint{
	margin: 10px 0px 0px 10px;
	float:left;
	font-size:12px;
	color:#949494;
}



/*2カラムボイスここまで*/


/*編集モーダルウインドウ*/


.modal-voice-edit {
	width: 50% ;
	margin: 0;
	height: 800px;
	padding: 10px 20px ;
	background-color: #fff;
	position: fixed ;
	display: none ;
	z-index: 2 ;
}

.modalvoice{ /*モーダル外枠*/
	margin:0px 0px 20px 0px;
	background-color: #F0F1F2;
	text-align: left;
}


.modalshop {
	margin-top: 10px;
	font-size:16px;
	font-weight: bold;
}

.modal-time{
	text-align: right;
	color: #6e6e6e;
	font-size: 11px;
}

.zantext{/* テキスト残り数 */
  font-size:10px;
}

.title .redcount{
	color: #e80f57;
}

.kutikomifrom{/*口コミフォーム外枠*/
	margin: 20px auto;
	padding: 0 40px;
	border-top: 1px solid #E5E5E5;;
    border-left: 1px solid #E5E5E5;
	border-right: 1px solid #E5E5E5;
	border-bottom: 2px solid #E5E5E5;
	border-radius: 2px;
	font-size: 13px;
}



/*編集モーダルウインドウ*/

/*-------------------画像--------------------*/

.photo{

}

.photo-hedblok{/*画像 ヘッド部分*/
	margin-bottom:10px;
    margin-top: 0px;
	padding: 10px 15px;
	border-top: 1px solid #E5E5E5;;
    border-left: 1px solid #E5E5E5;
	border-right: 1px solid #E5E5E5;
	border-bottom: 2px solid #E5E5E5;
	border-radius: 2px;
	background-color: #fff;
	text-align: center;
}


.hed-small{
	font-size: 13px;
	color: #6E6E6E;
}


/*---------------*/

.imglistboxsotodai{/* さらに外枠*/
		border:1px solid #D9D8D8;
}

.tubnakawaku{/* 外枠*/
	display: flex;
	display: -moz-flex;
	display: -o-flex;
	display: -webkit-flex;
	display: -ms-flex;	
	flex-direction: row;
	-moz-flex-direction: row;
	-o-flex-direction: row;
	-webkit-flex-direction: row;
	-ms-flex-direction: row;
	justify-content: flex-start;
 	flex-wrap:wrap;
	margin-bottom:30px;
}


.imglistboxsoto{
	height: 250px;
	width: 168px;
	margin: 0px 4px;
	padding: 1px;
 	border-top: 1px solid #E5E5E5;
    border-left: 1px solid #E5E5E5;
	border-right: 1px solid #E5E5E5;
	border-bottom: 2px solid #E5E5E5;
	border-radius: 2px;
	background-color: #fff;
}

.imglistboxsoto:hover{
	border-top: 1px solid #e80f57;
	border-left: 1px solid #e80f57;
	border-right: 1px solid #e80f57;
	border-bottom: 2px solid #e80f57;
}


.imageboxnaka {
	padding: 10px 9px;
	width:150px;
}


.samimg img{
	width:150px;
	height:150px;
	overflow:hidden;
}

.caption {/* 投稿コメント */
	padding: 0px 3px 0 3px;
	font-size: 12px;
	text-align:center;
	margin: 0px 0px 0px 0px;
}


.hoge{/* コメントフォームデザイン */
	border:0;
	padding:5px 7px 5px 7px;
	font-size:13px;
	text-align:center;
	color:#6E6E6E;
	margin:-10px 0 5px 0px;
	border:solid 1px #ccc;
	-webkit-border-radius: 1px;
	-moz-border-radius: 1px;
	border-radius: 1px;
	-moz-box-shadow: inset 0 0 4px rgba(0,0,0,0.2);
	-webkit-box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.2);
	box-shadow: inner 0 0 4px rgba(0, 0, 0, 0.2);
}

input:focus {/* コメントフォームクリックボーダー*/
  　　  border:solid 1px #EEA34A;
}

.input#submit_button { /* 削除編集のボタン*/
 	margin: 0px 0px 0px 0px;
} 

.inputbutton{ /* 削除編集のボタン中央よせ*/
	text-align : center ; 
} 


figure {/* キャプチャ */
	position: relative;
	top: -8px;
  	left: -40px;
	overflow: hidden;
	width: 150px;
}

figcaption {/* キャプチャ */
	position: absolute;
	top: 0;
	left: 0;
	z-index: 2;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,.6);
	-webkit-transition: .3s;
	transition: .3s;
	opacity: 0;
}
figure:hover figcaption {/* キャプチャ */
	opacity: 1;
}

.captext{/* キャプ表示の店名*/
	color:#fff;
	font-size: 12px;
	margin:0px 0 0px 0px;
	text-align:center;
	margin-top:100px;
	line-height: 15px;
	padding:0px 10px 0 10px;
}

.captext a{/* キャプ表示の店名*/
	color:#BFB7B7;
}

.captext a:hover{/* キャプ表示の店名*/
	color:#BFB7B7;
}



.imguser{/* 投稿者 */
	text-align:right;
	font-size: 11px;
}

.imguser a{
	color:#848484;
}

.imguser a:hover{
	color: #e80f57;
}


.kurukuru{
	color:#fff;
	font-size: 8px;
}

p.exp {
clear: left;       /* 回り込みを解除 */
}

.exp img{/*高さ調整*/
	vertical-align: text-top;
}

.admin .contents .photo .pnav {
	text-align:right;
	font-size:12px;
	padding-top:10px;
	padding-bottom:10px;
	clear:both;
}

.admin .contents .photo .pnav img{
	vertical-align: -3px;
}


/*---------------*/


.admin .contents .photo ul {
	margin-top:0px;
}
.admin .contents .photo li {
	float:left;
	width:160px;
	padding-left:0px;
	padding-right:0px;
	padding-bottom:10px;
}


/*-------------------お気に入り--------------------*/

.fav{
	margin-top: 0px;
}

.fav-hedblok{/*お気に入り ヘッド部分*/
	margin-bottom:10px;
    margin-top: 0px;
	padding: 10px 15px;
	border-top: 1px solid #E5E5E5;;
    border-left: 1px solid #E5E5E5;
	border-right: 1px solid #E5E5E5;
	border-bottom: 2px solid #E5E5E5;
	border-radius: 2px;
	background-color: #fff;
	text-align: center;
}

/*お気に入りレイアウト*/

.bookshopwaku{/*外枠*/
	padding:10px 20px 10px 20px;
	margin-top:10px;
	border-top: 1px solid #E5E5E5;
    border-left: 1px solid #E5E5E5;
	border-right: 1px solid #E5E5E5;
	border-bottom: 2px solid #E5E5E5;
	border-radius: 2px;
	background-color: #fff;
}

.bookshopwaku:hover{
	border-top: 1px solid #e80f57;
    border-left: 1px solid #e80f57;
	border-right: 1px solid #e80f57;
	border-bottom: 2px solid #e80f57;
}


.bookshopkome {/*お気に入りキャッチ*/
	color:#424242;
	font-size:13px;
	font-weight:bold;
}


.bookleft{/*左枠*/
	float:left;
	margin:0px 15px 0 0;
}

.bookright{/*右枠*/
	text-align:left;
}

.rightshopname a{/*お気に入りショップ名*/
	width:100%;
	font-size:130%;
	font-weight:bold;
	line-height: 22px;
}

.rightshophosi img{/*☆*/
	margin:0px;
	line-height: 20px;
	vertical-align: -3px;
}
.fav .bookshopwaku .adminpoint{/*点数*/
	font-size:17px;
	font-weight: bold;
	color:#E80F57;
}
.rightshoparea{/*エリア*/
	padding-left:10px;
	margin-left:10px;
	line-height: 20px;
}
.rightshoptype{/*業種*/
	padding-left:10px;
	line-height: 20px;
}
.rightshoptel{/*電話*/
	padding-left:10px;
	line-height: 20px;
}


.bookbottm{/*した枠*/
	clear:both;
	text-align:right;
}

.bookmaildel{/*ボタン*/
	padding-left:1px;
}

input#mailbutton {/*ボタン文字色*/
	color:#484747;
}




.admin .contents .fav .pnav {/*お気に入り次の10件*/
	text-align:right;
	font-size:12px;
	padding-top:10px;
	padding-bottom:10px;
}


.admin .contents .fav .pnav img{
	vertical-align: -3px;
}


/*-------------------プロフ--------------------*/



.admin .contents .prof p.rd {
	padding-left:0px;
	text-align: center;
	margin-bottom: 20px;
}



.table_01 {/*項目テーブル*/
	width:100%;
	margin:0px 0px 10px 0px;
	padding:0px;
	border-collapse:collapse;
	border-top: 2px solid #E5E5E5;
}
.table_01 th {
	width:20%;
	padding:10px 2px 10px 4px;
	text-align:left;
	vertical-align:top;
	color: #6E6E6E;
	background-color:#f1eae2;
	border-bottom: 2px solid #E5E5E5;
	border-left:1px solid #e80f57;
}

.table_01 td {
	color: #6E6E6E;
	padding:10px 2px 10px 6px;
	border-bottom: 2px solid #E5E5E5;
	border-left:2px solid #E5E5E5;
	border-Right:2px solid #E5E5E5;
}

.mail{/*ボタン位置*/
	margin:0px 0px 0px 20px;
}

.admin .contents .prof form {
	margin:0px !important;
	padding:0px !important;
	width:100% !important;
	margin-left:auto !important;
	margin-right:auto !important;
	margin-top:10px !important;
}
.admin .contents .prof form textarea {
	border: 2px solid #E5E5E5;
	box-shadow:rgba(122, 122, 122, 0.0588235) 0px 0px 6px 3px;
	-webkit-box-shadow:rgba(122, 122, 122, 0.0588235) 0px 0px 6px 3px;
	-moz-box-shadow:rgba(122, 122, 122, 0.0588235) 0px 0px 6px 3px;
	-moz-border-radius: 2px;    
	-webkit-border-radius: 2px; 
	width:470px;
	padding:4px;
	height:315px;
}

.admin .contents .prof form textarea.textcstm{
	font-size:14px;
	color: #6E6E6E;
	line-height:19px;
}

.admin .contents .prof form .btn {/*ボタン位置*/
	padding-top:10px;
	text-align:center;
}

.counttext{
	text-align:right;
}


.count{/*文字数*/

}

/*-------------------メールボックス--------------------*/


.mail-hedblok{/*お気に入り ヘッド部分*/
	margin-bottom:10px;
    margin-top: 0px;
	padding: 10px 15px;
	border-top: 1px solid #E5E5E5;;
    border-left: 1px solid #E5E5E5;
	border-right: 1px solid #E5E5E5;
	border-bottom: 2px solid #E5E5E5;
	border-radius: 2px;
	background-color: #fff;
	text-align: center;
}

.mailbox{
	padding: 10px 0px;
}


.admin .contents .pmail {
	padding-top:15px;
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#fcdee8+0,ffffff+100 */
background: #fcdee8; /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZjZGVlOCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZmZmZmYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top,  #fcdee8 0%, #ffffff 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fcdee8), color-stop(100%,#ffffff)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #fcdee8 0%,#ffffff 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #fcdee8 0%,#ffffff 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #fcdee8 0%,#ffffff 100%); /* IE10+ */
background: linear-gradient(to bottom,  #fcdee8 0%,#ffffff 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcdee8', endColorstr='#ffffff',GradientType=0 ); /* IE6-8 */
}
.admin .contents .smail {
	padding-top:15px;
}

.admin .contents .mailbox table {
	border-collapse: collapse;
	line-height:18px;
	background-color:#fff;
	border-bottom: 2px solid #E5E5E5;
}


.admin .contents .mailbox table tr th {
	height: 40px;
	background-color:#fff;
	color:#413324;
	text-align:center;
	border: 1px solid #E5E5E5;
	border-radius: 2px;
}
.admin .contents .mailbox table tr th div {
	padding:9px;
}
.admin .contents .mailbox table tr td {
	border:1px solid #E5E5E5;
	padding:10px;
	font-size:13px;
}

.admin .contents .mailbox table tr td a .meilshopname{/*メール内店名*/
	font-weight: bold;
}


.admin .contents .mailbox table tr td .date {
	text-align:center;
	font-size:13px;
}

.admin .contents .mailbox table tr td .date2 {
	text-align:center;
	font-size:13px;
}


.admin .contents .mailbox table tr td .date3 {
	text-align:center;
}

.admin .contents .mailbox table tr td .flag {
	text-align:center;
	font-weight: bold;
}

.red{
	color:#DE170F;
}

.gray{
	color:#AAAAAA;
}

.green{
	color:#67AB9F;
}


.admin .contents .mailbox table tr td .jobtype {
	color: #6E6E6E;
	font-size: 11px;
}


.admin .contents .pmail .pnav {/*メール次の10件*/
	text-align:right;
	font-size:12px;
	padding-top:10px;
	padding-bottom:10px;
}

.admin .contents .smail .pnav {/*メール次の10件*/
	text-align:right;
	font-size:12px;
	padding-top:10px;
	padding-bottom:10px;
}


.admin .contents .smail .pnav img{
	vertical-align: -3px;
}


/*メール詳細*/
.mailbox_details{
	padding: 20px;
	border-top: 1px solid #E5E5E5;
    border-left: 1px solid #E5E5E5;
	border-right: 1px solid #E5E5E5;
	border-bottom: 2px solid #E5E5E5;
	border-radius: 2px;
	background-color: #fff;
}

.mailhed_left{/*メールヘッド左*/
	float: left;
	margin-top: 10px;
	margin-bottom: 20px;
}

.admin .contents .mailbox_details .mailshopname{/*店名*/
	width: 420px;
	color:#413324;
	font-size:16px;
	line-height:26px;
	font-weight: bold;
	margin: 0px 0px 0px 10px;
}

.admin .contents .mailbox_details .mailshopname a{/*店名*/
	color:#413324;
}

.admin .contents .mailbox_details .jobtype{/*地域と業種*/
	color:#6E6E6E;
	font-size:12px;
	margin: 0 0 0 10px;
}


.admin .contents .mailbox_details .deta{/*投稿時間*/
	color:#6E6E6E;
	font-size:12px;
	margin: 0 0 0 10px;
	text-align: right;
}


.detailsbody{
	margin: 25px 0;
	font-size: 13px;
}


.detailsbottom{
	border-top: 1px solid #E5E5E5;
}

.replybox{
	margin: 20px -20px;
}

textarea{
	resize: none;
}

.replybox_left{
	float: left;
}

.replybox_right{
	float: right;
}


/*ヘッダー下のメニュー関係*/

.admin #pan {/*パンクズ*/
	float:left;
}


.usertitle {/*ユーザーサブメニュー*/
	margin-right:10px;
	float:right;
}
.usertitle li{
	float:left;
	position: relative;
	margin:0;
	padding: 0 5px 0 5px;
	display: block;
	color: #624028;
}

.child {
 	z-index: 1000000;
        display: none;
        position: absolute;
        margin-left: -10px;
        padding: 0;
	background-color: #fff;
	text-align: left;
	border: 1px solid #E5E5E5;
	box-shadow:rgba(122, 122, 122, 0.0588235) 0px 0px 6px 3px;
	-webkit-box-shadow:rgba(122, 122, 122, 0.0588235) 0px 0px 6px 3px;
	-moz-box-shadow:rgba(122, 122, 122, 0.0588235) 0px 0px 6px 3px;
	-moz-border-radius: 2px;    
	-webkit-border-radius: 2px; 
}

.child  li {
	padding:5px 0 5px 0;
}

.child li a{
	padding:5px 0 5px 0; 
    	display: block;
	text-align:left;
	padding-left:2px;
}

.fa {/*アイコン*/
	margin: 0px 5px 0px 5px;
}

#kutikomipagenationbotan ul{ /*口コミ次ボタン*/
	position: relative;
	left: 50%;
	float:left;
	margin: 0; 
	padding: 0; 
	list-style: none; 
}

#kutikomipagenationbotan li{ 
	padding: 0; 
	margin: 0; 
	position: relative;
	left: -50%;
	float:left;
}

#kutikomipagenationbotan li a{
	display: block; 
	text-decoration: none;
	width: 150px; 
	height: 25px;
	margin: 10px 3px 0px 3px;
	padding: 6px 0px 0px 0px;
	text-align: center;
        border:1px solid #d7dada; -webkit-border-radius: 3px; 
	-moz-border-radius: 3px;
	border-radius: 3px;
	font-size:11px;
	text-decoration:none; display:inline-block;
	text-shadow: -1px -1px 0 rgba(255,255,255,0.3); color: #424242;
        background-color: #f4f5f5; background-image: -webkit-gradient(linear, left top, left bottom, from(#f4f5f5), to(#dfdddd));
        background-image: -webkit-linear-gradient(top, #f4f5f5, #dfdddd);
        background-image: -moz-linear-gradient(top, #f4f5f5, #dfdddd);
        background-image: -ms-linear-gradient(top, #f4f5f5, #dfdddd);
        background-image: -o-linear-gradient(top, #f4f5f5, #dfdddd);
        background-image: linear-gradient(to bottom, #f4f5f5, #dfdddd);
	filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#f4f5f5, endColorstr=#dfdddd);
	color: #6E6E6E;
}

#kutikomipagenationbotan li a:hover{
	display: block; 
	text-decoration: underline;
	color: #e80f57;
}



.effect4:after {
    background: none repeat scroll 0 0 #777777 !important;
    bottom: 18px !important;
    box-shadow: 0 15px 10px #777777 !important;
    content: "" !important;
    left: auto !important;
    max-width: 300px !important;
    position: absolute !important;
    right: 10px;
    top: 80% !important;
    transform: rotate(3deg) !important;
    -webkit-transform: rotate(3deg) !important;
    -moz-transform: rotate(3deg) !important;
    -ms-transform: rotate(3deg) !important;
    -o-transform: rotate(3deg) !important;
    width: 50% !important;
    z-index: -1 !important;
}
.effect4 {
    position: relative !important;
}


/*-------------------タイムラインデザイン--------------------*/

.refeshz-icon{
	font-size: 50px;
	color: #C0C0C0;
	text-align: center;
	margin-bottom: 10px;
}

.clear{
    position: relative;
	top: -10px;
	left: 27px;
	width: 2px;
	clear:both;
	height: 15px;
	background-color: #E2E2E2;
	z-index: 1;
}



.timeblok{/*タイムライン外ボックス*/
	margin-bottom:10px;
    padding: 10px 15px; 
    margin-top: 0px;
	border-top: 1px solid #E5E5E5;;
    border-left: 1px solid #E5E5E5;
	border-right: 1px solid #E5E5E5;
	border-bottom: 2px solid #E5E5E5;
	border-radius: 2px;
	background-color: #fff;
}

.timelinenext{/*タイムライン続き*/
	margin-bottom:10px;
    padding: 10px 15px; 
    margin-top: 0px;
	border-top: 1px solid #E5E5E5;;
    border-left: 1px solid #E5E5E5;
	border-right: 1px solid #E5E5E5;
	border-bottom: 2px solid #E5E5E5;
	border-radius: 2px;
	background-color: #fff;
	text-align: center;
	font-weight: bold;
	list-style: none;
}

.timelinenext a{/*タイムライン続き*/
	color: #6E6E6E;
}


/*タイムラインボディ-----------------------------------*/
.timeline_body{
	margin: 0px 10px;
}

.timeline_title {
	font-size: 18px;
}

.timeline_icon img{/*タイムライン用各アイコン*/
 	width: 50px;
	margin-right: 10px;
}


.time-watch {/*投稿時間*/
	color: #6E6E6E;
	font-size: 13px;
	margin-left: -4px;
	margin-top: -5px;
}
.timelinecoment{/*タイムライン説明コメント*/
	width: 100%;
	margin-top: 30px;
	margin-bottom: 5px;
	font-size: 14px;
}

.timelinecoment-pr{/*タイムライン説明コメント PR用*/
	width: 100%;
	margin-bottom: 5px;
	font-size: 14px;
}


.timelinecoment a{/*タイムライン説明コメント リンク*/
	font-weight: bold;
}


.infotext{/*インフォメーション　文字*/
	font-size: 13px;
}


/*タイムラインフット-------------------------------------*/
.timeline_footer{
	margin-bottom: 5px;
	border: 1px solid #E5E5E5;
	padding: 10px;
}

.timeline_footer .shopname {/*フッター内お店の名前*/
	margin-top: 5px;
}
.timeline_footer .shopname a{/*フッター内お店の名前*/
	font-size: 14px;
	font-weight: bold;	
}
.timeline_footer .sterimg img{/*フッター内☆イラスト*/
	margin-bottom: 5px;
	vertical-align: middle;
}


.footcoment{/*フッターコメント*/
	font-size: 14px;
	line-height: 22px;
	overflow:hidden;
}


.timeline_footer .userimg img{/*ユーザーサムネイル*/
	margin:0 10px;
	border-radius: 50%;
}

.timeline_footer img{
	margin-right: 10px;
}


/*タイムラインコンテンツ共通部品*/

.pull-left{
	float: left;
}

.boxclear{
	clear: both;
}

.fa-clock-o{/*時計アイコン*/
	margin-right: 0px;
}


.userimg img{/*ユーザーサムネイル*/
	border-radius: 50%;
	width: 25px;
	margin-right: -3px;
	vertical-align:middle;
}

.shopimg img{/*お店サムネイル*/
	width: 25px;
	margin-right: -3px;
	vertical-align:middle;
}

#infscr-loading {/*ローディング画像センター*/
text-align:center;
margin:0 auto;
}

/*タイムライン項目別*/

.hedblok{/*タイムライン外ボックス ヘッド部分*/
	margin-bottom:10px;
    margin-top: 0px;
	padding: 10px 15px;
	border-top: 1px solid #E5E5E5;;
    border-left: 1px solid #E5E5E5;
	border-right: 1px solid #E5E5E5;
	border-bottom: 2px solid #E5E5E5;
	border-radius: 2px;
	background-color: #fff;
}

.timeline-hed{/*タイムラインヘッドタイトル*/
	font-size: 16px;
	text-align: center;
}

.hed-time{/*ヘッド　タイム*/
	font-size: 13px;
	color: #6E6E6E;
	margin-left: 20px;
}

.refresh{
	text-align: center;
	margin-bottom: 5px;
}
.refresh a{
	color: #6e6e6e;
}


.img-frame{/*画像外枠*/
	width: 220px;
}

.samimg-timeline{/*画像投稿*/
	text-align: center;
}

.samimg-timeline img{/*画像投稿*/
	max-width: 80px;
	max-height: 80px;
}

.img-shopname a{/*画像　店名*/
	font-weight: bold;
	font-size: 14px;
}


.newshop-point{/*新店　点数*/
	font-weight: bold;
	color:#E80F57;
	margin-left: -15px;
}

.jobtype{/*新店　業種*/
	margin-left: -5px;
	color: #6E6E6E;
	font-size: 13px;
}


.mailtitle a{/*メール　メール文*/
}


.cossort-sam img{/*メール　コソットアイコンサムネイル*/
	border-radius: 50%;
}


.newuserarea{/*新規ユーザー　登録エリア*/
	color: #6E6E6E;
	font-size: 13px;
}

.newuserentry{/*新規ユーザー　登録日*/
	color: #6E6E6E;
	font-size: 13px;
}

.blogcome{/*ブログ投稿　ブログ本文*/
	color: #6E6E6E;
	font-size: 13px;
}

table.ranktable {/*ランキング　テーブル*/
    border-collapse: separate;
    border-spacing: 1px;
    line-height: 1.5;
	width: 100%;
}

table.ranktable caption{
	text-align: left;
	font-size: 15px;
	margin-top: 10px;
	padding-bottom: 10px;
	border-bottom: 1px solid #DDDDDD;
}

.table-shop {
}

.table-shop a{
	font-size: 14px;
	font-weight: bold;
}

.arrow {
	width: 16px;
}

table.ranktable th {/*ランキング　テーブル*/
    padding: 10px 5px;
    vertical-align: top;
	border-bottom: 1px solid #DDDDDD;
	width: 24px;
	font-weight: normal;
}

table.ranktable td {/*ランキング　テーブル*/
    padding: 10px 5px;
    vertical-align: top;
	border-bottom: 1px solid #DDDDDD;
}

.ranknext{/*ランキング　ネクスト*/
	margin-top: 10px;
	float: right;
}

.rankingpoint{/*ランキング*/
	font-weight: bold;
	color:#E80F57;
	font-size: 15px;
}

.ranking-date {/*ランキング　投稿日*/
	color:#6E6E6E;
	margin-left: 5px;
	font-size:11px;
}

.matomebottom{/*まとめ下ブロック*/
	margin-top:50px;
	margin-bottom: 5px;
	font-size: 14px;
	line-height: 22px;
	overflow:hidden;
	border: 1px solid #E5E5E5;
	padding: 10px;
}

.matome-title{/*まとめタイトル*/
	font-size: 16px;
	padding-left: 20px;
	margin-bottom: 10px;
}

.matome-type{/*まとめタイプ*/
	color: #6E6E6E;
	padding-left: 14px;
}
.matomeimg-blok{
	text-align: center;
}

.matomeimg-blok img{/*タイムラインPR*/
	max-width: 450px;
	max-height: 350px;
}



.pr-shopname {/*タイムライン PRお店の名前*/
	margin: 10px 0;
}

.pr-shopname a{/*タイムライン PRお店の名前*/
	font-weight: bold;
	font-size: 14px;
}

.prblok{
	text-align: center;
}

.prblok img{/*タイムラインPR*/
	max-width: 500px;
	max-height: 300px;
}



.voise-rank{/*信憑性　スタンプ*/
	position: absolute;
	top:15px;
	left:140px;
}
.stamped{
	position: relative; /*配置を相対座標基準に*/
	z-index: 10px;
}

.voise-rank img{
	transform: rotate( -13deg );
}




.timetitle{/*タイムラインタイトル*/
	font-size:14px;
    border-bottom: 1px solid #E5E5E5;
}


.timeicon{/*タイムラインアイコン*/
	font-size:20px;
}

.timeicon i{/*タイムラインアイコン*/
	font-size:17px;
	color: #6E6E6E;
}

.timecontet{/*タイムラインコンテンツ*/
	margin:10px 0;
}

.timecontet img{/*タイムラインタイトル 高さ*/
	vertical-align: middle;
}



.rinkshop{/*お店ネーム*/
	color: #624028;
	font-weight: bold;
}

.rinkuser{/*ユーザーネーム*/
	color: #2F1D0A;
	font-weight: bold;
}



/*タイムライン各項目*/

.point{/*各フロートクリア*/
	clear:both;
}


.timecontetvoice{/*口コミ*/
	border: 1px solid #E5E5E5;
    	padding: 10px 20px;
}


.timecontetvoice .title{
	font-size:14px;
	font-weight: bold; 
	float:left;
}

.timecontetvoice .title a{
	color:#5F5B51;
}

.timecontetvoice .title a:hover{
	text-decoration: underline;
}


.timecontetvoice .titleright{
	margin-top: 5px;
	color: #6E6E6E;
	font-size: 11px;
	font-weight: normal;
	float:right;
}


.point img{
	vertical-align: -3px;
}

.kutikomipoint {
	color:#e80f57;
	font-size:15px;
	font-weight: bold;
}


.timecontetimg{/*画像*/
	border: 1px solid #E5E5E5;
    	padding: 10px 20px;
}


.imgshopname{
	margin-top:10px;
	float: left;
	margin-left:30px;
	font-size:14px;
}

.imgshopname a{
	color:#5F5B51;
	font-weight: bold;

}

.imgcoment{
	font-size:13px;
}


.timecontetpoint{/*点数変動*/
	border: 1px solid #E5E5E5;
    	padding: 10px 20px;
}



.timecontetblog{/*ブログ投稿*/
	border: 1px solid #E5E5E5;
    	padding: 10px 20px;
}

.blogimg{
	float:left;
	margin-left:-10px;
}

.blogleft{ 
	float:left;
	margin-left:30px;
	overflow: auto;
}

.blogleft a:hover{ 
	text-decoration: underline;
	color:#5F5B51;
}

.blogtitle{
	margin-top:10px;
	color:#5F5B51;
	font-weight: bold;
	font-size: 14px;
 	overflow: hidden;

}


.blogcontent{
	color:#5F5B51;
	font-size: 10px;
	margin-top:0px;
	overflow: hidden;
}


.timecontetnews{/*お知らせ*/
	border: 1px solid #E5E5E5;
    	padding: 10px 20px;
	font-weight: bold;
	font-size: 14px;
}
.timecontetnews a{
	color:#5F5B51;
}

.timecontetnews a:hover{
	text-decoration: underline;
	color:#5F5B51;
}


.timecontetmail{/*メール*/
	border: 1px solid #E5E5E5;
    	padding: 10px 20px;
}

.mailbun{
	font-size: 12px;
}

.mailbun a{
	color:#5F5B51;
}

.mailbun a:hover{
	text-decoration: underline;
	color:#5F5B51;
}


.timecontetrank{/*ランキング*/
	border: 1px solid #E5E5E5;
   	padding: 10px 20px;
}

.kutikomipoint a{
	color:#e80f57;
}





/*モーダル*/

.modal-content {
    position:fixed;
    display:none;
    z-index:2;
    width:50%;
    margin:0;
    padding:10px 20px;
    border:2px solid #aaa;
    background:#fff;
}

.modal-content p {
    margin:0;
    padding:0;
}

.modal-overlay {
    z-index:1;
    display:none;
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:120%;
    background-color:rgba(0,0,0,0.75);
}





/*メール設定ページ---------------------*/

.admin .configblok{
	width:750px;
	margin-left:8px;
	float:right;
}

table.configzoom01 { 
	width: 100%; 
	border-collapse: separate; 
	border-spacing: 0; 
	text-align: left; 
	line-height: 1.5; 
	border-top: 1px solid #E5E5E5; 
	border-left: 1px solid #E5E5E5; 
} 
 
table.configzoom01 th { 
	width: 25%; 
	padding: 16px 10px 16px 10px; 
	font-weight: bold; 
	vertical-align: top; 
	border-right: 1px solid #E5E5E5; 
	border-bottom: 1px solid #E5E5E5; 
	border-top: 1px solid #fff; 
	border-left: 1px solid #fff; 
	background-color:#fff;
} 

table.configzoom01 th span { 
	font-size:10.5px;
	font-weight:normal;
	color:#6E6E6E;
} 

table.configzoom01 td { 
	width: 75%; 
	padding: 10px 10px 10px 10px; 
	vertical-align: middle; 
	border-right: 1px solid #E5E5E5; 
	border-bottom: 1px solid #E5E5E5; 
	font-size:13px;
	background: #fff;
} 

table.configzoom01 td.configdeta{ 
	padding-left: 18px; 
}

.configsubmit{ 
	margin-left: 10px;
  	margin-light: 15px;
}


.configzoom-top{
	padding-top:7px;
	padding-bottom:7px;
	text-align:center; 
	font-size:13px;
	background-color:#fff;
	border-right: 1px solid #E5E5E5;  
	border-top: 1px solid #E5E5E5;
	border-left: 1px solid #E5E5E5; 
}

.topspace{
	margin-top:20px;
}


/*メールボックス 詳細ページ*/
.mailzoom{
	width:100%;
	margin:20px 0px 0px 0px;
}

table.mailzoom01 { 
	width: 100%; 
	border-collapse: separate; 
	border-spacing: 0; 
	text-align: left; 
	line-height: 1.5; 
	border-top: 1px solid #ccc; 
	border-left: 1px solid #ccc; 
} 
 
table.mailzoom01 th { 
	width: 25%; 
	padding: 10px; 
	font-weight: bold; 
	vertical-align: top; 
	border-right: 1px solid #ccc; 
	border-bottom: 1px solid #ccc; 
	border-top: 1px solid #fff; 
	border-left: 1px solid #fff; 
	background-color:#F2F2F2;
} 

table.mailzoom01 td { 
	width: 75%; 
	padding: 10px; 
	vertical-align: top; 
	border-right: 1px solid #ccc; 
	border-bottom: 1px solid #ccc; 
	font-size:13px;
} 

.mailsubmit{ 
	margin-left: 10px;
  	margin-light: 15px;
}


.mailzoom-top{
	padding-top:7px;
	padding-bottom:7px;
	text-align:center; 
	font-size:13px;
	background-color:#F2F2F2;
	border-right: 1px solid #ccc;  
	border-top: 1px solid #ccc;
	border-left: 1px solid #ccc; 
}

.mailzoom-bottom{
	width: 478px;
	border-right: 1px solid #ccc; 
	border-bottom: 1px solid #ccc; 
	border-left: 1px solid #ccc;
}


/*画像登録ページ cropperr*/

.admin .rightblok{
	float:left;
	width:750px;
	margin-left:8px;
}

.topspc-minus{/*画像フォーム*/
	margin-top: -20px;
}


.campusleft{
	float:left;
	width:518px;
	background-color:#fff;
	border-top: 1px solid #E5E5E5;;
    border-left: 1px solid #E5E5E5;
	border-right: 1px solid #E5E5E5;
	border-bottom: 2px solid #E5E5E5;
	border-radius: 2px;
}

.campusright{
	float:right;
	width:220px;
	background-color:#fff;
	border-top: 1px solid #E5E5E5;;
    border-left: 1px solid #E5E5E5;
	border-right: 1px solid #E5E5E5;
	border-bottom: 2px solid #E5E5E5;
	border-radius: 2px;
}


.campusright-bottom{
	margin-top:8px;
	margin-bottom:85px;
	float:right;
	width:220px;
	background-color:#fff;
	border-top: 1px solid #E5E5E5;;
    border-left: 1px solid #E5E5E5;
	border-right: 1px solid #E5E5E5;
	border-bottom: 2px solid #E5E5E5;
	border-radius: 2px;
	border-radius: 3px;
	text-align:center; 
}

.previwblok{
	float:right;
	width:220px;
	padding:10px 0;
	border-top: 1px solid #E5E5E5;;
    border-left: 1px solid #E5E5E5;
	border-right: 1px solid #E5E5E5;
	border-bottom: 2px solid #E5E5E5;
	border-radius: 2px;
	background-color:#fff;
	margin-bottom:8px;
}



.campusbottom{
	clear:both;
}




/*cropper*/

.img-container,
.img-preview {
  	overflow: hidden;
  	text-align: center;
  	width: 100%;
	margin: 0 auto; 
}

.image-crop{
  background-color: #fff;
  margin: 0 15px;
}

.image-crop {
  min-height: 200px;
  max-height: 400px;
}

@media (min-width: 768px) {
  .image-crop {
    min-height: 400px;
  }
}

.image-crop > img {
  max-width: 100%;
}

.img-preview-sm {/* レビュー画像サイズ　1:1 */
  	height: 120px;
  	width: 120px;
	border-radius:50%;
}

/*コントローラー*/

.btnplayoutleft {
	float:left;
}

.topspc{
	margin-top: 20px; 
}


.btnblok{
	margin-bottom: 5px;
}

.spcleft{
	margin-right: 5px; 
}

.spcright{
	margin-left: 5px; 
}




.campus .btn-group{
 margin: 10px 18px;
}

.campus .enterbtn{
	text-align:center; 
	clear:both;
	margin-bottom: 20px;
}

/*ボタン*/


.cntrolbtn {
	font-size:20px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
	border:1px solid #dcdcdc;
	padding:5px 14px;
	text-decoration:none;
	background:-moz-linear-gradient( center top, #ededed 5%, #dfdfdf 100% );
	background:-ms-linear-gradient( top, #ededed 5%, #dfdfdf 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#dfdfdf');
	background:-webkit-gradient( linear, left top, left bottom, color-stop(5%, #ededed), color-stop(100%, #dfdfdf) );
	background-color:#ededed;
	color:#777;
	display:inline-block;
	text-shadow:1px 1px 0px #ffffff;
 	-webkit-box-shadow:inset 1px 1px 0px 0px #ffffff;
 	-moz-box-shadow:inset 1px 1px 0px 0px #ffffff;
 	box-shadow:inset 1px 1px 0px 0px #ffffff;
}

.cntrolbtn:hover {
	background:-moz-linear-gradient( center top, #dfdfdf 5%, #ededed 100% );
	background:-ms-linear-gradient( top, #dfdfdf 5%, #ededed 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#dfdfdf', endColorstr='#ededed');
	background:-webkit-gradient( linear, left top, left bottom, color-stop(5%, #dfdfdf), color-stop(100%, #ededed) );
	background-color:#dfdfdf;
}

.cntrolbtn:active {
	position:relative;
	top:1px;
}




.endbtn {
	-moz-box-shadow: 0px 1px 0px 0px #f0f7fa;
	-webkit-box-shadow: 0px 1px 0px 0px #f0f7fa;
	box-shadow: 0px 1px 0px 0px #f0f7fa;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #62bfee), color-stop(1, #32adea));
	background:-moz-linear-gradient(top, #62bfee 5%, #32adea 100%);
	background:-webkit-linear-gradient(top, #62bfee 5%, #32adea 100%);
	background:-o-linear-gradient(top, #62bfee 5%, #32adea 100%);
	background:-ms-linear-gradient(top, #62bfee 5%, #32adea 100%);
	background:linear-gradient(to bottom, #62bfee 5%, #32adea 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#62bfee', endColorstr='#32adea',GradientType=0);
	background-color:#62bfee;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	border-radius:4px;
	border:1px solid #1598d9;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-size:14px;
	padding:10px 28px;
	text-decoration:none;
 	-webkit-box-shadow:inset 0px 0.5px 1px 0.5px #AED5E9;
 	-moz-box-shadow:inset 0px 0.5px 1px 0.5px #AED5E9;
 	box-shadow:inset 0px 0.5px 1px 0.5px #AED5E9;
}
.endbtn:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #32adea), color-stop(1, #62bfee));
	background:-moz-linear-gradient(top, #32adea 5%, #62bfee 100%);
	background:-webkit-linear-gradient(top, #32adea 5%, #62bfee 100%);
	background:-o-linear-gradient(top, #32adea 5%, #62bfee 100%);
	background:-ms-linear-gradient(top, #32adea 5%, #62bfee 100%);
	background:linear-gradient(to bottom, #32adea 5%, #62bfee 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#32adea', endColorstr='#62bfee',GradientType=0);
	background-color:#32adea;
}
.endbtn:active {
	position:relative;
	top:1px;
}


/*チュートリアル*/


#kaisetsu {

}
 
#kaisetsu a {
    display: block;
    padding: 5px;
}
 