﻿@charset "UTF-8";

.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  visibility: hidden;
}

.clearfix {
  min-height: 1px;
}

* html .clearfix {
  height: 1px;
  /*\*//*/
  height: auto;
  overflow: hidden;
  /**/
}

body .mypage{
	height:100%;/*追加分*/
	margin: 0;/*追加分*/
}

img { border:none; }

.red {
	color:#DE170F;
}
.orange {
	color:#FF8410;
}
.green {
	color:#67AB9F;
}
.blue {
	color:#286BCC;
}
.gray {
	color:#666666;
}
.cya {
	color:#8B4513;
}

.mypage #container {
	position: relative;
    	min-height: 100%;
    	height: auto !important;
    	height: 100%;
}


.mypage #contentsin {
	margin-bottom:50px;
	padding-bottom: 200px
}
.mypage .boxs {
	padding-top:10px;
	padding-bottom:20px;
	clear:both;
}

  /*-------------------------------------左ボックス----------------------------------------*/
.mypage .leftbox {
	float:left;
	width:280px;

}

.mypage .rightbox {
	float:right;
	width:680px;
}

.mypage .leftbox .content_in {/*------レフト枠------*/
	background-color:#fff;
	border-radius: 3px;
	padding-top:15px;
	padding-bottom:15px;
	padding-left:18px;
	padding-right:18px;
	border-top: 1px solid #E5E5E5;
    border-left: 1px solid #E5E5E5;
	border-right: 1px solid #E5E5E5;
	border-bottom: 2px solid #E5E5E5;
	border-radius: 2px;
}

.mypage .leftbox h3 {  /*------ユーザーネーム------*/
	text-align:left;
	padding-bottom:5px;
	color:#2F1D0A;
	font-size:14px;
	text-align: center;
}


.prof img {/*------ユーザー画像丸み------*/
	border: 1px solid #f1eae2;
	z-index: 2;
	border-radius: 50%;
  	-webkit-border-radius: 50%;
  	-moz-border-radius: 50%;

}



.mypage .leftbox dl.prof {/*------ユーザープロフ登録日------*/
	padding-bottom:5px;
	margin-bottom:5px;
	font-size:12px;
	color:#6E6E6E;
}
.mypage .leftbox dl.prof dt {/*------ユーザープロフ登録日------*/
	float:left;
	width:133px;
}
.mypage .leftbox dl.prof dd {/*------ユーザープロフ登録日------*/
	float:left;
	text-align:left;
	padding-left:10px;
	width:90px;
	line-height:0px;
	padding-top:22px;
	font-weight:bold;
}


.dareatitle {/*------データタイトル------*/
	font-size:110%;
	color:#6E6E6E;
	text-align:center;
	margin-bottom:8px;
	font-weight: bold;
}

.mypage .leftbox .darea_1 {/*------投稿データ------*/
	padding-top:12px;
	padding-bottom:3px;
	padding-left:15px;
	padding-right:10px;
	margin-top:10px;
	border-top: 2px solid #f1eae2;
    border-left: 2px solid #f1eae2;
	border-right: 2px solid #f1eae2;
	border-bottom: 2px solid #f1eae2;
	border-radius: 3px;
}
.mypage .leftbox .darea_1 dl {
	width:100%;
}
.mypage .leftbox .darea_1 dl dt {
	float:left;
	width:70%;
	font-size:120%;
	line-height:28px;
}
.mypage .leftbox .darea_1 dl dd {
	float:left;
	width:30%;
	text-align:right;
	font-size:120%;
	line-height:28px;
}
.mypage .leftbox .darea_1 dl dt.total,.mypage .leftbox .darea_1 dl dd.total {/*------投稿口コミ数------*/
	font-weight:bold;
	font-size:120%;
	line-height:28px;
	padding-top:4px;
	border-top:solid 1px #EEEEEE;
	color:#413324;
}
.mypage .leftbox .darea_1 .kome {
	font-size:90%;
	line-height:20px;
	text-align:right;
}

.mypage .leftbox .darea_2 {/*------投稿データ2------*/
	padding-top:15px;
	padding-bottom:10px;
	padding-left:15px;
	padding-right:10px;
	border-top: 2px solid #f1eae2;
    border-left: 2px solid #f1eae2;
	border-right: 2px solid #f1eae2;
	border-bottom: 2px solid #f1eae2;
	border-radius: 3px;
	margin-top:14px; 
}


.mypage .leftbox .darea_2 dl {
	width:100%;
}
.mypage .leftbox .darea_2 dl dt {
	float:left;
	width:70%;
	font-size:120%;
	line-height:28px;
}
.mypage .leftbox .darea_2 dl dd {
	float:left;
	width:30%;
	text-align:right;
	font-size:120%;
	line-height:28px;
}
.mypage .leftbox .photo {
	margin-top:15px;
	padding:15px;
	border:solid 1px #DDDDDD;
	background-color:#FFFFFF;
}


.mypage .leftbox .darea_3 {/*------投稿データ3------*/
	padding-top:12px;
	padding-bottom:3px;
	padding-left:10px;
	padding-right:10px;
	margin-top:10px;
	border-top: 2px solid #f1eae2;
    border-left: 2px solid #f1eae2;
	border-right: 2px solid #f1eae2;
	border-bottom: 2px solid #f1eae2;
	border-radius: 3px;
}

.mypage .leftbox .darea_3 dl {
	width:100%;
}
.mypage .leftbox .darea_3 dl dt {
	float:left;
	width:70%;
	font-size:120%;
	line-height:28px;
}
.mypage .leftbox .darea_3 dl dd {
	float:left;
	width:30%;
	text-align:right;
	font-size:120%;
	line-height:28px;
}
.mypage .leftbox .darea_3 dl dt.total,.mypage .leftbox .darea_1 dl dd.total {/*------投稿口コミ数------*/
	font-weight:bold;
	font-size:120%;
	line-height:28px;
	padding-top:4px;
	border-top:solid 1px #EEEEEE;
	color:#413324;
}
.mypage .leftbox .darea_3 .kome {
	font-size:90%;
	line-height:20px;
	text-align:right;
}










  /*-------------------------------------右ボックス----------------------------------------*/
.mypage .rightbox {
}
.mypage .rightbox .contents {
	padding-left:5px;
}

/*-------------------------------------タブ----------------------------------------*/


 
.tabBtn {
	display: table;
	width: 100%;
	margin: 0 0 5px;
	padding: 0;
	position: relative;
	z-index: 1;
}

 
.tabBtn li {
	display: table-cell;
	width: 20%;
	border-right: 1px solid #fff;/* 縦線 */
	background: #030203;/* ボタン背景カラー */
	background-image: -webkit-linear-gradient(top, #030203, #3b3837);
	background-image: -moz-linear-gradient(top, #030203, #3b3837);
	background-image: -ms-linear-gradient(top, #030203, #3b3837);
	background-image: -o-linear-gradient(top, #030203, #3b3837);
	background-image: linear-gradient(to bottom, #030203, #3b3837);
	text-align: center;
	vertical-align: middle;
	color: #fff;
}
 

.tabBtn li a {
	display: block;
	cursor: pointer;
	color: #fff;
	text-decoration: none;
	transition: background-color .3s;
	padding: 10px 0;
}

.tabBtn li.activ {
	background: #e80f57;/* ピンク */
}

.tabBtn li a:hover {
	background: #e80f57;/* ピンク */
}


/*投稿口コミデザイン
---------------------------------------------------------------------------*/



.kutikomiboxmypage {/*1口コミに対するボックス*/
	margin: 15px 0px 0px 0px;
	background: #fff;
	border-top: 1px solid #E5E5E5;
    border-left: 1px solid #E5E5E5;
	border-right: 1px solid #E5E5E5;
	border-bottom: 2px solid #E5E5E5;
	border-radius: 2px;
	padding: 10px;
	font-size: 12px;
}



.kutikomiboxmypage:hover {
	border-top: 1px solid #e80f57;
	border-left: 1px solid #e80f57;
	border-right: 1px solid #e80f57;
	border-bottom: 2px solid #e80f57;
	border-radius: 2px;
}



.kutikomibox p{
	padding: 0px;
}

.kutikomibox p.img a img {
	margin: 0px 0px 0px 5px;
	border: 1px solid #958574;	/*画像の枠線の幅、線種、色*/
}

.kutikomibox p.img a:hover img {
	border: 1px solid #958574;	/*マウスオン時の枠線の幅、線種、色*/
}

/*各投稿項目
---------------------------------------------------------------------------*/

.mypagerank{/*信憑性*/
	margin: 0px 0px 7px 20px;
	float:left;
}

.mypagetime{/*投稿時間*/
	margin: 5px 0px 0px 0px;
	float:right;
}

.kutikomirisutoshop{/*ショップ名*/
	margin: 0px 0px 0px 20px;
	font-size: 14px;
	font-weight:bold;
	clear:both;
}

.kutikomirisutoshop a{/*ショップ名*/
	text-decoration: none;
}


.kutikomirisutoshop a:hover{/*ショップ名ホバー*/
	color:#e80f57;
}

span.workareakutikomi{/*地域業種*/
	font-size: 11px;
	color: #6E6E6E;
	margin: 0px 0px 0px 5px;
}

.kutikomititleindex {/*口コミタイトル*/
	margin: 10px 0px 0px 20px;
	font-size: 15px;
	font-weight:bold;
}

.kutikomititleindex a{/*口コミタイトル色*/
	color: #5F5B51;
}


.indexsterpink{/*評価*/
	margin: 6px 0px 30px 18px;
	color: #ff3a7b;
	font-size: 15px;
	font-weight:bold;
}

.indexsterpink img{/*高さ調整*/
	vertical-align: text-top;
}


.indexsikiri{/*店名との仕切り線*/
    border: 0;
    height: 1px;
　　background: #fff;
    background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.20), rgba(0,0,0,0));
    background-image:    -moz-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.20), rgba(0,0,0,0));
    background-image:     -ms-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.20), rgba(0,0,0,0));
    background-image:      -o-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.20), rgba(0,0,0,0));
    width: 300px;
    text-align:left;
    margin-left:0px;
}




/*続きを見る*/


.readmore-button-box a {/*テスト続きを見る*/
 	color: #624028;              /* ボタンの文字色(白) */
  	display: inline-block;     /* ボタン全体をクリック可能に */
  	font-size: 13px;         /* ボタンの文字サイズ */
  	background-color: #f1eae2;
	padding: 10px 20px 10px 20px;
	border: 1px solid #f1eae2;
	border-radius: 3px;        /* CSS3草案 */  
	-webkit-border-radius: 3px;    /* Safari,Google Chrome用 */  
 	-moz-border-radius: 3px;   /* Firefox用 */  
}

.readmore-button-box a:hover {
   color: #e80f57;     /* ボタンにマウスが乗ったら明るい赤色に変化 */
}

.readmore-button-box {
   text-align: center;
   padding-top: 6.7em;   /* ボタンの上側でグラデーションを見せる距離(長さ) */
   margin-top: -6.5em;   /* ボックスを上側に重ねる距離(長さ) */
   position: relative;   /* ボックス全体を上に重ねるために必要 */
}

.readmore-area {
   display: none;   /* デフォルトでは非表示にしておく */
}


/*口コミ詳細*/



.kutikomizoomupkoumokuwaku{/*--口コミ本文の各項目枠--*/
	border: 1px solid #F7BE81;
	margin-left: 15px;
	padding: 4px 0px 4px 2px;
	width: 260px;
	border-radius: 3px;
}
.kutikomizoomupkoumokuwakul{/*--口コミ本文の各項目枠エル--*/
	border: 1px solid #F7BE81;
	margin-left: 15px;
	padding: 4px 0px 4px 2px;
	width: 285px;
	border-radius: 3px;
}

.kutikomizoomupkoumokutitle{/*--口コミ本文の各項目タイトル--*/
	margin: 10px 0px 5px 5px;
	color: #E3821A;
	font-size: 13px;
}


.kutikomizoomupkoumokuhonbun{/*--口コミ本文の各項目本文--*/
	margin: 6px 15px 20px 15px;
	line-height: 20px;
	font-size: 14px;
	color:#413324;
}

.mypagebottombox{/*--口コミ本文の下ボックス--*/
	margin: 10px 0px 0px 0px;
	border-top: 1px solid #f1eae2;
}

.mypagebottomboxleft{/*--口コミ本文の下ボックス左--*/
	margin: 20px 0px 0px 20px;
	float:left;
	color: #6E6E6E;
}

.fa-heart{/*--アイコンボタンハート--*/
	color: #e80f57;
	margin: 0px 3px 0px 0px;
}

.mypagebottomboxright{/*--口コミ本文の下ボックス右--*/
	margin: 20px 20px 0px 0px;
	float:right;
}

.mypagebottomboxright a{/*--口コミ本文の下ボックス右--*/
	color: #6E6E6E;
	text-decoration: underline;
}

.mypagebottomboxcria{/*--口コミ本文の下ボックスクリア--*/
	clear:both;
}

.kutikomihoka{/*ほかのクチコミ*/
font-size: 12px;
padding: 30px 30px 5px 0px;	/*ボックス内の余白*/
text-align: right
}


.kutikomihoka img{/*高さ調整*/
	vertical-align: text-top;
}

/*投稿画像デザイン
---------------------------------------------------------------------------*/
.tubnakawaku{/* 外枠*/
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
	flex-direction:row;
	flex-wrap:wrap;
	padding-left:7px; 
	margin-bottom:30px;
	border-top: 1px solid #E5E5E5;
    border-left: 1px solid #E5E5E5;
	border-right: 1px solid #E5E5E5;
	border-bottom: 2px solid #E5E5E5;
	border-radius: 2px;
	background-color: #fff;
}


.tubnakawaku .imglistboxsoto{
	height: 220px;
	width: 160px;
	margin: 5px 2px;
	border: 1px solid #E5E5E5;
	box-shadow:rgba(122, 122, 122, 0.0588235) 0px 0px 6px 3px;
	-webkit-box-shadow:rgba(122, 122, 122, 0.0588235) 0px 0px 6px 3px;
	-moz-box-shadow:rgba(122, 122, 122, 0.0588235) 0px 0px 6px 3px;
	-moz-border-radius: 2px;    
	-webkit-border-radius: 2px;  
}


.imageboxnaka {
	margin: 10px auto;
	width:150px;
}

.samimg{
	width:150px;
	height:150px;
	overflow:hidden;
}


.caption {/* 投稿コメント */
	padding: 0px 3px 0 3px;
	font-size: 12px;
	text-align:center;
}

.imgshop{/* 投稿された店舗名 */
	text-align:center;
	font-size: 11px;
	line-height: 13px;
	margin: 5px 0px 0px 0px;
}

.imgshop a{
	color:#848484;
}

.imgshop a:hover{
	color: #e80f57;
}


.kurukuru{
	color:#fff;
	font-size: 8px;
}

p.exp {
	clear: left;       /* 回り込みを解除 */
	text-align: center;

}

.exp img{/*高さ調整*/
	vertical-align: text-top;
}

/*プロフィールデザイン
---------------------------------------------------------------------------*/

.mypageprof{ /* プロフィール外枠 */
	width: 74%;
	border-top: 1px solid #E5E5E5;
    border-left: 1px solid #E5E5E5;
	border-right: 1px solid #E5E5E5;
	border-bottom: 2px solid #E5E5E5;
	border-radius: 3px;
	background-color: #fff;
	padding:40px;
	margin: 20px auto; 
}


.mypageprofimg{/* 画像 */
	float:left;
	margin: 0px 0px 20px 0px;
	border:1px solid #D9D8D8;
}
.mypageprofname{/* 名前 */
	font-size:16px;
	float:left;
	color:#2F1D0A;
	margin: 20px 0px 0px 20px;
}

.mypageprofkome{/* プロフ */
	clear:both;
	text-align:left;
	font-size:15px;
	line-height:19px;
	color:#413324;
}



/*1,2,3,4のデザイン-------------------------
*/


.ander{
	margin: 20px 0px 20px 0px;
	padding: 0px 0px 15px 17px;
	background: #fff;
	border-top: 1px solid #E5E5E5;
    border-left: 1px solid #E5E5E5;
	border-right: 1px solid #E5E5E5;
	border-bottom: 2px solid #E5E5E5;
	border-radius: 2px;
}


#paginate{
border:1px dotted #a2a2a2;
}

#nextcaunt ul{
list-style: none;
margin: 10px 0px 10px 0px;
padding: 0px 0px 10px 0px;
}

#nextcaunt li{ 
display: inline; 
padding: 0; 
margin: 0; 
float: left;
}

#nextcaunt li a{
display: block; 
border: 1px solid #DDD;
background-color: #EEE;
padding: 3px;
text-decoration: none;
color: #333;
width: 38px; 
margin: 1px 8px 0 0;
text-align: center;
font-size: 14px;
}

#nextcaunt li a:hover{
background-color: #e80f57;
color: #fff;
}

/*1,2,3,4のデザイン-------------------------*/


