

.infoblok{
	padding:10px;
	border:1px solid #D9D8D8;
	box-shadow:rgba(122, 122, 122, 0.0588235) 0px 0px 6px 3px;
	-webkit-box-shadow:rgba(122, 122, 122, 0.0588235) 0px 0px 6px 3px;
	-moz-box-shadow:rgba(122, 122, 122, 0.0588235) 0px 0px 6px 3px;
	-moz-border-radius: 2px;    
   	-webkit-border-radius: 2px; 
   	border-radius: 2px;
}

.infotime{
	color: #6E6E6E;
	text-align: right;
	margin-bottom:-10px;
	margin-right:20px;
}


.info{
	border-bottom:1px solid #D9D8D8;
	margin-bottom:10px;
}


.infotitle{
	font-size:14px;
	font-weight: bold;
}


.infocont{
	margin-top:-15px;
	padding: 10px;
}


#nextcaunt ul{
	list-style: none;
	margin: 10px 0px 10px 0px;
	padding: 0px 0px 10px 0px;
}

#nextcaunt li{ 
	display: inline; 
	padding: 0; 
	margin: 0; 
	float: left;
}

#nextcaunt li a{
	display: block; 
	border: 1px solid #DDD;
	background-color: #EEE;
	padding: 3px;
	text-decoration: none;
	color: #333;
	width: 27px; 
	margin: 1px 5px 0 0;
	text-align: center;
	font-size: 11px;
}

#nextcaunt li a:hover{
	background-color: #e80f57;
	color: #fff;
}

.frot{
	clear:both;
} 