#shopjob{/*全体ボックス*/
	padding: 0px 0px 0px 0px;   
	margin: 0px 0px 0px 0px; 
	width: 680px;
}


/*ショップ詳細ヘッダーレイアウト
---------------------------------------------------------------------------*/

.shopmainimg{/*shopメイン画像周りのボックス*/
	border:1px solid #ccc; 
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	padding: 4px 4px 4px 4px;   
} 

.shopmainimg-base{/*shopメイン画像周りのボックス ※無料店舗用画像*/
	border:1px solid #ccc; 
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	padding: 4px 4px 4px 4px;
}
 
.mainimgresize {/*画像リサイズタグ*/
        width: 500px;
        height: 281px;
	margin:0 auto;
 }



/*トップページのスライドショー (有料店のみ)
---------------------------------------------------------------------------*/
#mainimgshop {
	position: relative;
	width: 680px;
	height: 210px;
	margin-bottom: 10px;
}
#mainimg .slide_fileshop {
	display: none;
}
#slide_imageshop {
	z-Index:2;
	position: absolute;
	left:0px;
	top:0px;
}
#slide_image2shop {
	z-Index:1;
	position: absolute;
	left:0px;
	top:0px;
}



/*トップページのスライドショー (有料店のみ)テスト
---------------------------------------------------------------------------*/

.slidercomment{
	margin-top:5px;
	text-align: center;
}

/*有料ページ用
---------------------------------------------------------------------------*/

#extorahed{
	border-radius: 2px;
	border:1px solid #E6E6E6; 
	box-shadow:0px 1px 0px 1px rgba(232,232,232,0.4);
	-webkit-box-shadow:0px 1px 0px 1px rgba(232,232,232,0.4);
	-moz-box-shadow:0px 1px 0px 1px rgba(232,232,232,0.4);
	background: url(/kanto/shop/img/body-bg.jpg);
}


.slider {
        width: 670px;
        margin: 5px auto;
}
    
.slick-slide {
        margin: 0px 0px;
}
    
.slick-slide img {
       width: 100%;
}
    
.slick-prev:before,
.slick-next:before {
        color: black;
}




/*ヘッダーボックス------------*/
#shoptop{
width: 680px;
padding: 0px 0px 0px 0px;   
margin: 0px 0px 0px 0px; 
} 


/*ヘッダー１段目
--------------------*/
.header1{/*ヘッダー1段目box*/
width: 100%;
padding: 0px 0px 0px 0px;   
margin: 0px 0px 0px 0px; 
} 


.hedshopname{/*左BOX*/
padding: 0px 0px 0px 0px;   
margin: 0px 0px 0px 0px; 
float:left;
}


h1.shopname {/*店舗名*/
font-size:18px;
padding: 10px 0px 0px 0px;   
margin: 0px 0px 0px 0px;
}

.jobtype{/*左、職種*/
padding: 0px 0px 0px 10px;   
margin: 0px 0px 0px 0px;  
color: #6E6E6E;
font-size: 12px;
}


/*折り畳みコメント(有料店のみ)
------------------------------*/

.readmore-button-box {
/* ↓※以下は古いブラウザでグラデーションを表示するための各種対策 */
background: -webkit-gradient(top, rgba(255,255,255,0.5), white); /* Chrome,Safari */
background: -moz-linear-gradient(top, rgba(255,255,255,0.5), white); /* Firefox */
background: -o-linear-gradient(top, rgba(255,255,255,0.5), white); /* Opera */
background: -ms-linear-gradient(top, rgba(255,255,255,0.5), white); /* IE10 */
filter:progid:DXImageTransform.Microsoft.Gradient(GradientType=0,StartColorStr=#80ffffff,EndColorStr=#ffffffff); /* IE9- */
/* ↑ここまで */
text-align: center;
background-image: linear-gradient( 180deg, rgba(255,255,255,0.5), white );	/* 上から下へ：[白色半透明]から[白色]へグラデーション */
padding-top: 4.5em;	/* ボタンの上側でグラデーションを見せる距離(長さ) */
margin-top: -5.7em;	/* ボックスを上側に重ねる距離(長さ) */
position: relative;	/* ボックス全体を上に重ねるために必要 */
}

/* ▽リンクを「続きを読む」ボタンの形に装飾 */
.readmore-button-box a {
opacity: 0.55; /* 55％不透明度(＝45％透過) */
background-color: #424242;
color: #fff;				/* ボタンの文字色(白) */
border-radius: 2px;		/* 角丸の半径 */
border-color: #fff;		/* 角丸の半径 */
padding: 1.3em 2.0em;		/* 内側の余白 */
display: inline-block;		/* ボタン全体をクリック可能に */
font-weight: bold;			/* ボタンの文字を太字に */
font-size: 13px;			/* ボタンの文字サイズ */
}
.readmore-button-box a:hover {
background-color: #585858;		/* ボタンにマウスが乗ったら明るい赤色に */
}

/* ………………………………………………………………………………………………… */
/* ▼サンプル領域表示用の装飾（表示枠を作っているだけで、必須ではありません） */
div.samplearea {
line-height: 19px;
padding: 3em;				/* 内側の余白 */
margin: 0px 1px 1em 0px;	/* 外側の余白 */
max-width: 660px;			/* 最大幅 */
display: inline-block;		/* 空間があれば横方向にも並べる */
vertical-align: top;		/* (横に並んだ場合)上端を揃える */
}




.fa-bullhorn{/*アイコン*/
	margin: 0px -5px 0px 0px;
}



.fa-star{
	margin: 0px 0px 0px 0px;
}

.fa-envelope{
	margin: 0px 0px 0px 0px;
}


.hedbutton{/*口コミ、お気に入り連結ボタン*/
	padding: 0px 0px 0px 0px;   
	margin: 20px 0px 0px 0px; 
	float:right;
}


.bookmark{/*お気に入りボタン*/
	padding: 0px 0px 5px 0px;   
	margin: 0px 0px 0px 0px; 
}

.mailfor{/*転送ボタン*/
	padding: 0px 0px 0px 0px;   
	margin: 0px 0px 0px 0px; 
}


/*ヘッダー１段目ここまで
--------------------*/




/*仕切り線
--------------------*/
.sikiri{ 
border: 0;
height: 1px;
background: #fff;
background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.20), rgba(0,0,0,0));
background-image:    -moz-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.20), rgba(0,0,0,0));
background-image:     -ms-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.20), rgba(0,0,0,0));
background-image:      -o-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.20), rgba(0,0,0,0));
width: 100%;
} 


/*ヘッダー2段目
--------------------*/

.header2{/*ヘッダー2段目*/
width: 100%;
padding: 0px 0px 0px 0px;   
margin: 0px 0px 0px 0px;
}


/*ショップ詳細ヘッダー内項目
----------------------------*/

.hosi{/*星*/
padding: 10px 0px 0px 10px;   
margin: 0px 0px 0px 0px;
float:left  
}

.heikinscor{/*点数*/
font-size:19px;
padding: 8px 0px 0px 10px;   
margin: 0px 0px 0px 0px;
color:#e80f57;
float:left;
font-weight: bold;
}

.kutikazu{/*口コミ投稿数前後の文字*/
font-size:11px;
padding: 12px 0px 0px 15px;   
margin: 0px 0px 0px 0px; 
float:left 
}
.explain{/*口コミと点数について*/
font-size:11px;
padding: 20px 0px 0px 15px;   
margin: 0px 0px 0px 0px; 
float:left 
}

.talk{/*口コミ投稿数、数字表示のデザイン*/
font-size:17px; 
color:#e80f57;
}

.admission{/*掲載について*/
font-size:11px;
padding: 20px 0px 0px 12px;   
margin: 0px 0px 0px 0px; 
float:left 
}


/*ヘッダー2段目ここまで
--------------------*/



/*ヘッダー3段目
--------------------*/

.header3{/*ヘッダー3段目*/
	width: 100%;
	padding: 0px 0px 0px 0px;   
	margin: 0px 0px 0px 0px;
}

/*ヘッダー3段目ここまで
--------------------*/





/*ショップ詳細ヘッダーセンター※お店キャッチコピー
---------------------------------------------------------------------------*/
.headercnter{/*ヘッダーセンター用*/
	clear:both;
}

.catchcopy{/*キャッチコピー外枠*/
	clear:both;
	background: #f1eae2;
	margin: 10px 0px 0px 0px;
	padding: 5px 0px 5px 5px;
	border-radius: 2px;
	border:1px solid #f1eae2; 
}


.catchcopy .ankrdownleft{/*キャッチコピー文字*/
	font-size:14px;
	float:left;
	width: 75%;

}

.copytext{
	margin-left: 10px;
}


.catchcopy .ankrdownright{/*お店の下まで進むアンカー*/
	font-size:10px;
	width: 20%;
	float:right;
	margin-top:5px;
}


.floatclear{
	clear:both;
}

/*ショップ詳細項目
---------------------------------------------------------------------------*/




.mainshopdeta{/*店舗募集詳細*/
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 10px 0px;
}


/*情報テーブル
--------------------*/

.datatable{
	margin: 0px 0px 10px 0px;
	padding: 0px 0px 0px 0px;
}

table.data {
	width: 100%;
	border-collapse: collapse;
	height: 500px;
}
th.t_top {
        border-top: #b3b3b3 2px solid;
}
.jobdata th{	
	width: 200px;
	border-bottom: #D9D8D8 1px solid;
	border-left: #D9D8D8 1px solid;
	box-shadow:rgba(122, 122, 122, 0.0588235) 0px 0px 6px 3px;
	-webkit-box-shadow:rgba(122, 122, 122, 0.0588235) 0px 0px 6px 3px;/*エラー個所*/
	-moz-box-shadow:rgba(122, 122, 122, 0.0588235) 0px 0px 6px 3px;/*エラー個所*/
	border-radius: 2px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	text-align: left;
	background: #f1eae2;
	padding: 10px;
	font-weight: normal;
}

td.t_top {
	border-top: #e80f57 2px solid;
}
.jobdata td{	
	width: 450px;
	border-bottom: #D9D8D8 1px solid;
	border-right: #D9D8D8 1px solid;
	box-shadow:rgba(122, 122, 122, 0.0588235) 0px 0px 6px 3px;
	-webkit-box-shadow:rgba(122, 122, 122, 0.0588235) 0px 0px 6px 3px;
	-moz-box-shadow:rgba(122, 122, 122, 0.0588235) 0px 0px 6px 3px;
	border-radius: 2px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px; 
	text-align: left;
	padding: 15px;
}



/*調査用テーブル
--------------------*/

.datatable2{
	margin: 20px 0px 50px 0px;
	padding: 0px 0px 0px 0px;
	border: #e80f57 2px solid;
	border-radius: 4px; 
	-moz-box-shadow: 0 3px 5px rgba(0, 0, 0, .3); 
	-webkit-box-shadow: 0 3px 5px rgba(0, 0, 0, .3); 
	box-shadow:0 3px 5px rgba(0, 0, 0, 0.3); 
	filter: progid:DXImageTransform.Microsoft.Shadow(color=#777777, direction=0, strength=3, enabled=true); 
	/* IE以外なら丸角も！ */ 
	-webkit-border-radius: 5px; 
	-moz-border-radius: 5px;
}

table.data {
	width: 100%;
	border-collapse: collapse;
	height: 500px;
}

.jobdata2 th{	
	width: 200px;
	text-align: left;
	background: #F2F2F2;
	padding: 10px;
	font-weight: normal;
	border-bottom: #e3e3e3 1px solid;
}

.jobdata2 td{	
	width: 450px;
	text-align: left;
	padding: 15px;
	border-left: #e3e3e3 1px solid;
	border-bottom: #e3e3e3 1px solid;
}


/*タブメニュー上の見出し
---------------------------------------------------------------------------*/
.tubtop{
	font-size:13px;
	font-weight:bold;
	text-align: left;
	margin: 0px 0px 0px 0px;
	padding: 8px 0px 0px 20px;
	background: url(../images/pinkmidasi.gif) no-repeat center;
}

.tubnakawaku{/*ライン用外枠。口コミタブ以外の適用はここで*/
	border-top: 1px solid #e80f57;	/*上側の線の幅、線種、色*/
	margin-bottom:10px;
	padding-top:15px;
}




/*-------------------------------------タブ----------------------------------------*/

#wrapper{
	margin: 10px 0 30px 0;
}


 
.tabBtn {
	display: table;
	width: 100%;
	margin: 0 0 5px;
	padding: 0;
	position: relative;
	z-index: 1;
}

 
.tabBtn li {
	display: table-cell;
	width: 16.5%;
	border-right: 1px solid #fff;/* 縦線 */
	background: #030203;/* ボタン背景カラー */
	background-image: -webkit-linear-gradient(top, #030203, #3b3837);
	background-image: -moz-linear-gradient(top, #030203, #3b3837);
	background-image: -ms-linear-gradient(top, #030203, #3b3837);
	background-image: -o-linear-gradient(top, #030203, #3b3837);
	background-image: linear-gradient(to bottom, #030203, #3b3837);
	text-align: center;
	vertical-align: middle;
	color: #fff;
}
 

.tabBtn li a {
	display: block;
	cursor: pointer;
	color: #fff;
	text-decoration: none;
	transition: background-color .3s;
	padding: 10px 0;
}

.tabBtn li.activ {
	background: #e80f57;/* ピンク */
}

.tabBtn li a:hover {
	background: #e80f57;/* ピンク */
}




/*口コミ一覧、ブログ一覧、画像一覧
---------------------------------------------------------------------------*/
.newshoka{
	clear:both;
	margin: 0px 10px 5px 0px;
	width: 680px;
	text-align: right;
}

.newshoka a{
	margin: 0px 15px 0px 0px;
}

.newshoka img{
	vertical-align: text-top;
}


/*各コンテンツ専用ページ共通
---------------------------------------------------------------------------*/

.cntenttitle{
	margin-bottom:20px;
	line-height: 30px;
	color: #FFFFFF;	/*文字色*/
	background: url(/kanto/common/header/img/title_bg.gif) no-repeat center;	/*背景画像の読み込み*/
	width: 648px;
	padding-left: 30px;
	clear: both;
	border: 1px solid #968575;
}

.cntentsubtitle{
	width: 95%;
	border: 2px solid #f1eae2;
	border-radius: 3px;
	margin: 30px auto;
	padding: 5px;
}

.cntentsubtitle span{
	color: #e80f57;	/*文字色*/
}




/* :::::: お店ページ専用口コミ(トップページと同じ) :::::: */

.kutikomis { 
	margin: 0px 0px 0px 0px;
	overflow: auto;
	width: 680px;
	padding-left: 0px;
	text-align: left;
}


.kutikomibox {/*1口コミに対するボックス*/
	padding: 5px;	/*ボックス内の余白*/
	font-size: 11px;	/*文字サイズ*/
	line-height: 1.2;	/*行間*/
	width: 650px;	/*ボックス幅*/
	overflow: hidden;
}

.plofimg {/*左ボックス、会員画像と名前*/
	margin: 10px 0px 0px 0px;
	float: left;
	width: 100px;	
	text-align: center;
}

.plofimg img{/*左ボックス、会員画像と名前*/
	margin: 15px 0px 0px 0px;
	border: #958574 1px solid;
}

.usernamehavar{/*口コミサムネイルのユーザーネーム*/
	text-align: center;
}

.usernamehavar:hover{
	color: #e80f57;
}

.usernamehavar img{
	border-radius: 50% ;
}

.shopkutikomiranks{/*信憑性あり!(赤)*/
	text-align: center;
	color: #DE170F;
	border: #DE170F 1px solid;
	border-radius:2px;
	margin: 7px 0px 0px 5px;
	padding: 1px 0px 1px 0px;
	width: 85px;	
}
.shopkutikomiranka{/*信憑性少しあり(オレンジ)*/
	text-align: center;
	color: #FF8410;
	border: #FF8410 1px solid;
	border-radius:2px;
	margin: 7px 0px 0px 5px;
	padding: 1px 0px 1px 0px;
	width: 85px;
}
.shopkutikomirankb{/*信憑性イマイチ(緑)*/
	text-align: center;
	color: #67AB9F;
	border: #67AB9F 1px solid;
	border-radius:2px;
	margin: 7px 0px 0px 5px;
	padding: 1px 0px 1px 0px;
	width: 85px;
}
.shopkutikomirankc{/*信憑性なし(青)*/
	text-align: center;
	color: #286BCC;
	border: #286BCC 1px solid;
	border-radius:2px;
	margin: 7px 0px 0px 5px;
	padding: 1px 0px 1px 0px;
	width: 85px;
}
.shopkutikomirankd{/*判定出来ず(灰色)*/
	text-align: center;
	color: #666666;
	border: #666666 1px solid;
	border-radius:2px;
	margin: 7px 0px 0px 5px;
	padding: 1px 0px 1px 0px;
	width: 85px;
}



.shopkutikomi {/*右ボックス、口コミ店とタイトル*/
	float: right;
	font-size: 12px;	/*文字サイズ*/
	width: 522px;	
	margin: 0px 0px 0px 0px;
	padding: 5px 10px 0px 10px;
	display:inline-block;/*ここから吹き出しデザイン*/
	position: relative;
	padding:1em;
	border-radius:3px;
	border: 2px solid #f1eae2;
}

.shopkutikomi:after {
 	position: absolute;
 	content: " ";
 	height: 0;
 	width: 0;
}

.shopkutikomi-left:after {
 	right: 100%;
	 top: 50%;
 	border:10px solid transparent;
 	border-right:10px solid #f1eae2;
 	margin-top: -10px;
}
/*ここまで吹き出しデザイン*/

/*マウスオーバー*/

.shopkutikomi:hover {
	border: 2px solid #e80f57;
}
.shopkutikomi:hover:after {
	border-right:10px solid #e80f57;
}



.kutikomibox p{
	padding: 0px;
}

.kutikomibox p.img a img {
	margin: 0px 0px 0px 5px;
	border: 1px solid #958574;	/*画像の枠線の幅、線種、色*/
}

.kutikomibox p.img a:hover img {
	border: 1px solid #958574;	/*マウスオン時の枠線の幅、線種、色*/
}


.indexsterpink{/*★、点数、投稿時間外枠*/
	margin: 0px 0px 0px 16px;
	color: #ff3a7b;
	font-size: 15px;
	font-weight:bold;
}

.indexsterpink img{/*高さ調整*/
	vertical-align: text-top;
}




.kutikomititleindex {/*口コミタイトル*/
	margin: 6px 10px 0px 20px;
	font-size: 14px;
	font-weight:bold;
}

.kutikomititleindex a{/*口コミタイトル色*/
	color: #5F5B51;
}



.kutikomihonbun{/*口コミ本文*/
	color:#8B8B8B;
	margin: 0px 60px 0px 20px;
}



.kutikomihonbunnext{/*本文続き...*/
	margin: 7px 0px 0px 20px;
	text-decoration: underline;
}


.time{/*投稿時間*/
	padding: 0px 0px 0px 100px;
	color: #6E6E6E;
	font-size: 11px;
 	position: relative;
  	top: 0px;
  	left: 100px;
	font-weight: normal;
}



.kutikomihoka{/*ほかのクチコミ*/
font-size: 12px;
padding: 0px 30px 5px 0px;	/*ボックス内の余白*/
text-align: right
}

.kutikomihoka img{/*高さ調整*/
	vertical-align: text-top;
}


/*仕切り線(点線)
--------------------*/
.titleborder{ 
	 border: 0;
         border-bottom: 1px dotted #f1eae2;
         background: #999;
	 width: 100%;
} 


/* :::::: 画像リストページ :::::: */



.imgteble{/* 画像レイアウト*/
	display: flex;
	display: -moz-flex;
	display: -o-flex;
	display: -webkit-flex;
	display: -ms-flex;	
	flex-direction: row;
	-moz-flex-direction: row;
	-o-flex-direction: row;
	-webkit-flex-direction: row;
	-ms-flex-direction: row;
	justify-content: flex-start;
 	flex-wrap:wrap;
	margin-bottom:10px;
}

.imglistboxsoto{
	height: 220px;
	width: 160px;
	margin: 2px;
	padding: 2px;
	border: 1px solid #E5E5E5;
	box-shadow:rgba(122, 122, 122, 0.0588235) 0px 0px 6px 3px;
	-webkit-box-shadow:rgba(122, 122, 122, 0.0588235) 0px 0px 6px 3px;
	-moz-box-shadow:rgba(122, 122, 122, 0.0588235) 0px 0px 6px 3px;
	-moz-border-radius: 2px;    
	-webkit-border-radius: 2px; 
}


.imageboxnaka {
	margin: 4px 5px 10px 5px;
	width:150px;
}

.samimg{
	width:150px;
	height:150px;
	overflow:hidden;
}


.caption {/* 投稿コメント */
	padding: 0px 3px 0 3px;
	font-size: 12px;
	text-align:center;
}

.imgshop{/* 投稿された店舗名 */
	text-align:center;
	font-size: 11px;
	line-height: 13px;
	margin: 5px 0px 0px 0px;
}

.imgshop a{
	color:#848484;
}

.imgshop a:hover{
	color: #e80f57;
}


.kurukuru{
	color:#fff;
	font-size: 8px;
}



p.exp {
	clear: left;       /* 回り込みを解除 */
	text-align: center;

}

.exp img{/*高さ調整*/
	vertical-align: text-top;
}


/* :::::: ブログニュースリスト :::::: */


.newsjobs {/*ニュースボックス全体*/
	margin: 8px 0px 0px 0px;
	overflow: auto;
	width: 680px;
	height: 780px;
}



.newsshop {/*1ニュースに対するボックス*/
	border-right: 1px solid #D9D8D8;
	border-bottom: 1px solid #D9D8D8;
	border-left: 1px solid #D9D8D8;
	border-top: 1px solid #D9D8D8;
	box-shadow:rgba(122, 122, 122, 0.0588235) 0px 0px 6px 3px;
	-webkit-box-shadow:rgba(122, 122, 122, 0.0588235) 0px 0px 6px 3px;
	-moz-box-shadow:rgba(122, 122, 122, 0.0588235) 0px 0px 6px 3px;
	-moz-border-radius: 2px;    
   	-webkit-border-radius: 2px; 
   	border-radius: 2px;
	padding: 0px;	/*ボックス内の余白*/
	margin: 5px 0px 0px 0px;
	font-size: 11px;	/*文字サイズ*/
	line-height: 1.2;	/*行間*/
	width: 662px;	/*ボックス幅*/
	overflow: hidden;
}



.newsshop:hover {
	border: 1px solid #e80f57;
}


.blogplofimg{/*左ボックス、店舗画像*/
	float: left;
	width: 130px;	
}

.shopnews {/*右ボックス、店名*/
	float: right;
	font-size: 13px;	
	width: 518px;	
	margin: 10px 0px 0px 10px;
	padding: 0px 0px 0px 0px;
	color:#5F5B51;
}


.newsshop p.blogplofimg a img {/*ブログ投稿画像*/
	margin-right: 5px;
	border: 1px solid #958574;
}

.newsshop p.blogplofimg a:hover img {
	border: 1px solid #c8beb3;
}

.blogtitletop{/*ブログタイトル*/
	font-size: 14px;
	margin: 6px 0px 0px 10px;
	padding: 0px 0px 0px 0px;
	text-align: left;
}

.blogtitletop a{/*ブログタイトル*/
	color: #5F5B51;
	font-weight:bold;
}


.shoppegeblogbun{/*ブログ文一部抜粋*/
	text-align: left;
	margin: 0px 0px 0px 0px;
	font-size: 13px;
	color:#8B8B8B;
	width: 416px;
}


.blognewshonbunnext{/*本文続き...*/
	margin: -14px 0px 0px 0px;
	text-decoration: underline;
	text-align: left;
	font-size: 12px;
	float: left;
}


.timeblog{/*投稿時間*/
	color: #6E6E6E;
	padding: 0px 0px 0px 0px;
	margin: -10px 20px 0px 0px;
	font-size: 11px;
	float: right;
}




/*仕切り線ブログ用
--------------------*/
.blogsikiri{ 
	height:0; 
	border:0; 
	border-top:1px solid #ccc; 
	border-bottom:1px solid #fff; 
	width: 90%;
	margin: 5px 0px 0px 5px;
	text-align: left;
} 


/*ほかのニュース　　部分のスタイルは（kutikomihoka）と一緒*/



/* :::::: 動画ページ :::::: */

.shopcm{/*動画部分BOX*/
margin: 0px 0px 0px 0px;
padding: 8px 0px 20px 0px;
}

.cmtime{/*動画投稿時間*/
text-align: left;
color: #A4A4A4;
font-size: 13px;
font-weight: bold; 
margin: 10px 0px 10px 0px;
padding: 5px 0px 0px 20px;
}


.cmcommentt{/*動画のコメント見出し*/
background: url(/kanto/shop/img/pinkmidasi.gif) no-repeat center;
text-align: left;
color: #A4A4A4;
font-size: 13px;
margin: 0px 0px 0px 20px;
padding: 0px 20px 0px 20px;
}


.cmcomment{/*動画のコメント*/
background: #f1eae2;
text-align: left;
font-size: 13px;
margin: 0px 20px 0px 20px;
padding: 10px 20px 10px 20px;
border: #e3e3e3 1px solid;
}




/* ::: メールフォーム :::※別ファイル（from2.css）で調整 */










/*-------------------------------------ブログ詳細ページ----------------------------------------*/

.blogcontents{
	margin:10px 0;
	padding: 15px;
	border-top: 1px solid #E5E5E5;
    border-left: 1px solid #E5E5E5;
	border-right: 1px solid #E5E5E5;
	border-bottom: 2px solid #E5E5E5;
	border-radius: 2px;
	background-color: #fff;
}

.blogcontents h1{
	margin:15px 0;
	padding: 10px 0;
	font-size:16px;
	border-top:#D9D8D8 2px solid;
	border-bottom:#D9D8D8 2px solid;
}


.countspace{

	margin-left: 20px;
	margin-bottom: 5px;
	
}
.blog_count{
	margin-left: 5px;
	padding: 2px;
	border-radius: 2px;
	background: #f8ac59;
	color: #fff;
}



.right-arrow {
	display: inline-block;
	color: #FFFFFF;
	font-size: 13px;
	height: 20px;
	position: relative;
	width: 140px;
	text-align: center;
	top:0px;
	left:-15px;
}

/* それぞれの長方形のbefore（前）とafter（後ろ）に大きさゼロの要素を作ります */

.right-arrow:before,
.right-arrow:after {
	content: "";
	border-style: solid;
	border-width: 0;
	position: absolute;
	width: 0;
	height: 0;
	top:0px;
}


/* 右側矢印 */
.right-arrow {
	background-color: #24b4c0;
}
.right-arrow:after, div.right-arrow:before {
	border-width: 20px 0 20px 20px;
}
.right-arrow:before {
	border-color: #59C9CE transparent;
	left: -20px;
}
.right-arrow:after {
	border-color: transparent #24b4c0;
	right: -20px;
}




.blogtime{
	font-size:12px;
	color: #6E6E6E;
	text-align: right;
}

.blogcontentstopimg{
	text-align: center;
	margin:20px 0;
}

.blogcontentstopimg img{
	max-width: 648px;
	max-height: 300px;
}

.bunimg{
	width: 100%;
	text-align: center;
	margin:10px 0;
}

.bunimg img{
	text-align: center;
	max-width: 600px;
	max-height: 300px;
}

.blogcontentsbun{
	padding: 0 10px;
	font-size:13px;
}


.blogcontentsbottom{
	margin:30px 0;
	padding-top: 20px;
	border-top: 1px solid #E5E5E5;
}


#blognationbotan ul{
	position: relative;
	left: 50%;
	float:left;
	margin: 0; 
	padding: 0; 
	list-style: none; 
}

#blognationbotan li{ 
	padding: 0; 
	margin: 0; 
	position: relative;
	left: -50%;
	float:left;
}

#blognationbotan li a{
	display: block; 
	text-decoration: none;
	width: 190px; 
	height: 30px;
	margin: 10px 6px 0px 6px;
	padding: 6px 0px 0px 0px;
	text-align: center;
    border:1px solid #d7dada; 
	-webkit-border-radius: 3px; 
	-moz-border-radius: 3px;
	border-radius: 3px;
	font-size:13px;
	text-decoration:none; display:inline-block;
	text-shadow: -1px -1px 0 rgba(255,255,255,0.3); color: #424242;
        background-color: #f4f5f5; background-image: -webkit-gradient(linear, left top, left bottom, from(#f4f5f5), to(#dfdddd));
        background-image: -webkit-linear-gradient(top, #f4f5f5, #dfdddd);
        background-image: -moz-linear-gradient(top, #f4f5f5, #dfdddd);
        background-image: -ms-linear-gradient(top, #f4f5f5, #dfdddd);
        background-image: -o-linear-gradient(top, #f4f5f5, #dfdddd);
        background-image: linear-gradient(to bottom, #f4f5f5, #dfdddd);
	filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#f4f5f5, endColorstr=#dfdddd);
	color: #6E6E6E;
}

#blognationbotan li a:hover{
	display: block; 
	text-decoration: underline;
	color: #e80f57;

}


/*1,2,3,4のデザイン-------------------------
*/

.ander{
	text-align: right;
}

#paginate{
	border:1px dotted #a2a2a2;
}

#nextcaunt ul{
	list-style: none;
	margin: 10px 0px 10px 0px;
	padding: 0px 0px 10px 0px;
}

#nextcaunt li{ 
	display: inline; 
	padding: 0; 
	margin: 0; 
	float: left;
}

#nextcaunt li a{
	display: block; 
	border: 1px solid #DDD;
	background-color: #EEE;
	padding: 3px;
	text-decoration: none;
	color: #333;
	width: 38px;
	margin: 1px 10px 0 0;
	text-align: center;
	font-size: 14px;
}

#nextcaunt li a:hover{
	background-color: #e80f57;
	color: #fff;
}

/*ぺージネーションのデザイン-------------------------*/


.kutikomipagenation{/*ページネーション*/
	height: 40px;
	margin: 30px 0px 20px 0px;
	padding: 0px 20px 20px 20px;
	border-top: 1px solid #f1eae2;
	border-bottom: 1px solid #f1eae2;

}


.fa {/*アイコン*/
	margin: 0px 5px 0px 5px;
}

#kutikomipagenationbotan ul{ /*口コミ次ボタン*/
	position: relative;
	left: 50%;
	float:left;
	margin: 0; 
	padding: 0; 
	list-style: none; 
}

#kutikomipagenationbotan li{ 
	padding: 0; 
	margin: 0; 
	position: relative;
	left: -50%;
	float:left;
}

#kutikomipagenationbotan li a{
	display: block; 
	text-decoration: none;
	width: 190px; 
	height: 30px;
	margin: 10px 6px 0px 6px;
	padding: 6px 0px 0px 0px;
	text-align: center;
        border:1px solid #d7dada; -webkit-border-radius: 3px; 
	-moz-border-radius: 3px;
	border-radius: 3px;
	font-size:13px;
	text-decoration:none; display:inline-block;
	text-shadow: -1px -1px 0 rgba(255,255,255,0.3); color: #424242;
        background-color: #f4f5f5; background-image: -webkit-gradient(linear, left top, left bottom, from(#f4f5f5), to(#dfdddd));
        background-image: -webkit-linear-gradient(top, #f4f5f5, #dfdddd);
        background-image: -moz-linear-gradient(top, #f4f5f5, #dfdddd);
        background-image: -ms-linear-gradient(top, #f4f5f5, #dfdddd);
        background-image: -o-linear-gradient(top, #f4f5f5, #dfdddd);
        background-image: linear-gradient(to bottom, #f4f5f5, #dfdddd);
	filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#f4f5f5, endColorstr=#dfdddd);
	color: #6E6E6E;
}

#kutikomipagenationbotan li a:hover{
	display: block; 
	text-decoration: underline;
	color: #e80f57;

}



.blogmeun{
	margin-top: 10px;
	margin-bottom: 10px;
	text-align: right;
	font-size: 12px;
}

.blogmeun li {
	display: inline-block;
}
.line_icon{
	margin-top: 60px;
}
