/*ページネーション*/
.paginationpls{
	overflow: hidden;
}

.paginationpls ul {
	list-style: none;
	position: relative;
	left: 50%;
	float: left;
}

.paginationpls ul li {
	margin: 0 1px;
	position: rilative;
	left: -50%;
	float: left;
}

.paginationpls ul li span,
.paginationpls ul li a{
	display: block;
	font-size: 18px;
	padding: 0.6em 1em;
	border-radius: 3px;
}

.paginationpls ul li a{
	background: #EEE;
	text-decoration: none;
	color: #676a6c;
}

.paginationpls ul li a:hover {
    	background: #293846;
	color: #FFF;
}


/*各リスト*/
.nextlist{
	text-align: right;
	margin: 10px 0 0 0;
}


/*ユーザー口コミ詳細ページ*/
.mail-box-headerleft{
	float: left;
}



/*ランキングデータ登録ボタンポジション*/
.form-group .entbottom{
	margin-top: 22px;
	text-align: center; 
}

/*(又は)のポジション*/
.iftext{
	margin-top: 30px;
	text-align: center;
	font-weight: bold;
}

/*ブログランキングショップ名*/
.blogrankshop{
	 font-size: 12px;
	 margin: 0;
	 color: #b4b6b8;
}
