/*ムービー一覧ページ*/

.movietime{/*投稿時間*/
	margin: 0px 0px 0px 0px;
	font-size: 12px;
	color: #6E6E6E;
}


.movies2 table {
	width: 680px;
	
}

/*ムービー一覧下段サムネイル*/
.movies2 td {
	font-size: 11px;
	text-align: center;
	padding: 10px 0px 10px 0px;
	border-right: 1px solid #D9D8D8;
	border-bottom: 1px solid #D9D8D8;
	border-left: 1px solid #D9D8D8;
	border-top: 1px solid #D9D8D8;
	box-shadow:rgba(122, 122, 122, 0.0588235) 0px 0px 6px 3px;
	-webkit-box-shadow:rgba(122, 122, 122, 0.0588235) 0px 0px 6px 3px;
	-moz-box-shadow:rgba(122, 122, 122, 0.0588235) 0px 0px 6px 3px;
	-moz-border-radius: 2px;    
   	-webkit-border-radius: 2px; 
   	border-radius: 2px;
}

/*ムービー一覧下段サムネイル*/
.cmcommentt{/*動画のコメント見出し*/
background: url(../images/pinkmidasi.gif) no-repeat center;
text-align: left;
color: #A4A4A4;
font-size: 13px;
margin: 0px 0px 0px 20px;
padding: 0px 20px 0px 20px;
}


.cmcomment{/*動画のコメント*/
background: #f1eae2;
text-align: left;
font-size: 13px;
margin: 0px 20px 0px 20px;
padding: 10px 20px 10px 20px;
border: #e3e3e3 1px solid;
}


.mainprmovie{
margin: 50px 0px 50px 0px;
}

/*1,2,3,4のデザイン-------------------------
*/
#paginate{
border:1px dotted #a2a2a2;
}

#nextcaunt ul{
list-style: none;
margin: 10px 0px 10px 0px;
padding: 0px 0px 10px 0px;
}

#nextcaunt li{ 
display: inline; 
padding: 0; 
margin: 0; 
float: left;
}

#nextcaunt li a{
display: block; 
border: 1px solid #DDD;
background-color: #EEE;
padding: 3px;
text-decoration: none;
color: #333;
width: 38px; 
margin: 1px 10px 0 0;
text-align: center;
font-size: 14px;
}

#nextcaunt li a:hover{
background-color: #e80f57;
color: #fff;
}

/*1,2,3,4のデザイン-------------------------*/



/* 1234デザインの下枠*/

.ander{
margin: 0px 0px 30px 0px;
padding: 0px 0px 20px 0px;
}
