/*
=================================================================
トップページタイムラインshop_adomin
=================================================================
*/

.timelineuserimg img{
	border-radius: 50% ;
	 width: 120px;
}


.point{
	font-size: 16px;
	font-weight: bold;
}


.iconwit a{
	color: #fff;
}

/*
=================================================================
トップページデータ関係shop_adomin
=================================================================
*/
.mainimgbox{
	width: 600px;
	height: 200px;
	overflow: hidden;
	margin: 0 auto;
}


.mainimgbox img{
	position: relative;
	top: 50%;
	left: 50%;
	width: auto;
	height: auto;
	-webkit-transform: translate(-50%,-50%);
	-ms-transform: translate(-50%,-50%);
	transform: translate(-50%,-50%);
}


/*
=================================================================
お店情報フォームの残り文字数shop_maindeta shop_extrdeta他
=================================================================
*/
#cdlength1{
	color: #777777;
	}
#cdlength2{
	color: #777777;
	}
#cdlength3{
	color: #777777;
	}
#cdlength4{
	color: #777777;
	}
#cdlength5{
	color: #777777;
	}

/*
=================================================================
cropper追加css　キャンパス、プレビュー部分
=================================================================
*/

/* Image cropper style */
.ibox-content {
	margin-bottom:15px;
}


.img-container,
.img-preview {
  overflow: hidden;
  text-align: center;
  width: 100%;
}


.image-crop{
  background-color: #f7f7f7;
}

.image-crop {
  min-height: 200px;
  max-height: 400px;
}

@media (min-width: 768px) {
  .image-crop {
    min-height: 400px;
  }
}

.image-crop > img {
  max-width: 100%;
}


.img-preview-sm {/* レビュー画像サイズ　1:1 */
  height: 150px;
  width: 150px;
}


.img-preview-smmain {/* レビュー画像サイズ　16:9 */
  height: 377px;
  width: 670px;
}

/*
=================================================================
cropper追加css　プレビューメイン画像右ボタン部分枠
=================================================================
*/
.blockspe{
	margin-top:50px;
	
}


/*
=================================================================
有料店用情報更新ページのメイン画像スペース
=================================================================
*/

.imgbottomspace{
	margin-bottom:20px;
}

