


/*
=================================================================
信憑性ラベル
=================================================================
*/

.shopkutikomiranks{/*信憑性あり!(赤)*/
	text-align: center;
	color: #DE170F;
	border: #DE170F 1px solid;
	border-radius:2px;
	padding: 1px 2px 1px 2px;
	width: 90px;
	font-weight: bold;
}
.shopkutikomiranka{/*信憑性少しあり(オレンジ)*/
	text-align: center;
	color: #FF8410;
	border: #FF8410 1px solid;
	border-radius:2px;
	padding: 1px 2px 1px 2px;
	font-weight: bold;
}
.shopkutikomirankb{/*信憑性イマイチ(緑)*/
	text-align: center;
	color: #67AB9F;
	border: #67AB9F 1px solid;
	border-radius:2px;
	padding: 1px 2px 1px 2px;
	font-weight: bold;
}
.shopkutikomirankc{/*信憑性なし(青)*/
	text-align: center;
	color: #286BCC;
	border: #286BCC 1px solid;
	border-radius:2px;
	padding: 1px 2px 1px 2px;
	font-weight: bold;
}
.shopkutikomirankd{/*判定出来ず(灰色)*/
	text-align: center;
	color: #666666;
	border: #666666 1px solid;
	border-radius:2px;
	padding: 1px 2px 1px 2px;
	font-weight: bold;
}

.voice-blokspc{
	margin-top:5px; 
}

/*
=================================================================
トップページタイムライン関係shop_adomin
=================================================================
*/



.fast-content{
	margin-top: -10px;
	margin-bottom: 5px;
	text-align: center;
}


.feedtitle{
	padding: 0px;
}

.backcro{
	background: #fff;
}

.voisetitle_timeline {
	margin-bottom: 0px;
}
.voisetitle_timeline a{
	color: #394263;
}

.timeline_imgbox{
	width: 150px;
	height: 102px;
	text-align: center;
}

.timeline_imgbox img{
	max-width: 80px;
	max-height: 80px;
}


.timelineuserimg img{
	border-radius: 50% ;
	width: 120px;
}


.point{
	font-size: 16px;
	font-weight: bold;
}


.iconwit a{
	color: #fff;
}

.timelinenewshop-avatar{
	margin-right: 10px;
}

.timelinenewshop-avatar img{
		width: 70px;
		border-radius: 2px ;
}

.timelinenewuser-avatar{
	margin-right: 10px;
}

.timelinenewuser-avatar img{
		width: 70px;
		border-radius: 50% ;
}

.timeline-avatar{
		margin-bottom: -20px;
}

.timeline-avatar img{
	    margin-right: 10px;
		width: 50px;
		border-radius: 50% ;
}

.timeline-avatar-shop{
	margin-bottom: -20px;
}

.timeline-avatar-shop img{
	    margin-right: 10px;
		width: 50px;
}



.menutime{
	display: inline-block;
	vertical-align: bottom;
	height: 50px;
}

.overflow{
	overflow: auto;
	zoom: 1;	
}

.clear{
	clear:both;
}

td{
	vertical-align: middle;
}
td img{
	vertical-align: middle;
}


/*
=================================================================
トップページタイムラインアイコン
=================================================================
*/

.refresh-icon{/*タイムライントップ*/
	font-size: 40px;
	color: #dbe1e8;
	margin-bottom: -8px
}


.prcoment{/*PRデザイン*/
		margin-bottom: 10px;
}

.prcontent{
		text-align: center;
		margin-bottom: 20px;
}

.prcontent img{
		max-width: 100%;
		max-height: 500px;
}

.prcontent_movie{
	 	position: relative;
    	padding-bottom: 56.25%;
    	padding-top: 30px;
    	height: 0;
    	overflow: hidden;
}
.prcontent_movie iframe{
		position: absolute;
    	top: 0;
		left: 0;
    	width: 100%;
    	height: 100%;
		padding-bottom: 20px;
}


.timelinecontent{
	margin-bottom: 10px;
	padding: 10px;
	border: #dbe1e8;
	border-style: solid;
	border-radius: 2px;
	border-width: 1px;
}

.timelinecontent_text a{
	color: #394263;
}

.tilinesabtitle{
	margin-top: 10px;
}

.mailtext-rink{
	margin-top: 10px;
}
/*
=================================================================
トップページデータ関係shop_adomin
=================================================================
*/
.mainimgbox{
	width: 600px;
	height: 200px;
	overflow: hidden;
	margin: 0 auto;
}


.mainimgbox img{
	position: relative;
	top: 50%;
	left: 50%;
	width: auto;
	height: auto;
	-webkit-transform: translate(-50%,-50%);
	-ms-transform: translate(-50%,-50%);
	transform: translate(-50%,-50%);
}

/*
=================================================================
トップページ
=================================================================
*/
.indexchart{
	text-align: center;
	margin-bottom: -10px;
}


/*
=================================================================
トップページ画像リストサムネイルサイズの制御
=================================================================
*/
.samimg-dash img{
	max-width: 100px;
	max-height: 100px;
}

/*
=================================================================
お店情報フォームの残り文字数shop_maindeta shop_extrdeta他
=================================================================
*/
#cdlength1{
	color: #777777;
	}
#cdlength2{
	color: #777777;
	}
#cdlength3{
	color: #777777;
	}
#cdlength4{
	color: #777777;
	}
#cdlength5{
	color: #777777;
	}

/*
=================================================================
cropper追加css　キャンパス、プレビュー部分
=================================================================
*/

/* Image cropper style */
.ibox-content {
	margin-bottom:15px;
}


.img-container,
.img-preview {
  overflow: hidden;
  text-align: center;
  width: 100%;
}


.image-crop{
  background-color: #f7f7f7;
}

.image-crop {
  min-height: 200px;
  max-height: 400px;
}

@media (min-width: 768px) {
  .image-crop {
    min-height: 400px;
  }
}

.image-crop > img {
  max-width: 100%;
}


.img-preview-sm {/* レビュー画像サイズ　1:1 */
  height: 150px;
  width: 150px;
}


.img-preview-main {/* レビュー画像サイズ　16:9 */
  height: 135px;
  width: 240px;
}

/*
=================================================================
cropper追加css　プレビューメイン画像右ボタン部分枠
=================================================================
*/
.blockspe{
	margin-top:50px;
	
}


/*
=================================================================
有料店用情報更新ページのメイン画像スペース
=================================================================
*/

.imgbottomspace{
	margin-bottom:20px;
}


/*
=================================================================
有料店の画像5枚
=================================================================
*/


.imgno{	/*画像のテーブル*/
	font-weight: bold;
	text-align: center;
	font-size:18px;
}

.errtext{/*有料メイン画像登録ページのテキストや順番を決めなかった時のエラーメッセージ*/
    	color: #e74c3c;
}


/*
=================================================================
各テキストの残り文字数
=================================================================
*/

.counttext{
	color:#6E6E6E;
	margin-top:15px;
}

/*
=================================================================
ブログ投稿ページプログレスバースペース
=================================================================
*/

.bertopspace{
	margin-top: 5px;
}


.preview-img img{/*アップロード画像のサムネイル表示*/
	max-width: 200px;
	max-height: 150px;
}

/*
=================================================================
口コミ点数
=================================================================
*/
.point{
	font-size: 15px;
	font-weight: bold;
}

/*
=================================================================
口コミ評価　左
=================================================================
*/
.bottomspc{
	margin-bottom: 10px;
}

/*
=================================================================
口コミタイトル文字色
=================================================================
*/

.voisetitle a{
	color: #394263;
}

/*
=================================================================
関連画像投稿ページ　サムネイルサイズ制御
=================================================================
*/
.post-imgsam img{
	max-width: 100px;
	max-height: 100px;
}


/*
=================================================================
画像リストページ　画像配置
=================================================================
*/

.galleryboxnaka{
	margin-bottom: 10px;
	height: 220px;
	width: 172px;
	padding: 10px;
	border: 1px solid #E5E5E5;
	box-shadow:rgba(122, 122, 122, 0.0588235) 0px 0px 6px 3px;
	-webkit-box-shadow:rgba(122, 122, 122, 0.0588235) 0px 0px 6px 3px;
	-moz-box-shadow:rgba(122, 122, 122, 0.0588235) 0px 0px 6px 3px;
	-moz-border-radius: 2px;    
	-webkit-border-radius: 2px; 
}


.tubnakawaku{/* 外枠*/
	display: flex;
	display: -moz-flex;
	display: -o-flex;
	display: -webkit-flex;
	display: -ms-flex;	
	flex-direction: row;
	-moz-flex-direction: row;
	-o-flex-direction: row;
	-webkit-flex-direction: row;
	-ms-flex-direction: row;
	justify-content: flex-start;
 	flex-wrap:wrap;
	margin-bottom:30px;
}

.tubnakawaku .imglistboxsoto{
	height: 220px;
	width: 172px;
	margin: 2px;
	padding: 5px;
	border: 1px solid #E5E5E5;
	box-shadow:rgba(122, 122, 122, 0.0588235) 0px 0px 6px 3px;
	-webkit-box-shadow:rgba(122, 122, 122, 0.0588235) 0px 0px 6px 3px;
	-moz-box-shadow:rgba(122, 122, 122, 0.0588235) 0px 0px 6px 3px;
	-moz-border-radius: 2px;    
	-webkit-border-radius: 2px; 
}

.imageboxnaka {
	margin: 4px 5px 10px 5px;
}


.samimg{
	width:150px;
	height:150px;
	overflow:hidden;
}

.caption {/* 投稿コメント */
	padding: 0px 3px 0 3px;
	font-size: 12px;
	text-align:center;
}

.imguser {/* 投稿された店舗名 */
	text-align:center;
	font-size: 13px;
	margin: 5px 0px 0px 0px;
}

/*
=================================================================
メール詳細ページ　返信タイトルのスペース
=================================================================
*/

.mailtitleblok{
	margin-bottom: 20px;
}


