
.heightblok{/*フッター固定*/
	padding-bottom: 250px;
}


.pan{	background-image:url("/kanto/member/img/imgpan1.png");  
	background-repeat: no-repeat; 
	background-position:255px 40px; 
	width: 1000px;
	height: 100px;
	text-align: center;
	margin: 50px 0px 20px 0px;
	padding: 0px 0px 0px 0px;
	font-size:15px;
}

.menbarlogin{
	margin: 20px 0px 20px 0px;
	text-align: center;
}

.entrcontentuhed{/*エントリコンテンツ*/
	width: 1000px;
        background: #f1eae2;
	border-top: 1px solid #d0d0d0;
	border-left: 1px solid #d0d0d0;
	border-right: 1px solid #d0d0d0;
	border-bottom: 1px solid #d0d0d0;
	-webkit-border-top-left-radius: 2px;
	-moz-border-radius-topleft: 2px;
	-webkit-border-top-right-radius: 2px;
	-moz-border-radius-topright: 2px;
	margin: 0px 0px 40px 0px;
}



.entrcontentuleft{/*エントリコンテンツ左*/
	margin: 20px 0px 0px 0px;
	float: left;
	width: 499px;
	border-right: 1px solid #d0d0d0;
}


.entrtitle{/*エントリコンテンツ タイトル*/
	text-align: center;
	font-size:17px;
	font-weight: bold;
}

.formoid-default-skyblue .entrinfo{/*メールの注意事項*/
	margin: 0px 0px 0px 10px;
}

.formoid-default-skyblue .entrinfo a{/*メールの注意事項リンク*/
	color: #624028;
	font-weight: bold;
	text-decoration: underline;
}

.entrinfo a:hover{/*メールの注意事項リンク*/
	color: #e80f57;
}

.entrcontenturight{/*エントリコンテンツ右*/
	margin: 20px 0px 0px 0px;
	float: right;
	width: 499px;
	border-left: 1px solid #d0d0d0;
}



.entrcontenturightsns{/*エントリコンテンツ右 snsボタン*/
	margin: 35px 0px 35px 0px;
	text-align: center;
}


.entrcontentubottom{/*エントリコンテンツボトム*/
	clear:both;
	width: 1000px;
	border-top: 1px solid #d0d0d0;
}

.bottomkiyaku{/*コンテンツボトム*/
	margin: 60px 0px 0px 20px;
	font-size:12px;
	font-weight: bold;
}

.bottomkiyakunaka{/*コンテンツボトム中文*/
	margin: 10px 0px 20px 20px;
	font-size:11px;
}


.bottomkiyakunaka a{/*コンテンツボトム中文*/
	font-weight: bold;
	text-decoration: underline;
}



/*エントリー2*/


.pan2{
	background-image:url("/kanto/member/img/imgpan2.png");  
	background-repeat: no-repeat; 
	background-position:255px 40px; 
	width: 1000px;
	height: 100px;
	text-align: center;
	margin: 50px 0px 20px 0px;
	padding: 0px 0px 0px 0px;
	font-size:15px;
}

.inputdetamail{
	width: 440px;
	padding: 10px 100px 10px 100px;
	border-radius: 2px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	margin: 40px auto; 
	background-color:#D8D8D8;
	border: 1px solid #BDBDBD;
}


.completed{
	width: 375px;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	font-size:12px;
	border: 1px solid #BDBDBD;  
	background-color:#E6E6E6;
	padding:5px 5px 5px 8px;
	margin:0 auto;
	}


.inputdeta{
	width: 438px;
	padding: 0px 100px 0px 100px;
	margin: 20px auto; 
	background: #f1eae2;
	border: 1px solid #d0d0d0;
	border-radius: 2px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
}

.element-textarea{
	width: 390px;
	
}

.counttext{
	text-align:right;
}


.count{/*文字数*/

}

/*エントリー3*/




.pan3{
	background-image:url("/kanto/member/img/imgpan3.png");  
	background-repeat: no-repeat; 
	background-position:255px 40px; 
	width: 1000px;
	height: 100px;
	text-align: center;
	margin: 50px 0px 20px 0px;
	padding: 0px 0px 0px 0px;
	font-size:15px;
}



table.brwsr2 {
    margin: 0 auto;
    width: 650px;
    border: none;
    border: solid 1px #BDBDBD;
    border-collapse: separate;
    border-spacing: 0 10px;
    background: #f1eae2;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
}

 

table.brwsr2 th {
    vertical-align: middle;
    height: 43px;
    width: 230px;
    border-right: solid 1px #BDBDBD;
    margin: 0;
    text-align: center;
    color: #4F4E4E;
    font-size: 12px;
    font-weight: bold;
}

 

table.brwsr2 td.data {
    padding: 0 10px 0 10px;
    margin: 0;
    height: 43px;
    width: 415px;
    border: none;
    color: #413324;
    font-size: 12px;
    line-height: 16px;
    text-align: center;
    vertical-align: middle;
    overflow: hidden;
}

 

table.brwsr2 td:fst-child {
    padding: 0 0 0 10px;
    vertical-align: middle;
}

 

table.brwsr2 td.bar {
    height: 1px;
    width: 650px;
    border-top: solid 1px #BDBDBD;
}


.inputfinal{

	text-align: center;
	margin: 0 auto;
	padding: 40px 0 50px 0;
}




/*エントリー4*/

.pan4{
	background-image:url("/kanto/member/img/imgpan4.png");  
	background-repeat: no-repeat; 
	background-position:255px 40px; 
	width: 1000px;
	height: 100px;
	text-align: center;
	margin: 50px 0px 20px 0px;
	padding: 0px 0px 0px 0px;
	font-size:15px;
}


.kutikomipagenation{
	height: 150px;
	margin: 100px 0px 0px 0px;
}



#kutikomipagenationbotan ul{ /*口コミ次ボタン*/
	position: relative;
	left: 50%;
	float:left;
	margin: 0; 
	padding: 0; 
	list-style: none; 
}

#kutikomipagenationbotan li{ 
	padding: 0; 
	margin: 0; 
	position: relative;
	left: -50%;
	float:left;
}

#kutikomipagenationbotan li a{
	display: block; 
	text-decoration: none;
	width: 190px; 
	height: 30px;
	margin: 10px 6px 0px 6px;
	padding: 6px 0px 0px 0px;
	text-align: center;
        border:1px solid #d7dada; -webkit-border-radius: 3px; 
	-moz-border-radius: 3px;
	border-radius: 3px;
	font-size:13px;
	text-decoration:none; display:inline-block;
	text-shadow: -1px -1px 0 rgba(255,255,255,0.3); color: #424242;
        background-color: #f4f5f5; background-image: -webkit-gradient(linear, left top, left bottom, from(#f4f5f5), to(#dfdddd));
        background-image: -webkit-linear-gradient(top, #f4f5f5, #dfdddd);
        background-image: -moz-linear-gradient(top, #f4f5f5, #dfdddd);
        background-image: -ms-linear-gradient(top, #f4f5f5, #dfdddd);
        background-image: -o-linear-gradient(top, #f4f5f5, #dfdddd);
        background-image: linear-gradient(to bottom, #f4f5f5, #dfdddd);
	filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#f4f5f5, endColorstr=#dfdddd);
	color: #6E6E6E;
}

#kutikomipagenationbotan li a:hover{
	display: block; 
	text-decoration: underline;
	color: #e80f57;

}


.infobottom{
	width: 1000px;
	margin: 100px auto 30px auto;
}

.inputinfo{
	text-align: center;
	font-size:18px;
	font-weight: bold;
	vertical-align:top;
}



.inputinfo img{
	vertical-align:top;
}


.blokleft{
	float:left;
	width: 490px;
	margin-top: 30px;
}



.blokright{
	float:right;
	width: 490px;
	margin-top: 30px;
}



.blokbottom{
	clear:both;
}


.blokimgleft{
	float:left;
	width: 165px;
}

.bloktextleft{
	float:right;
	width: 315px;
	margin-top: 0px;
}




.blokleft p{
	font-size:14px;
	font-weight: bold;
}

.blokright p{
	font-size:14px;
	font-weight: bold;
}




/*仮登録完了*/

.thanksblok{
	margin: 40px auto;
	padding: 10px; 
	text-align: center;
    	width: 650px;
    	border: none;
    	border: solid 1px #BDBDBD;
    	border-collapse: separate;
    	border-spacing: 0 10px;
    	background: #f1eae2;
    	border-radius: 3px;
    	-webkit-border-radius: 3px;
    	-moz-border-radius: 3px;
}


.thankstitle{
	margin: 20px 0 20px 0; 

}

.thankstitle span{
	font-size:16px;
	font-weight: bold;

}

.thankscntent{
	margin: 0 auto;
	font-size:14px;
	font-weight: bold;
    	background: #fff;
    	border: solid 1px #fff;
    	border-radius: 3px;
    	-webkit-border-radius: 3px;
    	-moz-border-radius: 3px;
	width: 80%;
	padding: 10px 0 10px 0; 
}

.tanksbottom{
	margin-top: 30px;
}

.tanksinfoblok{
	margin: 0 auto;
	padding: 10px 0 10px 0; 
    	width: 650px;
}

.tanksinfo{
	text-align: left;
	margin: 30px 0 30px 0;
}

.risttitle{
	font-size:14px;
	font-weight: bold;
}

.bottomspce{
	margin-bottom: 20px;
}



/*パスワードをわすれたら*/


.passreissueblok{
	margin: 20px auto;
	padding: 10px; 
   	width: 650px;
}


.passtitle{
	text-align: left;
	margin: 30px auto;
	line-height: 30px;
	color: #FFFFFF;	/*文字色*/
	background: url(/kanto/common/header/img/title_bg.gif) no-repeat center;	/*背景画像の読み込み*/
	width: 648px;
	padding-left: 30px;

}



.infotitle{
	font-size:14px;
	font-weight: bold;
}

.mailleft{
	text-align: left;
}

.emailformblok{


}


.passbody{
	margin: 40px auto;
	width: 500px;
     	border: solid 1px #BDBDBD;
}










