﻿@charset "UTF-8";
@import url(http://fonts.googleapis.com/css?family=Pinyon+Script);


/*ログインページ背景画像
---------------------------------------------------------------------------*/

.bacimg{
	width:100%;
   	background-image: url(/kanto/member/img/bacimg.jpg);
  	background-repeat: no-repeat;
   	background-attachment: fixed;
	background-position: center center;
	background-size: cover;
	background-color: #464646;
}

/*筆記体キャッチ
---------------------------------------------------------------------------*/
.start{
	color: #fff;
 	font-size: 24px;

}


/*ログインページ全体
---------------------------------------------------------------------------*/
#loginbox {
	width: 1000px;
	height: 620px;		
	color: #968575;
	margin: 0 auto;
	padding: 0px;
	text-align: center;
	position:relative;
	margin-bottom: 60px;
}



.leftblok{
	float: right;
	width: 550px;
}
.rightblok{
	float: right;
	width: 550px;
	margin-top: 35px;
}



/*ログインフォーム右ボックス
---------------------------------------------------------------------------*/
.loginform {
	text-align: center;
	margin-left:80px;
	padding: 20px 0px 0px 0px;
	height: 350px;	
	width: 320px;
}

/*ログインフォームSNSボタンボックス
---------------------------------------------------------------------------*/
.loginboxsns {
	color: #ffffff;
	margin-left:100px;
	padding: 25px 0px 25px 0px;	
	width: 350px;
	border: 1px solid #424242;
  	border-bottom-color: #000;
  	border-radius: 3px;
	background: #000;	/*背景色*/
	background-color: rgba(0, 0, 0, 0.37)
	}

.snstable{
	text-align: left;
	margin: 0 auto;
}

.snstable td{
	padding-right:10px;
	padding-bottom:10px;
}


.loginboxsns img{
	vertical-align: middle;
	border-radius:50%;
}



.loginboxsns a {
	color: #ffffff;
}

.loginboxsns a:hover {
	color: #e80f57;
}



/*ログインフォーム下ボックス
---------------------------------------------------------------------------*/
.loginboxbottom{
	margin: 0px 0px 0px 0px;
	clear: both;
	text-align: center;
}




/*ログインフォームデザイン
---------------------------------------------------------------------------*/



input, textarea, select, label {
  font-size: 13px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.login {
	margin: 20px auto;
	padding: 18px 20px;
	width: 350px;
	border: 1px solid #424242;
  	border-bottom-color: #000;
	border-radius: 3px;
	background: #000;	/*背景色*/
	background-color: rgba(0, 0, 0, 0.37);
}

.login > h1 {
  margin-bottom: 20px;
  font-size: 15px;
  font-weight: bold;
  color: white;
  text-align: center;

}

.login-input {
  	font-size: 15px;
  	display: block;
  	width: 100%;
  	height: 37px;
  	margin-bottom: 20px;
 	padding: 0 9px;
  	color: #fff;	
	background: #000;	/*背景色*/
	background-color: rgba(0, 0, 0, 0.55);
  	border: 1px solid #15243b;
  	border-top-color: #0d1827;
  	border-radius: 3px;
  	box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.2);
}

.login-input:focus {
	outline: 0;
	background: #000;	/*背景色*/
	background-color: rgba(0, 0, 0, 0.25);
}

.lt-ie9 .login-input { line-height: 35px; }

.login-submit {
	width: 100%;
	margin-bottom: 10px;
	-moz-box-shadow:inset 0px 1px 0px 0px #9A8570;
	-webkit-box-shadow:inset 0px 1px 0px 0px #9A8570;
	box-shadow:inset 0px 1px 0px 0px #9A8570;
	background-color:#806952;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
	border:1px solid #54381e;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-size:13px;
	font-weight:bold;
	padding:12px 35px;
	text-decoration:none;
	text-shadow:0px 1px 0px #4d3534;

}

.login-submit:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #634b30), color-stop(1, #7d5d3b));
	background:-moz-linear-gradient(top, #634b30 5%, #7d5d3b 100%);
	background:-webkit-linear-gradient(top, #634b30 5%, #7d5d3b 100%);
	background:-o-linear-gradient(top, #634b30 5%, #7d5d3b 100%);
	background:-ms-linear-gradient(top, #634b30 5%, #7d5d3b 100%);
	background:linear-gradient(to bottom, #634b30 5%, #7d5d3b 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#634b30', endColorstr='#7d5d3b',GradientType=0);
	background-color:#634b30;
}
.login-submit:active {
	position:relative;
	top:1px;
}



.checkbox {
 font-size: 11px;
  color: #fff;
  text-align: center;
  text-decoration: none;
}

.login-help {
  text-align: center;
}

.login-help > a {
  font-size: 11px;
  color: #fff;
  text-decoration: none;
  
}

.login-help > a:hover {
  text-decoration: underline;
}

::-moz-focus-inner {
  padding: 0;
  border: 0;
}

:-moz-placeholder { color: #fff !important; }
::-webkit-input-placeholder { color: #fff; }
:-ms-input-placeholder { color: #fff !important; }


/*チェックボタン*/
/*エリア検索用チェック
--------------------*/

input[type=radio], input[type=checkbox] {
    display: none;
}

input[type=radio]:checked + .radio:before,
input[type=checkbox]:checked + .check:before {
    opacity: 1;
}

.check {
    box-sizing: border-box;
    position: relative;
    display: inline-block;
    margin: 0 20px 10px 0;
    padding: 0 0 0 30px;
    vertical-align: middle;
    cursor: pointer;
}

.check:hover:after {
    border-color: #e80f57;/*枠色ピンク*/
}

.check:after {
    position: absolute;
    top: 50%;
    left: 0;
    display: block;
    margin-top: -12px;
    width: 18px;
    height: 18px;
    border: 2px solid #bbb;
    border-radius: 3px;
    content: '';
}

.check:before {
    position: absolute;
    top: 50%;
    left: 7px;
    display: block;
    margin-top: -9px;
    width: 5px;
    height: 10px;
    border-right: 3px solid #ff7ba6;/*チェックピンク*/
    border-bottom: 3px solid #ff7ba6;/*チェックピンク*/
    transform: rotate(45deg);
    content: '';
    opacity: 0;
}




