﻿
/*サブコンテンツ（右側ブロック）
---------------------------------------------------------------------------*/
#sub {
	float: right;	/*左側に回り込み*/
	width: 280px;	/*ブロック幅*/
	padding: 13px 0px 250px 0px;	/*左から、上、右、下、左への余白*/
}

/*サブメニュー（サイドブロックのメニュー）
---------------------------------------------------------------------------*/
ul.menu {
	margin-bottom: 1em;
}

ul.menu li {
	border-right: 1px solid #a2a2a2;	/*右側の線の幅、線種、色*/
	border-bottom: 1px solid #a2a2a2;	/*下側の線の幅、線種、色*/
	border-left: 1px solid #a2a2a2;		/*左側の線の幅、線種、色*/
}

ul.menu li a {
	text-decoration: none;
	display: block;
	width: 268px;
	padding: 5px;
	background: #FFFFFF url(../img/bg2.gif) no-repeat center 1px;	/*背景色、背景画像の読み込み*/
}
ul.menu li a:hover {
	color: #333333;	/*マウスオン時の文字色*/
	background: #e7e1da;	/*マウスオン時の背景色*/
}




/*h3タグ設定*/
#sub h3,
#side h3 {
	clear: both;
	width: 280px;
	background: #958574;
}
/*h3タグをテキストタイプで使う場合の設定*/
#side h3.text,
#sub h3.text {
	color: #ffffff;	/*文字色*/
	background: url(/kanto/common/light/img/s_title_bg.gif) no-repeat center;
	width: 248px;
	padding-left: 30px;
	border: 1px solid #968575;
	line-height: 30px;
	font-size: 100%;
}
/*段落タグの余白設定*/
#sub p,
#side p {
	padding: 0.5em 0px 1em;	/*左から、上、左右、下への余白*/
}



/*新検索ボックス
---------------------------------------------------------------------------*/
.searchbox{
    margin:0px 0 0 0 ;
}

.light{ /*検索ボックス*/
	margin:0px 0px 10px 0px;
	border-left: 1px solid #E5E5E5;
	border-right: 1px solid #E5E5E5;
	border-bottom: 2px solid #E5E5E5;
	background: #fff;
	border-radius: 2px;
	padding: 8px 8px 8px 14px;	/*ボックス内の余白*/
}

form, input {
  margin: 0; /* マージンをリセット */
}
form {
  position: relative; /* 基準位置とする */
} 
input[type="search"] {
        background-color: #f1eae2;
        border: 0;
        height: 30px;
        width: 190px;
        padding: 0 10px; 
  	box-sizing: content-box; /* 幅にパディングを含めない */
	border: 2px solid #f1eae2;
	border-radius:2px;
	color:#413324;
	font-size: 14px;
	-webkit-appearance: textfield;
} 
input[type="image"] {
 	border: 0;
  	padding: 0;
  	width: 30px;
 	height: 30px; /*  */
  	position: absolute; /* 絶対配置 */
  	left: 220px; /* 左から220px */
  	top: 2px;
} 

input[type="search"]:focus {
  	background:rgba(251,215,162,0); /* 背景色を半透明に */
	border: 2px solid #E2DCD4;
	outline-style: none;
}

input[type="image"]:hover {
  opacity: 0.5; /* ボックスを半透明に */
}

::-webkit-input-placeholder {color: #BDBDBD} 
/*Firefox 19以降*/ 
::-moz-placeholder  {color: #BDBDBD} 
/*Firefox 18以前*/ 
:-moz-placeholder   {color: #BDBDBD} 
/*Windows IE*/ 
:-ms-input-placeholder  {color: #BDBDBD}  



/*ピックアップ店舗
---------------------------------------------------------------------------*/

.pickup{
	font-weight: bold;
	color:#624028;
}

.boxpicupwaku{
	border-right: 1px solid #fae486;
	border-bottom: 2px solid #fae486;
	border-left: 1px solid #fae486;
	border-top: 1px solid #fae486;
	margin:0 0 10px 0 ;
	border-radius:2px;
}

.boxpickup{
	border-bottom: 1px solid #fae486;
	background: #fefae6;
	padding: 5px 0 5px 10px;
	line-height: 1.6;
	width: 268px;
	overflow: hidden;
}



#sub .boxpickup p,
#side .boxpickup p {
	padding: 0px;
}
#sub .boxpickup p.img,
#side .boxpickup p.img {
	float: left;
}
#sub .boxpickup p.img a img,
#side .boxpickup p.img a img {
	margin-right: 5px;
	border: 1px solid #fff;
}
#sub .boxpickup p.img a:hover img,
#side .boxpickup p.img a:hover img {
	border: 1px solid #e80f57;
}



/*ピックアップ*/
.pickupshopnaem{/*店名*/
	margin: 8px 0px 0px 0px;
	font-size: 13px;
	font-weight:bold;
	line-height: 15px;
}

.pickupshopnaem a{
	color:#624028;
}
.pickupshopnaem a:hover{
	color:#e80f57;
}
.pickupworkareapr{/*エリア、業種*/
	color:#6E6E6E;
	font-size: 11px;
}




/*人気検索地域リスト
---------------------------------------------------------------------------*/
#sub .arealist{
	margin: 10px 0px 10px 0px;
	background: #fff;
	width: 279px;
	border-top: 1px solid #E5E5E5;
	border-left: 1px solid #E5E5E5;
	border-right: 1px solid #E5E5E5;
	border-bottom: 2px solid #E5E5E5;
}

#sub .textarealist ul{
	margin: 0px 0px 10px 0px;
}

#sub .textarealist li{
	font-size: 13px;
	margin: 2px 0px 0px 30px;
}

#sub .textarealist li a {
	color: #624028;
	text-decoration: underline;
}

#sub .textarealist li a:hover{
	color: #e80f57;
	text-decoration: underline;
}

#sub .textarealist li img{
	vertical-align: text-top;
}




/*新着掲載店
---------------------------------------------------------------------------*/

.newshopwaku{    
	margin:0 0 0px 0 ;
}




#sub .box1,
#side .box1 {
	border-left: 1px solid #E5E5E5;
	border-right: 1px solid #E5E5E5;
	border-bottom: 2px solid #E5E5E5;
	border-radius: 2px;
	background: #FFF;
	padding: 5px 0 5px 10px;	/*ボックス内の余白*/
	font-size: 12px;	/*文字サイズ*/
	line-height: 1.6;	/*行間*/
	width: 268px;	/*ボックス幅*/
	overflow: hidden;
}


#sub .box1 p,
#side .box1 p {
	padding: 0px;
}

#sub .box1 p.img,
#side .box1 p.img {
	float: left;
}
#sub .box1 p.img a img,
#side .box1 p.img a img {
	margin-right: 5px;
	border: 1px solid #958574;
}
#sub .box1 p.img a:hover img,
#side .box1 p.img a:hover img {
	border: 1px solid #e80f57;
}





/*ピックアップ、新着共用*/
.newshopnaem{/*店名*/
	font-size: 13px;
	font-weight:bold;
	line-height: 15px;
}

.newshopnaem a{
	color:#624028;
}
.newshopnaem a:hover{
	color:#e80f57;
}
.newworkareapr{/*エリア、業種*/
	color:#6E6E6E;
	font-size: 11px;
}


.newshopent{/*---お店登録日--------*/
	color: #6E6E6E;
}



.newshophoka{/*---新店他--------*/
	text-align: right;
	margin: 0px 5px 10px 0px;
}

.newshophoka img{/*---新店他--------*/
	vertical-align: text-top;
}


.shopnamewaid{/*---似てる求人　観覧履歴　横幅　文字数14文字改行--------*/
	width: 22em;
}



/* 右の店舗メニュー*/

/*box1過去に見た求人と似てる求人
---------------------------------------------------------------------------*/

.shopteam {/*外ボックス*/
margin: 0px 0px 0px 0px;
padding: 0px 0px 10px 0px;
}


#sub .shopbox1,
#side .shopbox1 {
	border-top: 1px solid #E5E5E5;
	border-left: 1px solid #E5E5E5;
	border-right: 1px solid #E5E5E5;
	border-bottom: 1px solid #E5E5E5;
	background: #FFFFFF;	/*背景色*/
	padding: 5px 0 5px 10px;	/*ボックス内の余白*/
	font-size: 11px;	/*文字サイズ*/
	width: 268px;	/*ボックス幅*/
	overflow: hidden;
	height: 65px;
}
#sub .shopbox1 p,
#side .shopbox1 p {
	padding: 0px;
}
#sub .shopbox1 p.img,
#side .shopbox1 p.img {
	float: left;	/*画像を左側に回り込みさせる設定*/
}
#sub .shopbox1 p.img a img,
#side .shopbox1 p.img a img {
	margin-right: 10px;	/*画像の右側にスペースをあける*/
	border: 1px solid #958574;	/*画像の枠線の幅、線種、色*/
}
#sub .shopbox1 p.img a:hover img,
#side .box1 p.img a:hover img {
	border: 1px solid #e80f57;	/*マウスオン時の枠線の幅、線種、色*/
}


.smlehosi{
	margin: 0px 0px 0px 0px;
}

.smlehosi img{/*高さ調整*/
	vertical-align: text-top;
}

.smlescr{
	color: #e80f57;
	font-size: 12px;
	font-weight:bold;
}


#sub .shopbox1 strong,
#side .shopbox1 strong {
	font-size: 12px;
	color: #624028;	
	line-height: 1;	/*行間*/
}
#sub .shopbox1 strong a,
#side .shopbox1 strong a {
	color: #624028;	
}
#sub .shopbox1 strong a:hover,
#side .shopbox1 strong a:hover {
	color: #e80f57;	
}


.rirekieria{/*履歴用エリア*/
	color: #6E6E6E;
	font-size: 10px;
}


#side h4.text,
#sub h4.text {
	color: #848484;	/*文字色*/
	background: url(/kanto/common/light/img/s_title_shop.gif) no-repeat center;	/*背景画像の読み込み*/
	width: 248px;
	padding-left: 30px;
	line-height: 30px;
	font-size: 100%;
	text-decoration: underline;
}


/*サイド、編集部からのお知らせ
---------------------------------------------------------------------------*/


#sub .information {
	margin: 0px 0px 10px 0px;
	overflow: auto;
	height: 200px;
	width: 270px;
	padding-left: 10px;
	padding-bottom: 10px;
	border-top: 1px solid #E5E5E5;
	border-left: 1px solid #E5E5E5;
	border-right: 1px solid #E5E5E5;
	border-bottom: 2px solid #E5E5E5;
	border-radius: 2px;
	background: #FFF;
}
#sub .information dl {
	clear: left;
	width: 250px;
	border-bottom: 1px solid #cccccc;
	overflow: hidden;
}
#sub .information dt {
	float: left;
	width: 200px;
	color: #6E6E6E;
	
}
#sub .information dd a{
	float: left;
	width: 250px;
	font-weight: bold;
}


/*ライン*/



.sns{
	background: url(/kanto/common/light/img/linebg.png) no-repeat center;
	border-right: 1px solid #088A08;
	border-top: 1px solid #088A08;
	border-left: 1px solid #088A08;
	padding-left: 30px;
	line-height: 40px;
	font-size: 100%;
	width: 248px;
	color: #fff;
	font-weight: bold;
	border-radius: 2px 2px 0px 0px;
}

.snstitle{
	margin: 0px 0 0 30px;
} 

.snsblok{
    margin:0px 0 0 0 ;
    
}

.lightsnsblok{
	margin:0px 0px 10px 0px;
	border-right: 1px solid #088A08;
	border-bottom: 1px solid #088A08;
	border-left: 1px solid #088A08;
	border-radius: 0px 0px 2px 2px;
	padding: 5px 0px;	/*ボックス内の余白*/
}

.idfrom{
	text-align: center;
	font-weight: bold;
	font-size: 18px;
}



/*お役立ちサイト
---------------------------------------------------------------------------*/


#sub .toolweb {
	margin: 0px 0px 0px 0px;
	overflow: auto;
	height: 270px;
	width: 270px;
	padding-left: 10px;
	border-left: 1px solid #E5E5E5;
	border-right: 1px solid #E5E5E5;
	border-bottom: 2px solid #E5E5E5;
	border-radius: 2px;
	background: #FFF;
}
#sub .toolweb dl {
	clear: left;
	width: 250px;
	border-bottom: 1px solid #cccccc;
	overflow: hidden;
}
#sub .toolweb dt {
	float: left;
	width: 200px;
}
#sub .toolweb dd {
	float: left;
	font-weight: bold;
	width: 250px;
}




/*アフィリエイトバナー右ボックス用
---------------------------------------------------------------------------*/
.afi{
	text-align: center;
	margin: 10px 0px 10px 0px;
	width: 280px;
}



/*アフィリエイトバナー右ボックス用
---------------------------------------------------------------------------*/

.rinkweb{
}

























