

body .matome{
	background-image:url(/kanto/beautymatome/img/body-bg.jpg);
}

hr {
	border: 1px solid #d0d0d0;
	border-width: 1px 0px 0px 0px; /* 太さ */
}

/*帯タイトル1000px
---------------------------------------------------------------------------*/
#titleovi{
	width: 100%;
	margin:0px 0px 0px 0px; 
	padding:20px 0px 20px 0px;
	background: #f5f5f5;
	font-size: 23px;
	color:#24b4c0;
}

.titleovileft{
	float:left;
	margin:0px 0px 0px 20px;
}

.titleoviright{
	float:left;
	margin:10px 0px 0px 50px;
}

.titleovirightsab{
	margin:0px 0px 0px 0px;
	font-size: 13px;
	color:#424242;
	line-height: 17px;
}


.titleovicenter{
	 clear:both;
}

/*3分割左ナビメニュー
---------------------------------------------------------------------------*/
.navleft{
	float:left;
	width: 150px;
	margin:6px 0px 0px 0px; 
}

/*３分割センターコンテンツメニュー
---------------------------------------------------------------------------*/
.kizibox{
	float:right;
	width: 490px;
	margin:6px 0px 0px 0px; 
	color:#424242;
}


/*左ナビメニューデザイン
---------------------------------------------------------------------------*/

#menurisut {
    margin:30px 0px 0px 0px;
    padding:10px; /* メニュー全体170px; */
    width:130px; /* リンク部分150px; */
    background: #f5f5f5;
}
#menurisut li {
    list-style-type:none; /* リスト記号なし */
    margin-bottom:5px;
}
#menurisut a { 
    padding:5px; /* 背景を広げるための内側余白 */
    display:block;
    font-weight:bold;
    font-size:12px;
    color:#424242;
    text-decoration:none; /* 下線なし */
}

#menurisut a:hover {
    color:#fff;
    background-color:#24b4c0;
}



li.lihavr{
    color:#fff;
    background-color:#24b4c0;
    padding:5px; /* 背景を広げるための内側余白 */
    display:block;
    font-weight:bold;
    font-size:12px;
    text-decoration:none; /* 下線なし */
}




/*各ボックスのフロートクリア
---------------------------------------------------------------------------*/


.frotcria{
clear: both;
}


/*記事コンテンツブロック
---------------------------------------------------------------------------*/


.kizibigtaitl{/* 記事種類タイトル */
	margin: 0px 0px 15px 30px;
	font-size:17px;
}


.cntercontent{/* 1記事外枠 */
	border-bottom:1px dotted #a2a2a2;
	margin: 0px 0px 15px 0px;
}

.cntercontentkizileft{/* 記事左 */
	float:left;
	width: 80px;
	margin: 0px 0px 0px 5px;
	padding: 0px 0px 10px 0px;
}

.cntercontentkiziright{/* 記事右 */
	margin: 2px 0px 0px 0px;
	width: 390px;
	line-height:18px;
	float:right;
	font-size:15px;
    	
}

.cntercontentkiziright a{
	color:#424242;
}

.kizibun{/* 記事内容 */
	font-size:12px;
	color:#8B8B8B;
	margin: 5px 0px 0px 0px;
}


.kiziizmtime{/* 記事種類と投稿日 */
	text-align: right;
	font-size:11px;
	color:#6E6E6E;
	margin: 5px 0px 0px 0px;
}


/*1,2,3,4のデザイン-------------------------*/

.kzinextbox{/* 外ボックス */
	margin: 0px 0px 15px 10px;
}

#paginate{
border:1px dotted #a2a2a2;
}

#nextcaunt ul{
list-style: none;
margin: 10px 0px 10px 0px;
padding: 0px 0px 10px 0px;
}

#nextcaunt li{ 
display: inline; 
padding: 0; 
margin: 0; 
float: left;
}

#nextcaunt li a{
display: block; 
border: 1px solid #DDD;
background-color: #EEE;
padding: 3px;
text-decoration: none;
color: #333;
width: 27px; 
margin: 1px 5px 0 0;
text-align: center;
font-size: 11px;
}

#nextcaunt li a:hover{
background-color: #e80f57;
color: #fff;
}

/*1,2,3,4のデザイン-------------------------*/




.matomepr{
	margin-top:20px;
}



/*ピックアップ店舗
---------------------------------------------------------------------------*/

.boxpicupwaku{
	border-right: 1px solid #fae486;
	border-bottom: 1px solid #fae486;
	border-left: 1px solid #fae486;
	border-top: 3px solid #fae486;
	margin:0 0 10px 0 ;
	border-radius:2px;
}

.boxpickup{
	box-shadow:rgba(122, 122, 122, 0.0588235) 0px 0px 6px 3px;
	-webkit-box-shadow:rgba(122, 122, 122, 0.0588235) 0px 0px 6px 3px;
	-moz-box-shadow:rgba(122, 122, 122, 0.0588235) 0px 0px 6px 3px;
	background: #fefae6;
	padding: 5px;
	line-height: 1.6;
	width: 268px;
	overflow: hidden;
}



#sub .boxpickup p,
#side .boxpickup p {
	padding: 0px;
}
#sub .boxpickup p.img,
#side .boxpickup p.img {
	float: left;
}
#sub .boxpickup p.img a img,
#side .boxpickup p.img a img {
	margin-right: 5px;
	border: 1px solid #fff;
}
#sub .boxpickup p.img a:hover img,
#side .boxpickup p.img a:hover img {
	border: 1px solid #e80f57;
}



/*ピックアップ*/
.pickupshopnaem{/*店名*/
	margin: 8px 0px 0px 0px;
	font-size: 13px;
	font-weight:bold;
	line-height: 15px;
}

.pickupshopnaem a{
	color:#624028;
}
.pickupshopnaem a:hover{
	color:#e80f57;
}
.pickupworkareapr{/*エリア、業種*/
	color:#6E6E6E;
	font-size: 11px;
}



/*記事詳細ページ
---------------------------------------------------------------------------*/

#mainboxmatome {
	width: 1000px;	/*ブロック幅*/
	min-height: 100%;
	padding-bottom: -250px;
}


.matomedetails {
	margin:20px 0px 0px 20px; 
	padding: 0px 10px 10px 10px;
	color:#424242;
	float:left;
	width: 806px;

}

.imgblok{
	float:left;
}

.titleblok {
	margin-top: -10px;
	margin-bottom: 10px;
	font-size: 30px;
	line-height: 38px;
	padding-left: 28px;
	overflow: hidden;	/* for modern browser */
	zoom: 1;	/* for ie6 */
}


.kizitime {
	font-size:11px;
	margin-top: 0;
	color: #6E6E6E;
}


/*記事種類*/

.label-info {/*ファッション ライトグリーン*/
	margin-left: 20px;
	color: #fff;
	background: #1ab394;
	font-size: 12px;
	padding: 5px;
	border-radius: 3px;
}

.label-primary {/*ビューティー　グリーン*/
	margin-left: 20px;
	color: #fff;
	background: #337ab7;
	font-size: 12px;
	padding: 5px;
	border-radius: 3px;
}

.label-warning {/*グルメ　イエロー*/
	margin-left: 20px;
	color: #fff;
	background: #f8ac59;
	font-size: 12px;
	padding: 5px;
	border-radius: 3px;
}

.label-default {/*ダイエット　ホワイト*/
	margin-left: 20px;
	color: #6c6f71;
	background: #fff;
	font-size: 12px;
	padding: 5px;
	border: 1px solid #6c6f71;
	border-radius: 3px;
}

.label-success {/*旅行　ブルー*/
	margin-left: 20px;
	color: #fff;
	background: #1c84c6;
	font-size: 12px;
	padding: 5px;
	border-radius: 3px;
}

.label-danger {/*恋愛  レッド*/
	margin-left: 20px;
	color: #fff;
	background: #ed5565;
	font-size: 12px;
	padding: 5px;
	border-radius: 3px;
}

.label-gray-custom {/*仕事　グレー*/
	margin-left: 20px;
	color: #fff;
	background: #777;
	font-size: 12px;
	padding: 5px;
	border-radius: 3px;
}

/*記事種類*/

.matomedeta {
	float: right;
	font-size: 13px;
	text-align: right;
	display: inline-block;
	margin-top: 5px;
}


.matomedeta li{
	display: inline-block;
	vertical-align: top;
	width: 70px;
}

.matomedeta li a{
	color: #6E6E6E;
	width: 70px;
	text-decoration: underline;
}


.matomedeta li:first-child {
	width:72px;
}
.matomedeta li:last-child {
	width:82px;
}


.matomemaincontent{
	width: 700px;
	margin-top: 10px;
	font-size: 14px;
	padding: 50px;
	line-height: 22px;
	border: 1px solid #000;
	word-break: break-all;
}


.push {
  height: 250px;
}


.picupkizibox {
	width: 550px;
	margin-top: 120px; 
	color:#424242;
	
}

.picupkizibigtaitl{/* 記事種類タイトル */
	margin: 0px 0px 0px 0px;
	font-size:17px;
}


.picupkizileft{/* 記事左 */
	float:left;
	width: 80px;
	margin: 0px 0px 0px 5px;
	padding: 0px 0px 10px 0px;
}

.picupkiziright{/* 記事右 */
	margin: 2px 0px 0px 30px;
	line-height:18px;
	float:left;
	font-size:15px;
}

.picupkiziright a{
	color:#424242;
}


.fa-heart{/*--アイコンボタンハート--*/
	color: #e80f57;
	margin: 0px 0px 0px 0px;
}
